<link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png?v=BG49KW27xQ">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png?v=BG49KW27xQ">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png?v=BG49KW27xQ" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png?v=BG49KW27xQ" sizes="192x192">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png?v=BG49KW27xQ" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=BG49KW27xQ" sizes="16x16">
<link rel="manifest" href="/assets/favicon/manifest.json?v=BG49KW27xQ">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=BG49KW27xQ">
<meta name="msapplication-TileColor" content="#9f00a7">
<meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png?v=BG49KW27xQ">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=BG49KW27xQ">
<meta name="theme-color" content="#ffffff">