<ul class="{embed:class}">
	<li>
		<a href="http://pinterest.com/solemates/">
			<svg class="icon">
				<use xlink:href="#pinterest"></use>
			</svg>
			<span>Pinterest</span>
		</a>
	</li>
	<li>
		<a href="http://www.facebook.com/pages/The-SoleMates-High-Heeler/118537338370?ref=ts">
			<svg class="icon">
				<use xlink:href="#facebook"></use>
			</svg>
			<span>Facebook</span>
		</a>
	</li>
	<li>
		<a href="http://twitter.com/#!/thesolemates">
			<svg class="icon">
				<use xlink:href="#twitter"></use>
			</svg>
			<span>Twitter</span>
		</a>
	</li>
	<li>
		<a href="http://instagram.com/thesolemates">
			<svg class="icon">  I
				<use xlink:href="#instagram"></use>
			</svg>
			<span>Instagram</span>
		</a>
	</li>
	<li>
		<a href="https://plus.google.com/101687258013641814067/posts">
			<svg class="icon">
				<use xlink:href="#gplus"></use>
			</svg>
			<span>Google+</span>
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com/channel/UCzxFx2a3esG1N8xxulM_dfQ">
			<svg class="icon">
				<use xlink:href="#youtube"></use>
			</svg>
			<span>Youtube</span>
		</a>
	</li>
</ul>