{exp:store:checkout
	disable_javascript="yes"
	html:checkout-form="checkout"
	html:next-step="2"
}
	<div class="row">
		<div col-sm="12" col-md="12">
			<table class="order-details">
				<thead>
					<tr class="">
						<th colspan="2">Product</th>
						<th>Qty</th>
						<th colspan="2">Price</th>
					</tr>
				</thead>
				
				{items}
					{exp:channel:entries entry_id="{entry_id}" dynamic="no"}
						<tr cart-row class="cart-item__meta">
							<td>
								{if product_gallery_type == "sku"}
									<img src="/assets/img/products/{sku}.jpg">
								{if:else}
									<img src="{product_gallery:url}">
								{/if}
							</td>
							<td>
								<p class="cart-item__name">{title}</p>
								<p class="cart-item__modifiers">
									{modifiers}
										<span>{modifier_value}</span>
									{/modifiers}
								</p>
							</td>
							<td>
								<p class="input quantity">
									<input type="text" name="items[{key}][item_qty]" id="item_qty_{key}" value="{item_qty}" maxlength="3" item-qty>
								</p>
							</td>
							<td class="price">
								{item_subtotal}
							</td>
							<td>
								<label remove-from-cart class="icon--remove">
<!--
									<svg class="icon--remove">
										<use xlink:href="#plus"></use>
									</svg>
-->
									<input type="checkbox" name="remove_items[{key}]" value="1" hidden>
								</label>
							</td>
						</tr>
					{/exp:channel:entries}
				{/items}
				<tr class="">
					<td colspan="2"></td>
					<td class="">Subtotal</td>
					<td class="price">{{ cart.order_subtotal }}</td>
					<td></td>
				</tr>

				<tfoot>
					<tr>
						<td colspan="5" class="have-coupon">
							<a href="" ng-if="!promoCode" ng-click="showPromoCode()">Do you Have a coupon?</a>
							<div ng-if="promoCode">
								<label for="promo_code">Promo Code:</label>
								<p class="input">
									{field:promo_code}
								</p>
							</div>
						</td>
					</tr>
					<tr>
						<td colspan="2" class=""></td>
						<td colspan="3" class="">
							<p class="submit">
								<label class="has-btn">
									continue
									<input class="" type="submit" name="update_cart" value="continue">
								</label>
							</p>
						</td>
					</tr>
				</tfoot>
			</table>
		
		</div>
	</div>
{/exp:store:checkout}
