{exp:store:checkout
	disable_javascript="true"
	require="first_name|last_name|address1|city|postcode|country|order_email"
	html:checkout-form="checkout"
	html:next-step="3"
}
	<div class='m2-top grey-heavy'>Billing Address</div>
	<div class="form-row">
		<div col-sm="12" col-md="6">
			<label for="first-name">First Name</label>
			<p class="input">
				{field:billing_first_name}
			</p>
		</div>
		<div col-sm="12" col-md="6">
			<label for="first-name">Last Name</label>
			<p class="input">
				{field:billing_last_name}
			</p>
		</div>
	</div>
	
	<div class="form-row">
		<div col-sm="12" col-md="6">
			<label for="first-name">Address</label>
			<p class="input">
				{field:billing_address1}
			</p>
		</div>
		<div col-sm="12" col-md="6">
			<label for="first-name">Address 2</label>
			<p class="input">
				{field:billing_address2}
			</p>
		</div>
	</div>
	
	<div class="form-row">
		<div col-sm="12" col-md="6">
			<label for="first-name">City</label>
			<p class="input">
				{field:billing_city}
			</p>
		</div>
		<div col-sm="12" col-md="6">
			<label for="first-name">State</label>
			<p class="input">
				{field:billing_state}
			</p>
		</div>
	</div>
	
	<div class="form-row">
		<div col-sm="12" col-md="6">
			<label for="first-name">Postal Code</label>
			<p class="input">
				{field:billing_postcode}
			</p>
		</div>
		<div col-sm="12" col-md="6">
			<label for="first-name">Country</label>
			<p class="input">
				{field:billing_country}
			</p>
		</div>
	</div>
	
	<div class="form-row">
		<div col-sm="12" col-md="6">
			<label for="first-name">Phone</label>
			<p class="input">
				{field:billing_phone}
			</p>
		</div>
		<div col-sm="12" col-md="6">
			<label for="first-name">Email</label>
			<p class="input">
				{field:order_email}
			</p>
		</div>
	</div>
	
	<div id="shipping-fields" hidden  class="checkout-step">
		<div class='m3-top grey-heavy'>Shipping Address</div>
		<div class="form-row">
			<div col-sm="12" col-md="6">
				<label for="first-name">First Name</label>
				<p class="input">
					{field:shipping_first_name}
				</p>
			</div>
			<div col-sm="12" col-md="6">
				<label for="first-name">Last Name</label>
				<p class="input">
					{field:shipping_last_name}
				</p>
			</div>
		</div>
	
		<div class="form-row">
			<div col-sm="12" col-md="6">
				<label for="first-name">Address</label>
				<p class="input">
					{field:shipping_address1}
				</p>
			</div>
			<div col-sm="12" col-md="6">
				<label for="first-name">Address 2</label>
				<p class="input">
					{field:shipping_address2}
				</p>
			</div>
		</div>
	
		<div class="form-row">
			<div col-sm="12" col-md="6">
				<label for="first-name">City</label>
				<p class="input">
					{field:shipping_city}
				</p>
			</div>
			<div col-sm="12" col-md="6">
				<label for="first-name">State</label>
				<p class="input">
					{field:shipping_state}
				</p>
			</div>
		</div>
	
		<div class="form-row">
			<div col-sm="12" col-md="6">
				<label for="first-name">Postal Code</label>
				<p class="input">
					{field:shipping_postcode}
				</p>
			</div>
			<div col-sm="12" col-md="6">
				<label for="first-name">Country</label>
				<p class="input">
					{field:shipping_country}
				</p>
			</div>
		</div>
	
		<div class="form-row">
			<div col-sm="12" col-md="6">
				<label for="first-name">Phone</label>
				<p class="input">
					{field:shipping_phone}
				</p>
			</div>
		</div>
	</div>
	
	<div class="checkout-cell__footer table-row">
		<div col-md="7" col-sm="12" valign="middle">
			<p class="checkbox">
				<label>
					{field:shipping_same_as_billing}
					Ship items to the above billing address
				</label>
			</p>
		</div>
		<div col-sm="12" col-md="5" valign="middle">
			<p class="submit">
				<label class="has-btn">
					Continue
					<input type="submit" name="update_cart" class="" value="Continue">
				</label>
			</p>
		</div>
	</div>
{/exp:store:checkout}
