{layout="layouts/_site"}

{if segment_2 == "success"}
	
	{exp:store:orders order_hash="{segment_3}"}
		<section id="checkout-success">
			<div class="container text-center">
				<div class="headline">
					<h1>Thank you for your <mark>order</mark>!</h1>
					<p>Thank you for your order.  We hope you enjoy your new products. Please visit us again soon!</p>
					<p>Your order number: <strong>#{order_id}</strong></p>
					<p>Follow us, like us, and love us:</p>
					{embed="embeds/_social" class="inline-social"}
				</div>
			</div>
		</section>
		{exp:expresso_cj order_id="{order_id}"}
			<iframe
				name="cj_conversion" height="1" width="1" frameborder="0" scrolling="no"
				src="https://www.emjcd.com/tags/c?containerTagId=5650&{cj_items}&CID=1528667&OID={order_id}&TYPE=364159&CURRENCY=USD">
			</iframe>
		{/exp:expresso_cj}
	{/exp:store:orders}
	
{if:else}
	
	<section ng-if="cart.order_qty == 0" class="ng-cloak">
		<div class="container text-center">
			<div class="headline">
				<h1>Your shopping cart is <mark>empty</mark>.</h1>
				<p><a href="{path="shop"}" class="btn">Shop Our Products</a></p>
			</div>
		</div>
	</section>

	<section class="checkout ng-cloak" ng-if="cart.order_qty > 0" ng-controller="CheckoutCtrl">

		<div class="container">
	
			<div class="headline">
				<h1><mark>My</mark> Cart</h1>
			</div>
	
			<div class="row">
		
				<div col-sm="12" col-lg="8">
				
					{if segment_2 != "payment"}
				
						<div class="checkout-cell order no-after">
							<div class="row">
								<div col-sm="12" col-md="12">
									<h2>Order</h2>
									<svg class="icon--checkmark" ng-show="step > 1">
										<use xlink:href="#checkmark"></use>
									</svg>
								</div>
							</div>
							<div checkout-step="1" class="checkout-step">
								{embed="checkout/_step1"}
							</div>
						</div>
				
						<!--- Billing Address -->
						<div class="checkout-cell no-after">
							<div class="row">
								<div col-sm="12" col-md="12">
									<h2>Customer Information</h2>
									<svg class="icon--checkmark" ng-show="step > 2">
										<use xlink:href="#checkmark"></use>
									</svg>
								</div>
							</div>
							<div checkout-step="2" class="checkout-step">
								{embed="checkout/_step2"}
							</div>
						</div>
				
					{/if}
				
					<!--- Shipping & Payment -->
					<div class="checkout-cell no-after">
						<div class="row">
							<div col-sm="12" col-md="12">
								<h2>Shipping &amp; Payment</h2>
								<svg class="icon--checkmark" ng-show="step > 3">
									<use xlink:href="#checkmark"></use>
								</svg>
							</div>
						</div>
						<div checkout-step="3" class="checkout-step"></div>
					</div>
				
					<div class="checkout-cell">
						<h2>Confirmation</h2>
					</div>
			
				</div>
		
				<div col-sm="hidden" col-md="hidden" col-lg="4">
					<div class="checkout__summary checkout-cell grey-heavy" affix ng-class="{fixed: active}">
						<h2 class="p3-left p3-right">Order Summary</h2>
						<table>
							<tr>
								<td>Discount</td>
								<td><small>{{ cart.order_discount }}</small></td>
							</tr>
							<tr>
								<td>Subtotal</td>
								<td><small>{{ cart.order_subtotal }}</small></td>
							</tr>
							<tr>
								<td>Shipping</td>
								<td><small>{{ cart.order_shipping }}</small></td>
							</tr>
							<tr>
								<td>Estimated Tax</td>
								<td><small>{{ cart.order_tax }}</small></td>
							</tr>
						</table>
						<div class="hr"></div>
						<table>
							<tr>
								<td><h2>Total</h2></td>
								<td class="pink"><small>{{ cart.order_total }}</small></td>
							</tr>
						</table>
						<div class="hr"></div>
						<ul class="order-summary__footer">
							<li>
								<a href="{path="shipping-information "}">
									<svg class="icon">
										<use xlink:href="#shipping"></use>
									</svg>
									Shipping Information
								</a>
							</li>
							<li>
								<a href="{path="return-policy "}">
									<svg class="icon">
										<use xlink:href="#returns"></use>
									</svg>
									Returns
								</a>
							</li>
							<li>
								<a href="{path="about/contact "}">
									<svg class="icon">
										<use xlink:href="#email"></use>
									</svg>
									Contact
								</a>
							</li>
						</ul>
	
					</div>
				</div>
		
			</div>
	
		</div>

	</section>
	
{/if}
