{exp:store:checkout
	disable_javascript="true"
	html:checkout-form="true"
	html:next-step="4"
}
	<div id="shipping_options">
		{shipping_methods}
			<label><input type="radio" name="shipping_method" value="{method_id}" {if method_selected}checked{/if}> {method_title} ({method_price})</label>
		{/shipping_methods}
	</div>
{/exp:store:checkout}
