{exp:store:checkout
	disable_javascript="true"
	require="shipping_method"
	payment_method="{payment_gateway}"
	return="checkout/success/ORDER_HASH"
	html:checkout-form="checkout"
	html:next-step="4"
	html:novalidate="novalidate"
}
	<div class="row">
		<div col-sm="12">
			<div class="m2-top grey-heavy">Shipping Options</div>
			<div class="checkbox">
				{shipping_methods}
					<label><input type="radio" name="shipping_method" value="{method_id}" {if method_selected}checked{/if}> {method_title} ({method_price})</label>
				{/shipping_methods}
			</div>
		</div>
	</div>
	
	<div class="row">
		<div col-sm="12" col-lg="9">
			<p class="grey-heavy">Payment Information</p>
			<p style="color:#ff0000;" ng-if="paymentError">Oops! There is an issue with your payment method. Please try again!</p>
			<div class="form-row">
				<div col-sm="12">
					<label for="cc-name">Name on Card</label>
					<p class="input">
						<input type="text" name="payment[card_name]" id="cc-name">
					</p>
				</div>
			</div>
			<div class="form-row">
				<div col-sm="12" col-md="9">
					<label for="cc-number">Card Number</label>
					<p class="input">
						<input id="card-number" pattern="[0-9]*" name="payment[card_no]" credit-card>
					</p>
				</div>
				<div col-sm="12" col-md="3">
					<label for="cvc">CVC</label>
					<p class="input">
						<input type="text" name="payment[csc]" pattern="[0-9]*" id="cvc" cvc>
					</p>
					{!--
					<a href="">
						<svg class="icon--info">
							<use xlink:href="#minus"></use>
						</svg>
					</a>
					--}
				</div>
			</div>
			<div class="form-row">
				<div col-sm="12"><label>Expires</label></div>
				<div col-sm="12" col-md="6">
					<p class="input">
						<select name="payment[exp_month]">
							{exp_month_options}
						</select>
					</p>
				</div>
				<div col-sm="12" col-md="6">
					<p class="input">
						<select name="payment[exp_year]">
							{exp_year_options}
						</select>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="checkout-cell__footer table-row">
		<div col-md="7" col-sm="12" valign="middle">
			<p class="checkbox">
				<label>
					<input type="checkbox" name="order_custom8" value="1" checked="checked">
					Yes, I’d like to receive updates &amp; offers from Solemates.
				</label>
			</p>
		</div>
		<div col-sm="12" col-md="5" valign="middle">
			<p class="submit">
				<label class="has-btn">
					Place Order
					<input type="submit" name="submit" value="Place Order">
				</label>
			</p>
		</div>
	</div>
	
{/exp:store:checkout}
