{layout="layouts/_site"}

<section>
	
	<div class="container">
	<center>
		
		<div class="headline">
			<h1>Thank you for your <mark>order</mark></h1>
		</div>
		
		<div class="row">
			<div col-sm="12" col-md="12">
				<p>You’ll receive an email with your tracking information m eget risus varius blandit.</p>
				<p>Your order number: <strong>#00205</strong></p>
				<p>Follow us, like us, and love us:</p>
				{embed="embeds/_social" class="inline-social"}
			</div>
		</div>
		
	</center>
	</div>
	
</section>
