@mixin animate-css($name, $delay, $duration, $wrap:true) {
	@if $wrap {
		@include media($large) {
			visibility:hidden;
			&.animate-in {
				@include animation-name($name);
				@include animation-delay($delay);
				@include animation-duration($duration);
				@include animation-fill-mode(both);
				visibility:visible;
			}
		}
		
	} @else {
		@include animation-name($name);
		@include animation-delay($delay);
		@include animation-duration($duration);
		@include animation-fill-mode(both);
		visibility:visible;
	}
}