/**
 * Source: http://cssarrowplease.com/
 */

@mixin arrow-box($position: relative, $direction: top, $arrowSize: 10px, $arrowOffset: 50%, $borderWidth: 1px, $borderColor: #000, $bgColor: #fff, $verticalOffset: 100%) {
	& {
		position: $position; background: $bgColor;
		border: $borderWidth solid $borderColor;
	}
	&:after, &:before {
		@if $direction == top {
			bottom: $verticalOffset;
		}
		@else if $direction == bottom {
			top: $verticalOffset;
		}
		left: $arrowOffset; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	}

	&:after {
		border-color: rgba($bgColor, 0); border-width: $arrowSize; margin-left: ($arrowSize * -1);
		@if $direction == top {
			border-bottom-color: $bgColor;
		}
		@else if $direction == bottom {
			border-top-color: $bgColor;
		}
	}
	&:before {
		border-color: rgba($borderColor, 0);
		@if $direction == top {
			border-bottom-color: $borderColor;
		}
		@else if $direction == bottom {
			border-top-color: $borderColor;
		}
		@if $borderWidth > 1 {
			$borderWidth: $borderWidth + 1;
		}
		border-width: $arrowSize + $borderWidth; margin-left: ($arrowSize * -1) - $borderWidth;
	}
}
