@mixin button($large: false) {
	@include transition(all .5s ease-in-out);
	@include font-weight(bold);
	@include text-medium;
	background-color: $red; display:inline-block; position:relative; text-align:center; vertical-align:middle; text-transform:none; cursor:pointer; border:none; color:#fff;min-height: 48px; line-height: 48px; padding: 0 3.5rem;
		
	@if $large {
		width: 100%;
	}

	&:hover, &:focus {
		@include transition(all .25s ease-in-out);
		background-color: $black; text-decoration: none; color:#fff;
	}
}

@mixin button--stroke($color: $black) {
	min-height: 42px; line-height: 42px; border:.3rem solid $color; background-color: transparent; color: $color; padding:0 3.5rem;
}
