@mixin text-theme-default($initial: false) {
	
	@if($initial == true) {
		body {
			color:$body;
		}
	}@else{
		color:$body;
	}

	h1,h2,h3,h4,h5,h6 {
		color:$body;
		
	}

	a{
		i{
			color:$link;
		}
	}

	
}


@mixin text-theme-dark($bg: false) {
	color:white;
	p {
		color:white;
	}
	h1,h2,h3,h4,h5,h6{color:#fff;}

	@if($bg){
		background:$black;background-position:center;background-size:cover;
	}
}
