/* Font Familys */
@mixin font-primary {
	font-family: "AvantGardeGothicITCW01Bk",sans-serif;
}
@mixin font-icon {
	font-family: "fa-icons";
}

/* Weight Mixin */
@mixin font-weight($weight) {
	@if($weight == "regular") {
		@include font-primary;
	}
	@if($weight == "bold") {
		font-family: "AvantGardeGothicITCW01Bd",sans-serif;
		-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-smoothing:antialiased; text-rendering:optimizeLegibility;
	}
}

/* Headlines */
@mixin font-headline($size) {

	@include font-weight(bold);

	@if($size == "xsmall") {
		@include font-size(2.1rem, 1.33333em);
	}

	@if($size == "small") {
		@include font-size(1.3rem, 1.5rem);
	}

	@if($size == "medium") {
		@include font-size(1.6rem, 2.5rem);
	}

	@if($size == "large") {
		@include font-size(1.8rem, 2.5rem);
	}

	@if($size == "xlarge") {
		@include font-size(2.6rem, 3rem);
	}

	@if($size == "xxlarge") {
		@include font-size(3.3rem, 4rem);
	}

	@if($size == "xxxlarge") {
		@include font-size(6.0rem, 6.5rem);
	}

}

/* Text Sizes */
@mixin text-small {
	@include font-size(1.4rem, 2.0rem);
}
@mixin text-medium {
	@include font-size(1.6rem, 2.5rem);
}
@mixin text-large {
	@include font-size(1.8rem, 3.0rem);
}
