/*
 * These need to be separate from the config because they have to be decalred AFTER we include neat
*/

$small: new-breakpoint(min-width 0);
$small-only: new-breakpoint(max-width ($mediumWidth - 1));
$medium: new-breakpoint(min-width $mediumWidth);
$medium-down: new-breakpoint(max-width ($largeWidth - 1));
$medium-only: new-breakpoint(min-width $mediumWidth max-width ($largeWidth - 1));
$large: new-breakpoint(min-width $largeWidth);
$large-down: new-breakpoint(max-width ($xlargeWidth - 1));
$large-only: new-breakpoint(min-width $largeWidth max-width ($xlargeWidth - 1));
$xlarge: new-breakpoint(min-width $xlargeWidth);