/* Grid */
$max-width: 974px;
$wrapper-padding: 17px;
$gutter: 20px;
$grid-columns:12;
$column: 60px;

/* Break Points */
$mediumWidth: 520px;
$largeWidth: 768px;
$xlargeWidth: 974px;

/* Colors */
$body: #515050;
$pink: #ee2a7b;
$link: $pink;
$lite: #999999;
$lite2: #e3e3e3;
$dark: #282626;

/* product colors */
$prodColorGold: #dab64b;
$prodColorSilver: #d7d8d8;
$prodColorFog: #b7b7b7;
$prodColorGrass: #bcc645;
$prodColorOcean: #a4b7b8;
$prodColorBlack: black;
$prodColorClear: white;
