blockquote {
	margin: 0px;
}
figure {
	margin:0;
	&.full-width {
		img {
			display:block; margin:0 auto; padding:0;
		}
	}
}

img {
	max-width:100%; height:auto;
}

mark {
	background:none;
}

label {
	cursor:pointer;
}

ul {
	padding-left:30px;
	li + li {
		margin-top:.8em;
	}
}

svg {
	vertical-align:middle; position:relative; top:-1px;
}

sup {
	line-height:0;
}
