.form-row {
	@include grid-row;
	& + & {
		margin-top:12px;
	}
	@include media($small-only) {
		[col-sm='12'] + [col-sm='12'] {
			margin-top:12px;
		}
	}
}

label {
	@include text-small;
	@include font-secondary; 
	text-transform: uppercase; display:block; color:$dark; margin-bottom:5px; font-weight:500;
	.input + & {
		margin-top:12px;
	}
	&.error {
		margin-top:5px; font-size:11px; color:red;
	}
}

.input {
	background:#fff; border:1px solid #e3e3e3; position:relative; border-radius:3px; height:38px; margin:0;
	&.input--inline {
		display: inline-block; margin: 0 7px; vertical-align: middle;
	}
	&.input--large {
		height:50px;
	}
	&.input--numeric {
		@include font-secondary;
		width: 40px;
		input {
			text-align: center;
		}
	}
	input:not([btn-icon]) {
		@include text-small;
		@include size(100%);
		position:absolute; left:0; top:0; border:none; padding:0 7px; z-index:1;
	}
}

.checkbox {
	label {
		@include text-xsmall;
		$indent: 17px;
		padding-left:$indent; text-indent:-($indent);
	}
}

.submit {
	label {
		@include button($large: true);
	}
	input {
		display:none;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

input[type=radio] {
	margin: 10px 0;
}

[input-icon] {
	background-size: 23px;
	border: none; background-color: transparent; background-repeat: no-repeat;
}

[input-icon="email"] {
	background-image: url("/assets/img/sprites/email.svg");
}

[btn-icon] {
	@include size(23px);
	border: none; background-color: transparent; background-repeat: no-repeat;
}

[btn-icon="circular-arrow"] {
	background-image: url("/assets/img/sprites/circular-arrow.svg");
}
