.container {
	@include outer-container;
	position:relative; min-width:320px; padding-left:$wrapper-padding; padding-right:$wrapper-padding;
}

.row {
	@include grid-row;
}

.table-row {
	@include grid-row;
	@include media($medium) {
		display:table; width: 100%; margin:0;
		> * {
			display:table-cell !important; float:none !important;
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
			}
		}
		[valign="middle"] {
			vertical-align:middle;
		}
	}
}

/* Columns */
@include media($small) {
	@include build-columns("sm");
}
@include media($medium) {
	@include build-columns("md");
}
@include media($large) {
	@include build-columns("lg");
}
@include media($xlarge) {
	@include build-columns("xl");
}

[col-right] {
	float:right;
}

.centered {
	@include centered;
}

.one-half {
	width: 50%;
	display: inline-block;
	
	&:last-child {
		margin-left: -5px;
	}
}

.right {
	float: right;
}
