* {
	outline:none !important; box-sizing:border-box;
}

html,body {width:100%; height:100%;}

body {
	min-width:320px;
}

h1,h2,h3,h4,h5,h6,p,li,span,a,figure,svg,table {
	@include textTransform(opacity);
	opacity:0;
	.wf-active &,
	.wf-inactive & {
		opacity:1;
	}
}

.outerwrapper {
	display:table; width:100%; height:100%; overflow:hidden;
}

.upperwrapper {
	display:table-row;
}

.lowerwrapper {
	display:table-footer-group;
}

.bg-dark {
	background:#f8f8f8;
}

#header {
	@include clearfix;
	position:relative; z-index:2; box-shadow: 0 2px 5px 0 rgba(0,0,0,.12);
	@include media($medium-down) {
		text-align:center;
	}
	.container {
		padding-bottom:18px;
		@include media($medium-down) {
			padding:10px 0;
		}
	}
	.top-panel {
		@include font-secondary;
		@include font-size(13px, 30px);
		@include clearfix;
		color:#fff; background:$pink; margin-bottom:15px;
		@include media($medium-down) {
			display:none;
		}
		.container {
			padding-bottom:0;
		}
	}
	.top-panel__message {
		float:left; margin:0; text-transform:uppercase;
	}
	.top-panel__social {
		@include inline-social(#fff);
		li:hover {
			svg {
				fill:#fff;
			}
		}
		float:right;
	}
}

.logo {
	display:inline-block;
	@include media($large) {
		display:block; float:left;
	}
	img {
		display:block; padding:0;
		@include media($medium-down) {
			width:142px;
		}
	}
}

.header__tools {
	> * {
		@include vertCenter(absolute);
	}
	.icon {
		@include size(24px);
		fill: $pink;
	}
	.cart {
		left:$wrapper-padding;
	}
	.menu {
		right:$wrapper-padding;
	}
	.nav-toggle {
		right:$wrapper-padding; width:24px; height:1px; border:none; padding:0; background:$pink; cursor:pointer; z-index:901;
		&:before,
		&:after {
			@include transition(transform .5s ease-in-out);
			display:block; position:relative; content:'';
		}
		&:before {
			border-top:1px solid $pink; padding-bottom:6px; top:-7px;
		}
		&:after {
			border-bottom:1px solid $pink; padding-top:6px; top:-6px;
		}
		&.active {
			background:transparent;
			&:before,
			&:after {
				padding:0; top:0; border-width:2px; border-color:#fff;
			}
			&:before {
				@include transform(rotate(45deg));
				top:1px;
			}
			&:after {
				@include transform(rotate(-45deg));
				top:-1px;
			}
		}
	}
	.header__mask {
		width:0; height:0; overflow:hidden;
	}
	.active + .header__mask {
		@include transition(width .5s ease-in-out);
		@include linear-gradient($pink 0%, $pink 80%, transparent);
		position:absolute; display:block; width:97%; height:150px; right:0; top:0; z-index:900;
	}
	@include media($large) {
		display:none;
	}
}

.header__links {
	@include list-style-reset;
	@include font-size(12px,1em);
	float:right;
	@include media($medium-down) {
		display:none;
	}
	li {
		float:left;
	}
	li + li {
		margin-left:20px;
	}
	a {
		color:$body;
		&:hover {
			color:$pink;
		}
		strong {
			color:$body;
		}
	}
	.icon {
		@include size(15px);
		margin-right:3px; fill:$pink;
	}
}

.cart--hover {
	
	@include text-small;
	@include arrow-box--top($arrowOffset: 15%);
	width: 200px; text-align: center; position: absolute; top:60px; left:0; z-index: 1; padding: 15px; line-height:20px;
	
	@include media($large) {
		@include arrow-box--top($arrowOffset: 85%);
		top:26px; left:auto; right:-4px;
	}
	
	img {
		padding: 0px;
	}
	
	.product-meta {
		text-align: left; vertical-align: top;
		p {
			@include text-xsmall;
			margin: 0 0px 4px 8px;
		}
	}
	
	.btn {
		color: white; margin-top: 30px;
		
		&:hover {
			color: white; background-color: black;
		}
	}
	
}

.slideout-nav {
	visibility:hidden; position:absolute; right:0; width:97%; max-width:350px; height:100vh; background:$pink; overflow:auto; z-index:900; color:#fff; padding:80px 20px 0 20px;
	@include media($large) {
		display:none;
	}
	.nav-active & {
		right:0;
	}
	&.animated {
		visibility:visible;
	}
	ul {
		@include list-style-reset;
		@include font-size(17px,1em);
		text-align:right;
		ul {
			@include font-size(14px,1em);
		}
	}
	li {
		clear:right;
	}
	ul + ul {
		&:before {
			display:block; width:40px; height:1px; margin:25px 0 10px; content:''; background:#fff; float:right;
		}
	}
	a {
		display:inline-block; color:inherit; padding:8px 0;
	}
	
	.slideout__primary {
		font-weight:500;
		ul {
			font-weight:400;
		}
	}

	.slideout__social {
		@include inline-social;
		float:right;
		.icon {
			@include size(24px);
			fill:#fff;
		}
	}
	
	.slideout__close {
		position:absolute; top:20px; right:20px;
		svg {
			@include size(30px);
			fill:#fff;
		}
	}
	
}

.primary-nav {
	@include clearfix;
	@include font-size(17px,1em);
	position:absolute; right:$wrapper-padding; bottom:-2px;
	@include media($medium-down) {
		display:none;
	}
	a {
		display:block; float:left; color:$body; padding-bottom:15px; border-bottom:2px solid transparent;
		&:hover {
			color:$pink;
		}
	}
	a + a {
		margin-left:30px;
	}
	.active {
		border-color:#ef2875; color:$pink;
	}
}

.secondary-nav {
	@include font-size(14px,48px);
	height:46px; border-bottom:1px solid #e5e5e5; text-align:center;
	@include media($medium-down) {
		display:none;
	}
	a {
		display:inline-block; color:$body; margin:0 14px;
	}
	a:hover,
	.active {
		color:$pink;
	}
}

main {
	
}

section {
	&:last-of-type {
		padding-bottom:80px;
		@include media($large) {
			padding-bottom:100px;
		}
	}
}

#footer {
	border-top:1px solid #e7e7e7; padding:26px 0;
}

.footer__nav {
	@include clearfix;
	@include font-size(14px,25px);
	a {
		display:block; float:left; color:$body;
		@include media($large) {
			margin:0 9px;
		}
		&:after {
			@include media($medium-down) {
				content:'/'; margin:0 8px;
			}
		}
		&:hover {
			color:$pink;
		}
		&:first-child {
			margin-left:0;
		}
		&:last-child {
			margin-right:0;
			&:after {
				display:none;
			}
		};
	}
	.newsletter {
		@include media($large) {
			float:right; color:$pink; margin-right:0;
		}
		.icon {
			@include size(13px);
			fill: $pink; margin-right:3px;
			@include media($medium-down) {
				display:none;
			}
		}
	}
}

.copyright {
	@include font-size(12px,18px);
	color:rgba(#999999,.8);
	a {
		color:inherit; margin:0 2px;
		&:hover {
			text-decoration:underline;
		}
	}
}
