/* ==========================================================================
   Typography
   ========================================================================== */

body,input,textarea,button {
	@include font-primary;
	@include text-medium;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

@include text-theme-default($initial: true);

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

h1 {
	@include font-headline("xlarge","secondary");
	@include media($large) {
		margin-bottom:10px;
	}
}

h2 {
	@include font-headline("large","secondary");
}

h3 {
	@include font-headline("medium");
}

h4 {
	@include font-headline("medium");
	font-weight:400;
	
	figure + & {
		margin-top: 30px;
		@include media($medium) {
			margin-top: 40px;
		}
	}
	
	h2 + & {
		margin-top:20px;
	}
}

h5 {
	@include font-headline("small","secondary");
}

p {
	@include noTopOrBottom;
	margin:1.4em 0;
	h4 + & {
		margin-top:0;
	}
	h3 + & {
		margin: 0 0 1.4em 0;
	}
}

a {
	color:$link;
	&, * {
		@include textTransform;
	}
	&, &:hover {
		text-decoration:none;
	}
}
[a-href] {
	cursor:pointer;
}

strong {
	font-weight:500;
}

small {
	@include text-small;
}

.footnote {
	@include noTopOrBottom;
	margin:1.4em 0;
	@include text-xsmall;
	color:$lite;
	a {
		color:inherit; text-decoration:underline;
	}
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}

.grey-heavy {
	@include font-secondary;
	font-size: 12px; color: #999999; text-transform:uppercase; margin-bottom: 10px; font-weight: 500;
	
	& + .radio-input { margin-top: 0; }
}

.pink {
	color: #ee2a7b;
}

.grey-opac {
	@include color(#999999, .7);
}
