/*****************************
 Helpers
 *****************************/
@mixin button-reset() {
	background-color: transparent; border-style: solid; border-width: 0; color: inherit;
}

@mixin list-style-reset() {
	@include clearfix;
	margin:0; padding:0; list-style:none;
	li,
	li + li {
		margin:0;
	}
}

@mixin trans-bg($bgcolor,$opacity) {
	background-color:$bgcolor;
	background-color:rgba($bgcolor,$opacity);
}

@mixin color($color,$opacity) {
	color:$color;
	@if $opacity {
		color:rgba($color,$opacity); 
	}
}

@mixin hoverSprites($sprites) {
	@each $sprite in $sprites {
		.#{nth($sprite, 1)} {
			@include sprite(nth($sprite, 2));
			&:hover {
				@include sprite(nth($sprite, 3));
			}
		}
	}
}

@mixin noTopOrBottom() {
	&:first-child {margin-top:0;}
	&:last-child {margin-bottom:0;}
}

@mixin textTransform($transition: color) {
	@include transition($transition .15s ease-in-out);
}

@mixin font-size($fontsize, $lineheight: null) {
	font-size: $fontsize;
	@if $lineheight {
		line-height:$lineheight;
	}
}

@mixin vertCenter($position, $offset:-50%) {
	@include transform(translateY($offset));
	position:$position; top:50%;
}


/*****************************
 Grid / Structure
 *****************************/
@mixin grid-row($display:block) {
	@include row;
	display: $display; position:relative; margin-left:($gutter/-2); margin-right:($gutter/-2);
}

@mixin column($cols, $display:block) {
	@include span-columns($cols, $display);
	width:percentage($cols/$grid-columns); padding-left:($gutter/2); padding-right:($gutter/2); margin-right:0;
}

@mixin column-shift($cols) {
	margin-left:percentage($cols/$grid-columns);
}

@mixin build-columns($size) {
	@for $i from 1 through $grid-columns {
		[col-#{$size}='#{$i}'] {
			@include column($i);
		}
	}
	/* Visibility */
	[col-#{$size}='hidden'] {
		display:none;
	}
}

@mixin centered($hasDimensions: true) {
	@if $hasDimensions {
		display:block; float:none !important; margin-left:auto !important; margin-right:auto !important;
	}
	@else {
		// centers horizontally + vertically when dimensions are unknown
		// container must be position: relative
		position: absolute; top:50%; left:50%; @include transform(translate(-50%,-50%));
	}
}
