.blog__title {
	margin-bottom:.6em;
}

.blog__date {
	@include text-xsmall;
	color:$lite;
	& + p {
		margin-top:0;
	}
}

.blog__page {
	h3 {
		color: $pink;
	}
}

.blog__article:nth-last-child(-n+2) {
	margin-bottom: 65px;
}

.blog__comments {
	margin-top:35px;
}
