.breadcrumbs {
	@include list-style-reset;
	@include text-xsmall;
	padding-top: 15px;
	
	li, li + li {
		float: left; margin-right: 5px;
	}
	
	li::after {
		content: '›'; margin-left: 5px;
	}
	
	a {
		color: #3c3b3b;
	}
	
	li:last-child {
		a {
			pointer-events: none; color: $lite;
		}
		
		&::after {
			content: '';
		}
	}
}
