.btn {
	@include button();

	&.btn--large {
		@include button($large: true, $initial: false);
	}
	&.btn--black {
		background-color: black;
	}
	&.btn--white {
		background-color: white; color: $pink;
	}
}
