.checkout {
	@include grid-row;
	@include font-secondary;
	background: #f6f6f6;
	
	@include media($small-only) {
		p.submit label  {
			margin-top: 20px;
		}
	}
	
	label {
		margin-bottom: 0;
	}
	
	table { width:100%; }
	
	th { 
		padding: 5px 0px; font-weight: 500; 
	}
	
	td, th { text-align: left; }
	
	.quantity { width: 40px; }
	
	.cart-item__meta {
		@include font-primary;
		
		td:first-child {
			width: 60px; padding-right: 10px;
		}
		img {
			width:60px; padding: 0px;
		}
	}
	
	.cart-item__name {
		margin: 0;
	}
	
	.cart-item__modifiers {
		@include text-xsmall;
		color: $lite; margin: 0px;
		span + span {
			&:before {
				content:' - ';
			}
		}
	}
	
	.checkbox { 
		margin-top: 0;
		
		label {
			@include font-primary;
			@include text-small;
			font-weight: normal; padding-left: 16px;
		}
	 }
	
	//Sprites
	.icon--info {
		height: 14px; width: 14px; fill: #c4c4c4; transform: rotate(90deg); margin-top: 12px; margin-left: 5px;
	}
	
	.icon--remove {
		@include size(17px);
		float: right; margin-bottom: 0px; background-repeat: no-repeat; background-image: url(../img/sprites/remove.svg);
	}
}

.order-details {
	
	table-layout: auto;

	@include media($xlarge) {
//		table-layout: fixed;
	}
	
	th {
		@include media($xlarge) {
			&:nth-child(1) {
				width: 360px;
			}
			&:nth-child(2) {
				width: 112px;
			}
		}
	}
	
	.price {
		padding-left: 5px !important;
		@include media($medium) {
			padding-left: 0px !important;
		}
	}
	
	tbody {
		tr td:last-child {
			padding-left: 38px;
		}
	}
	
	tbody tr:last-child {
		text-transform: uppercase;
		
		td {
			padding: 20px 0;	
		}
		
		td:nth-child(2) {
			@include text-xsmall;
			color: $lite;
		}
	}
}

.order-summary__footer {
	@include list-style-reset;
	padding: 0 30px;
	
	a {
		color: rgba($lite, 0.7);
		
		&:hover, &:focus {
			color: $pink;
			
			.icon {
				fill: $pink;
			}
		}
	}
}

.order {
	
	thead {
		@include text-xsmall;
		color: $lite; text-transform: uppercase;
	}
	
	thead tr, tbody tr {
		border-bottom: 1px solid $lite2;
	}
	
	td { 
		padding: 11px 0 5px 0;
	}
	
	tfoot {
		tr:last-child td {
			text-align: right;
		}
	}	
	.have-coupon {
		@include text-xsmall;
		text-transform: uppercase;
	}
	
	[item-qty] { text-align: center; }
	
	.row:last-child {
		padding-top: 0 !important;
	}
	
}

.checkout__place-order {
	@include column(8);
}

.checkout-cell {
	background: white; padding: 30px 10px; margin: 20px 0; position: relative;
	
	@include media ($medium) {
		padding: 30px 30px;
	}
	
	h2 { 
		font-size: 14px; text-transform: uppercase; font-weight: 500;
	}
	
	.icon--checkmark {
		height:10px; width:14px; fill: #f14b8f; right: 30px; position: absolute; top: 50%; transform: translateY(-50%);
	}
	
	.row + .row { padding-top: 35px; }
	
	&__footer {
		margin-top: 25px;
	}
}

.checkout-step {
	
	label {
		@include font-primary;
		font-weight: 500; text-transform: capitalize;
		
		&.has-btn {
			@include button();
			float: right;
			
			@include media($medium) {
				width: 70%;
			}
			
			.btn {
				@include button();
			}
		}
	}
}

//When checkout-cell is active
.no-after { &:after { display: none; } }

.checkout__summary {
	position: relative;
	
	&.checkout-cell {
		padding: 30px 0px;
	}
	
	table {
		
		tr {
			td {
				padding: 0 30px;
			}
			
			td:nth-child(2) {
				text-align: right;
			}
		}
	}
	
	&.fixed {
		position:fixed; top:0px;
	}
	
	h2 {
		margin-bottom: 10px;
	}
	td {
		width: 100%; 
		h2 { margin-bottom: 0; }
	}
	
	&:after{ 
		position: absolute; width: 100%; content: ''; z-index:2; height: 7px; background: url("../../assets/img/bottom-tear.png") repeat; bottom: -7px; left: 0;
	}
	
	.hr { margin: 14px 0; }
	
	//Sprites
	.icon {
		height:13px; width:13px; margin-right: 10px; fill: #cbcbcb;
	}
	
	.bottom-summary {
		td {
			padding: 3px 0;
		}
	}
}

.cardtype {
    z-index: 1; position: absolute; top: 50%; left: auto; right: 3px; width: 45px; height: 30px; margin-top: -15px; background: transparent url("../img/sprites/creditcardtypes.png") repeat scroll 0% 0% / 45px auto;
}
.visa+.cardtype {
	background-position:0 -42px;
}
.visaelectron+.cardtype {
	background-position:0 -84px;
}
.mastercard+.cardtype {
	background-position:0 -126px;
}
.maestro+.cardtype {
	background-position:0 -168px;
}
.discover+.cardtype {
	background-position:0 -210px;
}
.amex+.cardtype {
	background-position:0 -252px;
}
