.customer-stories {
	@include animate-in(fadeInUp, .2s, .5s);
	@include list-style-reset;
	margin-top:40px;
	
	li, li + li {
		@include text-xsmall;
		@include linear-gradient(#de2471, #ee3d86);
		padding-bottom:percentage(1/2); height:0; width: percentage(1/2); display: block; float: left; position: relative; cursor: pointer;
		
		@include media($medium) {
			@include text-medium;
		}
		@include media($large-only) {
			width: percentage(1/4); padding-bottom:percentage(1/4);
		}
		@include media($xlarge) {
			width: percentage(1/5); padding-bottom:percentage(1/5);
		}
		&:hover {
			background: #ed2b7b;
			
			.customer-stories__attribution {
				display: block; pointer-events: none;
			}
		}
	}
	figure,
	blockquote {
		@include position(absolute, 0);
	}
	blockquote {
		@include customer-story; 
	}
	.customer-stories__image {
		@include size(100%);
		padding: 0px;
		&:hover {
			@include filter(contrast(1.2));
		}
	}
	.customer-stories__attribution {
		@include size(24px);
		@include position(absolute, auto 20px 20px null);
		fill: white; z-index: 1; display: none;
	}
}
