.input {
	background:#fff; border:1px solid #e3e3e3; position:relative; border-radius:3px; height:38px; margin:0;
	select, .customSelect {
		@include text-small;
		position:absolute; width:100% !important; height:100% !important; left:0; top:0; border:none; padding:0 7px; z-index:1;
	}
	select {
		cursor:pointer; text-transform: uppercase;
	}
	.customSelect,
	.customSelectInner {
		width:100% !important; height:100% !important; line-height:38px; z-index:0; cursor:pointer;
	}
	.customSelectInner {
		position:relative;
		&:after {
			@include size(7px);
			@include vertCenter(absolute);
			display:block; right:0; background:url('../img/sprites/notcher.svg') no-repeat; content:'';
		}
	}
	
	&[data-item-size] {
		.item-attribute {
			@include size(30px);
			background-repeat: none; display: inline-block; vertical-align: middle; margin: -7px 15px 0 0px;
		}
	}
	
	&[data-item-size="classic"] .item-attribute {
		background-image: url(../img/sprites/highheeler-classic.svg);
	}
	
	&[data-item-size="wide"] .item-attribute {
		background-image: url(../img/sprites/highheeler-wide.svg);
	}
	
	&[data-item-size="narrow"] .item-attribute {
		background-image: url(../img/sprites/highheeler-narrow.svg);
	}
	
	&[data-item-color] {
		
		.item-attribute {
			@include color-swatch(35px);
			content: ''; display: inline-block; vertical-align: middle; margin: -7px 15px 0 0px; float: none;
		}	
	}
	
	&[data-item-color="clear"] .item-attribute {
		@include generate-swatch(white, $border: true, $borderSize: large);
	}
	&[data-item-color="black"] .item-attribute {
		@include generate-swatch(black, $border: true, $borderSize: large);
	}
	
	&[data-item-color="gold"] .item-attribute {
		@include generate-swatch($prodColorGold, $border: true, $borderSize: large);
	}
	
	&[data-item-color="silver"] .item-attribute {
		@include generate-swatch($prodColorSilver, $border: true, $borderSize: large);
	}
	
	&[data-item-color="fog"] .item-attribute {
		@include generate-swatch($prodColorFog, $border: true, $borderSize: large);
	}
	
	&[data-item-color="grass"] .item-attribute {
		@include generate-swatch($prodColorGrass, $border: true, $borderSize: large);
	}
	
	&[data-item-color="ocean"] .item-attribute {
		@include generate-swatch($prodColorOcean, $border: true, $borderSize: large);
	}
	
	&[data-item-color="silver & gold"] .item-attribute {
		@include generate-swatch--double($prodColorGold, $prodColorSilver, $border: true, $borderSize: large);
	}
	
	&[data-item-color="clear & black"] .item-attribute {
		@include generate-swatch--double(black, white, $border: true, $borderSize: large);
	}
}
