.expiration-date {
	margin-bottom: 12px;  margin-right: 0;
	@include media($small-only) {
		[col-sm='12'] {
			padding-right: 0;
		}
	}
	div + div {
		margin-top: 10px;
		@include media($medium) {
			padding: 0; margin-top: 0;
		}
	}
}