.featured-press {
	@include grid-row;
	@include list-style-reset;
	
	li,li+li {
		@include column(12);
		margin: 34px 0;
		
		@include media($medium) {
			@include column(10);
			@include centered;
		}
		
		@include media($large) {
			@include column(6);
			margin: 68px 0;
		}
	}
	figure {
		text-align: center; margin-bottom: 36px;
	}
}
