google-map {
	display:block; width:100%; height:300px; margin-top:30px;
	@include media($medium) {
		height:350px;
	}
	@include media($large) {
		height:400px;
	}
	.gmap-info {
		@include text-medium;
		h4 {
			@include font-headline("medium","primary");
			font-weight:500; margin:0;
		}
		p {
			margin:0;
		}
	}
}