.headline {
	@include text-large;
	padding-top:60px; color:$dark;
	@include media($large) {
		margin-bottom:10px;
	}
	&.centered {
		text-align:center;
		@include media($medium) {
			@include column(10);
		}
	}
}
