.headline + .product-list {
	margin-top: 20px;
}

.press-bar {
	
	@include animate-in(fadeInUp, .3s, 1.5s);
	
	text-align: center; border-bottom: 1px solid #e6e6e6;
	
	h3 {
		@include media($small-only) {
			display:none;
		}
		@include centered(false);
		margin-top: 2px; 
	}
	
	a {
		display: block; position: relative; height: 178px; background: url(/assets/img/press-logos-mobile.png) center no-repeat; background-size:contain;
		
		@include media($medium) {
			height: auto; padding: 48px 0; background-image: url(/assets/img/press-logos.png);
			
			&:hover {
				background-image: url(/assets/img/press-logos-hover.png);
			}
		}
	}
}

section.community {
	padding-bottom: 0px;
	
	.customer-stories {
		@include animate-in(fadeIn, 0, .8s);
		li:nth-child(5n) {
			display: none;
	
			@include media($xlarge) {
				display: block;
			}
		}
	}
	
}
