.input-numeric-toggle {
	@include button-reset;
	@include size(23px);
	border-radius: 50%; border: 1px solid $lite2; display: inline-block; background-repeat: no-repeat; background-position: center; vertical-align: middle;

	&--minus {
		background-image: url(/assets/img/minus.svg);
	}
	
	&--plus {
		background-image: url(/assets/img/plus.svg);
	}
}
