.masthead {
    @include masthead();
    height: 120px;

    @include media($large) {
        height: 300px;
    }

    .container {
        @include centered(false);
    }

    h1 {
        @include animate-in(fadeIn, .2s, 1.2s);
    }

}

.masthead--home {
    position: relative; height: 261px;

    @include media($large) {
        height: 540px;
    }

    .top-panel {
        @include font-secondary;
        @include font-size(11px, 30px);
        text-align: center; text-transform: uppercase; color:#fff; background:$pink; margin-bottom:15px; position: absolute; width: 100%; z-index: 200;
        @include media($large) {
            display:none;
        }
        .container {
            padding-bottom:0;
        }
    }

    .container {
        height: inherit;
    }

    &__content {
        text-align: left; position: absolute; left:$wrapper-padding; right:$wrapper-padding;

        @include media($large) {
            @include vertCenter(absolute);
            width:auto; left:auto; right:auto; text-align: center;
        }

        @include media ($medium-down) {
            @include vertCenter(relative);
            left: 0px;
        }

        h1 {
            @include animate-in(fadeIn, .2s, 1.2s);
            @include animate-out(fadeOut);
            @include font-headline("large", "secondary");
            color: white;

            @include media ($large) {
                @include font-size(35px,45px);
            }
        }
        br {
            @include media($small-only) {
                display:none;
            }
        }
    }

    &__cta {
        @include animate-in(fadeIn, .4s, 1.2s);
        @include animate-out(fadeOut);
        margin-top: 20px;

        @include media ($medium-down) {
            @include button(true);
        }
    }

    .cycle-slideshow {
        @include position(absolute, 0 0 0 0);
        .slide {
            display:none; width:100%; height:100%; background-size: cover; background-position: center;
        }
    }

}
