overlay-wrap {
	@include size(100%);
	position:fixed; top:0; left:0; background-color: rgba(#fff, 0.93); z-index: 1000;
	&.ng-hide-remove {
		@include animate-css(fadeIn, 0, 300ms);
	}
	&.ng-hide-add {
		@include animate-css(fadeOut, 0, 300ms);
	}
}

.overlay__close {
	@include position(absolute, 20px 20px null null);
	z-index: 1003;
	
	@include media($large) {
		top:50px; right:50px;
	}
	
	.icon {
		@include size(30px);
		fill: black;
		
//		@include media($large) {
//			fill: black;
//		}
	}
}

.overlay__nav {
	position: absolute; top: 50%; z-index: 1003; display: none;
	
	@include media($large) {
		display: block;
	}
	
	&:active {
		margin-top:1px;
	}
	
	&.overlay__nav--left {
		@include transform(rotate(.5turn));
		left: 10%;
	}
	
	&.overlay__nav--right {
		right: 10%;
	}
	
	.icon {
		@include size(52px);
	}
	
}

/**
 * .overlay__body base
 */

overlay {
	@include position(relative);
	z-index: 1002;
	
	@include media($large) {
		@include position(absolute, 20% null null 50%);
		height: auto; width: 780px;
	}
	
	&.ng-hide-remove {
		@include animate-css(fadeInUp, 0, 500ms);
	}

	&.ng-hide-add {
		@include animate-css(fadeOutUp, 0, 500ms);
	}
	
	.overlay__body {
		position: relative; height: 100vh; width: auto; z-index: 1002; opacity: 1; background-color: $pink; margin: 0px auto;

		@include media($large) {
			@include position(absolute, 20% null null null);
			@include transform(translate3d(-50%,0,0));
			height: auto; width: 780px;
		}
	}
	
	img {
		padding: 0; width: 100%; margin-bottom: -1px;
	}
	.image,
	.text {
		float: none; width: auto;
		@include media($large) {
			float: left; width: 50%; margin-bottom: -5px;
		}
	}
	.image {
		display: none;
		
		@include media($large) {
			display: block;
		}
	}
	.text {
		width: 100%; text-align: center; padding: 0px 10px;
		@include media($medium-down) {
			@include centered(false);
		}
		@include media($large) {
			width: 50%; position: relative; padding: 30px; text-align: left;
		}
	}
	
	.attribution {
		.icon {
			@include size(35px);
			fill: white; margin-right: 13px;
		}
		span {
			@include font-secondary;
			color: white; text-transform: uppercase;
		}
	}
	
	.quote {
		margin-top: 42px; margin-bottom: 1.4em; color: white; font-weight: 500;
		
		a {
			color: #ffffff; text-decoration: underline;
		}
	}
	
	.inline-social--overlay {
		@include inline-social(#fff, 24px, true);
	}
}

/**
 * .overlay__body variations
 */
.overlay--newsletter {
	text-align: center;
	
	h2 {
		@include font-primary;
		font-weight: 500;
	}
	
	.input {
		margin-top: 60px; border: 0 none; border-bottom: 1px solid black; border-radius: 0; background-color: transparent;
		
		input[type=text] {
			@include text-large;
			text-align: center; padding: 0 30px;
		}
		
		[input-icon] {
			background-position: 0px 6px;
		}
		
		[btn-icon] {
			@include position(absolute, null 0 null null);
			z-index:1;
		}
	}
	.overlay__nav {
		display: none;
	}
	
	.overlay__body {
		position: relative; height: 100vh; background-color: transparent; padding: 0 10px;
		
		@include media($large) {
			position: absolute; height: auto; padding: auto;
		}
		
		> div {
			@include media($medium-down) {
				@include centered(false);
				width: 90%;
			}
		}
	}
	
	.overlay__close {

		.icon {
			fill: black !important;
		}
	}

}

.overlay--horizontal {
	 top: 10%;
	.overlay__body {
		width: auto;

		.image {
			float: none; width: 100%;
		}
		.text {
			width: 83%; padding-bottom: 40px;
		}
	}
}
	
.overlay--text-only .overlay__body {
	height: 100vmax;

	@include media($large) {
		height: 600px;	
	}

	> div {
		position: static;
	}

	blockquote {
		@include centered(false);
		@include customer-story;
		text-align: center; width: 100%; padding: 40px;

		@include media ($large) {
			width: 70%; padding: 0px;
		}

		p {
			@include font-headline("xlarge","primary");
			margin-bottom: 0px;
		}

		cite {
			@include text-small;
			margin-bottom: 30px;
		}
	}
}

.overlay--video, .overlay--image {
	.overlay__nav {
		display: none;
	}
	
	.overlay__body {
		background-color: transparent;
	}
	
	.image, video {
		float: none;
		width: 100%;
		display: block;
	}	
	
	.image {
		@include media($small-only) {
			@include centered(false);
		}
	}
	
	&[media-dimension="square"] {
		top: 8%
	}
	
	&[media-dimension="long"] {
		top: 20px;
		
		.overlay__body {
			width: 75%;
		}
	}

}

.overlay--video {
	
	.video-js {
		height: auto !important; width: 100% !important;
		
		@include media($small-only) {
			@include centered(false);
		}
		
		.vjs-tech {
			position:relative;
		}
		
		.vjs-big-play-centered {
			display:none;
		}

		.vjs-big-play-button {
			display:none;
		}
		
	}
	
}
