.pagination {
	
	@include list-style-reset;
	
	li, li + li {
		float: left;  margin-right: 10px;
		
		&:last-child {
			margin-right: 0px;
		}
	}
	
	.active a {
		pointer-events: none; color: $body;
	}
	
	.next-page {
		margin-left: 5px; margin-right: 15px;
	}
	
}
