.press-grid {
	@include list-style-reset;
	@include grid-row;
	@include animate-in(fadeInUp, 0, 1s);
	
	margin-top:50px;
	
	li, li + li {
		@include column(6);
		position:relative;
		
		@include media($medium) {
			@include column(4);
		}
		
		@include media($large) {
			@include column(3);
		}
	}
	
	li:nth-child(n + 2) + li {
		@include media($small-only) {
			margin-top:$gutter;
		}
	}
	
	li:nth-child(n + 3) + li {
		@include media($medium-only) {
			margin-top:$gutter;
		}
	}
	
	li:nth-child(n + 4) + li {
		@include media($large) {
			margin-top:$gutter;
		}
	}
	
	li:before {
		display:block; margin-top:100%; content:'';
	}

	a {
		@include transition(all .25s ease-in-out);
		@include text-large;
		position:absolute; top:0; bottom:0; left:$gutter/2; right:$gutter/2;
		
		&:hover {
			@include transition(all .1s ease-in-out);
			border-radius: 50%;
			
			img {
				opacity: 0; transition: inherit;
			}
			.overlay {
				opacity: 1; transition: inherit;
			}
		}
	}
	
	img {
		@include centered($hasDimensions: false);
		display:block; transition: inherit; padding:0; max-width: 50%;
		
		@include media($medium-down) {
			max-width: 70%;
		}
	}
	
	.overlay {
		@include transition(all .1s ease-in-out);
		@include centered($hasDimensions: false);
		color: white; opacity: 0;
	}
}
