.product-list {
	@include list-style-reset;
	@include grid-row;
	margin-top: 50px;
	
	.product-list__item {
		@include animate-in(fadeInUp, .1s, .4s);
		color: $dark; margin-bottom: 50px;
		
		@include media($small-only) {
			@include column(6);
			@include omega(2n);
		}
		
	  	@include media($medium-only) {
			@include column(4);
			@include omega(3n);
		}
		
		@include media($large) {
			@include column(3);
			@include omega(4n);
			&:nth-child(4n+2) {
				@include animation-delay(.2s);
			}
			&:nth-child(4n+3) {
				@include animation-delay(.3s);
			}
			&:nth-child(4n+4) {
				@include animation-delay(.4s);
			}
		}
	}
	
	p {
		margin: 0;
	}
	
	img {
		margin-bottom: 20px; padding: 0;
	}
	
	.product__name {
		@include font-secondary;
		@include text-small;
		text-transform: uppercase; font-weight: 500; color: $dark; display: block;
	}
	
	.product-new::before {
		@include text-xsmall;
		content: 'NEW'; color: white; background-color: $pink; border-radius: 2px; padding: 0px 5px;; margin-right: 10px;
	}
	
	.product__price {
		
		&--savings {
			color: $lite;
			
			&::before {
				content: " (";
			}
			
			&::after {
				content: ")";
			}
		}
	}
	
	.product__colors {
		@include list-style-reset;
		margin-top: 8px;
		
		li, li + li {
			@include color-swatch;
		}
	}
}

.product-list__filters + .product-list {
	margin-top: 0;
}

.product-list__filters {
	@include list-style-reset;
	margin: 18px auto; text-align: center;
	
	@include media($large) {
		text-align: left;
	}
	
	li, li + li {
		@include font-secondary;
		@include text-xsmall;
		display: inline-block; padding-right: 15px; padding-left: 15px; border-right: 1px solid #e4e4e4; text-transform: uppercase;
		
		@include media($large) {
			display: block;
			float: left;
		}
		
		&:first-child {
			padding-left: 0;
		}
		
		&:last-child {
			border-right: 0 none;
		}
		
		a {
			color: $lite;
		}
	}
	
	.active a::after {
		content: ' ▾'; top: -2px; position: relative; font-size: 16px;
	}
	
	.active a, a:hover {
		color: $pink; font-weight: 500;
	}
}
