
.product-details__item {
	padding-top: 10px; padding-bottom: 20px;
	
	@include media($large) {
		padding-top: 65px; padding-bottom: 85px;
	}
}

.product-details__item-thumbs {
	@include column(1);
	display: none;
	
	@include media($large) {
		display: block;
	}
}

.product-details__item-image {
	
	text-align: center;
	
	img {
		@include animate-in(fadeIn, 0, .4s);
		width: 100%;
	}
	
	@include media($large) {
		@include column(7);
		text-align: left;
	}
}

.product-details__item-info {
	text-align: center;
	
	@include media($large) {
		@include column(4);
		float:right;
	}
}

.product-details__thumbs {
	@include list-style-reset;
	
	li, li + li {
		@include size(60px);
		border: 1px solid $lite2; margin-bottom: 10px; cursor: pointer;
		
		img {
			padding: 0;
		}
	}
	
	.active {
		border-color: $pink;
	}
}

.product-details__item-section {
	margin-bottom: 15px;
	
	.one-half:first-child + .one-half {
		text-align: right;
	}
	
	.customSelect {
		@include font-secondary;
		text-transform: uppercase; text-align: left; padding: 7px 25px 0px 15px;
	}
	
	.customSelectInner::after {
		top: 43%; right: -10px;
	}
	
	label {
		text-align: left;
	}
}

.product-details__item-actions-bar {
	display: none; border-top: 1px solid $lite2; text-align: center;

	@include media($large) {
		display: block;
	}
	
	.product-details__item-actions {
		@include list-style-reset;
		@include text-xsmall;
		display: inline-block; padding: 10px 0;
		
		li, li + li {
			float: left; padding-right: 20px; margin-right: 20px; border-right: 1px solid $lite2;
		}
		
		li:last-child {
			border-right: 0 none; margin-right:0;
		}

		a {
			color: #3c3b3b;
		}
		
		.dropdown::after {
			content: '▾'; margin-left: 15px; color: #bcbcbc; position: relative; top: -1px;
		}
		
	}
}

.product-details__section {
	padding:40px 0;
	@include media($large) {
		padding:60px 0;
	}
	& + & {
		border-top:1px solid #e7e7e7;
	}
	h2 {
		margin-bottom:10px;
	}
}

.product-details__you-might-like {
	
	.product-list {
		margin-top: 0px;
	}
	
	.product-list .product-list__item {
		
		@include media($medium-down) {
			@include column(6);
			text-align: center;
			
			// undo omega(2n)
			&:nth-child(2n+1) {
				clear: none;
			}
			
			.product__variations, .product__colors {
				display: none;
			}
		}
		
		&:nth-child(4n) {
			display: none;

			@include media($large) {
				display: block;
			}
		}
	}
}

.product-details__how-it-works {
	background-color: #f1f1f1; padding: 0px;
	
	.text {
		@include animate-in(fadeIn, 0, .7s);
		position: relative;
	}
	
	.text__body {
		@include vertCenter(absolute);
		padding: 0 35px; text-align: center;
	}
	
	@include media($large) {
		.row {
			clear:both; overflow:hidden; position:relative;
		}
		.watch-how-it-works--mobile {
			display: none;
		}
		.text,.image {
			width:50%; margin-bottom: -5px;
		}
		.text {
			position: static; float:left;
		}
		.image {
			float:right; background-size: cover; background-repeat: no-repeat;
		}
		.text__body {
			padding: 0 67.5px; width:50%; text-align:center;
		}
		.row:nth-child(odd) .text {
			float:right;
		}
		.row:nth-child(odd) .image {
			float:left;
		}

		&__play {
			display: block;
		}
	}
	
	@include media($medium-down) {
		.watch-how-it-works {
			display: none;
		}
		.text {
			padding-bottom: 65.277778%;
		}
	}
	
	img {
		padding: 0px; width: 100%; margin-bottom: -1px;
	}
}

.product-details__what-you-get {
	.product__includes {
		@include media($small-only) {
			margin-top:1em;
		}
		p:first-child {
			@include font-secondary;
			text-transform: uppercase; font-weight: 500; margin-bottom: 0;

			+ p {
				margin-top: 0;
			}

			+ ul {
				margin-top: 0;
			}
		}

		ul {
			padding-left: 15px;
		}
		
		li + li {
			margin-top:5px;
		}
	}
}

.product-details__footer {
	@include masthead();
	display: none; background-image:url('/assets/img/masthead-grass.jpg');  height: 350px; text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.75); color: #ffffff; text-align: center;
	
	@include media($large) {
		display: block;
	}
	
	.container {
		@include centered(false);
	}
	
	blockquote {
		width:100%;
		h2::before {
			content: '\201C';
		}
		
		h2::after {
			content: '\201D';
		}
		
		h2 {
			color: #ffffff;
		}
	}
	cite {
		@include text-xsmall;
		display: block; font-style: normal; font-weight: normal; margin-top: 15px;
	}
}

.how-it-works__play {
	display: block; position: relative;
	.icon {
		@include centered(false);
		@include size(54px);
		fill: white;
	}
}
