.sidebar {
	
	@include text-small;
	display:none; color: $lite;
	
	@include media($large) {
		@include column(3);
		float:right;
	}
	
	ul {
		margin:10px 0; padding-left:15px;
	}
	
	li + li {
		margin:0;
	}
	
	a {
		color: inherit;
		&:hover {
			color:$dark;
		}
	}
	
	h3 {
		margin-top: 45px;
		&:first-child {
			margin-top: 0px;
		}
	}
}

ul.sidebar__social {
	@include list-style-reset;
	margin:10px 0;
	li + li {
		margin-top: 11px;
	}
	a {
		display:inline-block;
	}
	.icon {
		@include size(25px);
		fill:#000; margin-right: 6px;
	}
}