.store-locator__form { background:#f8f8f8; padding:20px; }

.store-locator__results {
	@include list-style-reset;
	@include grid-row;
	
	h4 { color: #ee2a7b; }
	
	li, li + li { margin-top: 35px; }
	
	li {
		@include column(12);
		@include media($medium-only) {
			@include column(6);
			@include omega(2n);
		}
		@include media($large) {
			@include column(4);
			@include omega(3n);
		}
	}
	
	.distance-away {
		margin:0 0 12px; padding-right: 3px; padding-left: 3px; font-size: 12px; line-height: 16px; font-weight: 400; display: inline-block; background-color: #ee2a7b; border-radius: 10%; color: white;
	}
}

.store-locator__map {
	@include media($small-only) {
		display:none;
	}
	img {
		max-width:inherit;
	}
	#gmap {
		width:100%; height:420px;
	}
}

.store-locator__retailers {
	@include media($small-only) {
		display:none;
	}
}
