/* Grid */
$max-width: 990px;
$wrapper-padding: 25px;
$gutter: 20px;
$grid-columns:12;
$column: 60px;

/* Break Points */
$mediumWidth: 520px;
$largeWidth: 768px;
$xlargeWidth: 974px;
$xxlargeWidth: 1100px;
$xxxlargeWidth: 1300px;

/* Colors */
$black: #131b20;
$red: #e01a22;
$body: $black;
$link: $red;
$gray: #5e656a;
