figure {
	margin:0;
	&.full-width {
		img {
			display:block; margin:0 auto; padding:0;
		}
	}
	
	figcaption {
		@include font-size(1.3rem,2.2rem);
		color: #999; margin-top: -3px;
	}
}

img {
	max-width:100%; height:auto;
}

mark {
	background:none;
}

label {
	cursor:pointer;
	input {
		display:none;
	}
}

hr{
	margin:1rem 0 1.5rem 0; border-width: 1px; border-style: solid;
}

ul {
	padding-left:30px;
	li + li {
		margin-top:8px;
	}
	h2 + & {
		margin-top: 1rem !important;
	}
}

svg {
	vertical-align:middle; position:relative; top:-1px;
}

cite {
	display: block; font-style: normal;
	p {
		margin: 0;
	}
	a {
		color: $body;
	}
}
