.form {
	width: 395px;
	margin: auto;
	display: block;
	
	h1 + & {
		margin-top: 5rem;
	}
}

textarea {
	min-height: 14rem; width: 100%; border: 0 none;
}

legend {
	small {
		font-size: 1.1rem;
	}
}

.required-field {
	font-size: 1.1rem; color: $red;
}

label {
	@include font-weight(bold);
	display: block;
	
	&.inline {
		display: inline-block;
	}
	
	&[required]::after {
		@include font-weight(regular);
		content: '*';color: $red;
	}
	
	&.checkbox {
		@include text-small;
		@include font-weight(regular);
	}
	
	input[type=checkbox] {
		@include size(20px);
		display: inline-block;
	}
}

fieldset {
	border: 0 none; padding: 0; margin: 1.7rem 0 0 0;
	
	+ fieldset {
		margin-bottom: 1.7rem;
		
		&.file-upload {
			margin-bottom: 3.8rem;
		}
	}
	
	legend + & {
		margin-top: 2.8rem;
	}
	
	a {
		@include text-small;
		text-align: right; display: block;
	}
}

.input {
	background-color: white; position:relative; border-radius:3px; height:4.4rem;
	input {
		@include size(100%);
		background-color: transparent; position:absolute; left:0; top:0; border:none; padding:0 7px; z-index:1;
	}
	
	+ .link--add {
		margin-top: 7px;
	}
}

.input-addon {
  	@include display(flex);
	background-color: white;
	
	input {
		@include flex(1);
		background-color: transparent; font-size: 2rem; padding: 10px 0 10px 10px; display: block; width: 100%; height: 4.4rem; border: 0 none;
	}
}

.input-addon__item {
	border: 0 none; background-image: none; background-color: white; padding-right: 15px;
	.icon {
		@include size(25px);
	}
}

.checkbox {
	position: relative;
	label {
		$checkboxSize: 20px;
		@include size($checkboxSize);
		@include font-weight(regular);
		display: inline-block;
		background-color: white;
		cursor: pointer;
		span {
			font-size: 1.4rem;
			margin-left: $checkboxSize + 11;
			position: absolute;
		}
	}
	input[type=checkbox] {
//		position: absolute;left: -99999px;
		display: none;
		&:checked + label {
			background: white url(/assets/img/icons/check.svg) no-repeat center;
		}
	}
}

.submit {
	margin-top: 0;
	label {
		@include button(true);
	}
	input {
		display:none;
	}
}
