.container {
	@include outer-container;
	position:relative; min-width:$max-width; max-width:1234px; padding-left:$wrapper-padding; padding-right:$wrapper-padding;
}

.container--fullwidth {
	max-width: none;
	
	@include media($xxxlargeWidth) {
		padding-left:50px; padding-right:50px;
	}
}

.row {
	@include grid-row;
}

/* Columns */
@include media($small) {
	@include build-columns("sm");
}
@include media($medium) {
	@include build-columns("md");
}
@include media($large) {
	@include build-columns("lg");
}
@include media($xlarge) {
	@include build-columns("xl");
}

[col-right] {
	float:right;
}

[col-centered] {
	@include centered;
}
