* {
	outline:none !important; box-sizing:border-box;
}

html,body {width:100%; height:100%;}

body {
	min-width:320px;
	background-image: url(../img/background@2x.jpg);
}

h1,h2,h3,h4,h5,h6,p,li,span,a,figure,svg,table {
	@include textTransform(opacity);
//	opacity:0;
	.wf-active &,
	.wf-inactive & {
		opacity:1;
	}
	
	> mark {
		color: $red;
	}
}

.outerwrapper {
	display:table; width:100%; height:100%; overflow:hidden;
}

.upperwrapper {
	display:table-row;
}

.lowerwrapper {
	display:table-footer-group;
}

.header {
	width: 100%; z-index: 1;
}
.header__upper {
	@include font-weight(bold);
	@include font-size(1.1rem,2.8rem);
	background-color: #060a0c;
	color: $gray; text-transform: uppercase;
}

.header__upper__right {
	@include list-style-reset;

	li {
		display: inline-block;
	}

	a {
		color: $gray;
		padding-left: 2.3rem;

		&:hover, &:focus {
			color: white; text-decoration: none;
			
			.icon {
				fill: white;
			}
		}

		.icon {
			@include size(12px);
		}
	}

	.header__upper__search .icon {
		fill: $gray;
	}

	[language="en"] {
		.icon {
			@include size(16px);
		}
	}
}
	
.header__lower {
	background-color: white; padding: 20px 0 20px 0;
	box-shadow: 0 .1em .5em #c3c3c3;
	.logo {
		position: relative; top: -3px;
		.icon {
			width: 99px; height: 49px; fill: $red;
		}
		#ssi-logo-01 {
			display: none;
		}
	}
	
	.primary-nav {
		ul {
			@include list-style-reset;
			@include font-weight(bold);
			line-height: 4.9rem;

			li {
				display: inline-block;

				&:last-child {

					a {
						padding-right: 0px;
					}
				}
			}

			a {
				@include font-size(1.6rem, 2.8rem);
				color: $black; padding-right: 20px;
				
				&.active, &:hover {
					color: $red; text-decoration: none;
				}
			}
		}
	}
	
	.btn {
		@include button--stroke;
//		padding: 1rem 2rem;
	}
}

.transparent {
	position: absolute;
	.header__lower {
		background-color: transparent; box-shadow: none;
		.logo {
			.icon {
				width: 133px; height: 49px; fill: $red;
			}
			#ssi-logo-01 {
				display: inline;
			}
			#ssi-logo-02 {
				display: none;
			}
		}

		.primary-nav {
			li {
				a {
					color: white;
				}
			}
		}

		.btn {
			@include button--stroke(white);
			text-transform: uppercase;
		}
	}
}
	
main {

}

#footer {
	@include font-size(1.3rem, 2.5rem);
	background-color: $black; padding: 6rem 0; color: white;

	h3 {
		@include font-size(2rem,3.5rem);
		color: white;
	}

	.footer__nav {
		@include list-style-reset;
		
		a {
			color: white;
		}

		.icon {
			@include size(16px);
			margin-right: 8px; fill: white;
		}
	}

	.footer__right {
		@include font-size(1.2rem,2.5rem);
		text-align: right;

		a {
			color: #4e555a;
		}
	}
}

section {
	padding: 5.8rem 0;
	
	.masthead--subpage + & {
		padding-bottom: 8.5rem;
	}
	
	&.no-padding {
		padding: 0;
	}
}
