/* ==========================================================================
   Typography
   ========================================================================== */

html{
	font-size:8.5px; line-height:8.5px;

	@include media($medium) {
		font-size:9.5px; line-height:9.5px;
	}

	@include media($large) {
		font-size:10px; line-height:10px;
	}
}

body,input,textarea,button {
	@include font-primary;
	@include text-medium;
}

@include text-theme-default($initial: true);

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

h1,.h1 {
	@include font-headline("xxxlarge");
}

h2,.h2 {
	@include font-headline("xxlarge");
}

h3,.h3 {
	@include font-headline("xlarge");
	
	.h1 + &,
	h1 + & {
		line-height: 3.8rem;
	}
}

h4,.h4 {
	@include font-headline("large");
}

h5,.h5 {
	@include font-headline("medium");
}

h6,.h6{
	@include font-headline("small");
}

p {
	@include noTopOrBottom;
	margin:1em 0;
	h4 + &, h2 + p {
		margin-top:0;
	}
	
	& + h2 {
		margin-top: 6rem;
	}
}

.intro {
	@include font-weight("bold");
	@include font-size(1.8rem,3.0rem);
}

a {
	color:$link;
	&, * {
		@include textTransform;
		text-decoration:none;
	}
	&:focus, &:hover {
		text-decoration:underline;
	}
}

strong {
	@include font-weight("bold");
}

small, .text-small {
	@include text-small;
}

.text-medium {
	@include text-medium;
}

.text-large{
	@include text-large;
}

.text-left {
	text-align:left;
}

.text-right {
	text-align:right;
}

.text-center {
	text-align:center;
}
