{layout="layouts/_site"}

{exp:channel:entries channel="products" dynamic="no" url_title="{segment:product}" search:product_enabled="yes" cache="{cache_setting}" refresh="{cache_refresh}" require_entry="yes" disable="categories|category_fields|member_data|pagination"}
	{if no_results}
		{redirect="404"}
	{/if}
	
	<section class="bg-dark">
		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li><a href="/shop">Shop</a></li>
				<li><a>{title}</a></li>
			</ul>
		</div>
	</section>
	<section class="product-details__item bg-dark">
		<div class="container">
			{exp:store:product entry_id="{entry_id}" html:checkout-form="product"}
				{if product_gallery_type == "sku"}
					<div class="product-details__item-image">
						<img ng-src="/assets/img/products/{{productSku}}.jpg" ng-show="productSku" product-sku-image product-image animate-in>
					</div>
				{if:else}
					<product-slideshow>
						<div class="product-details__item-thumbs">
							<ul class="product-details__thumbs">
								{product_gallery}
									<li ng-class="{active: activeImage == this}" ng-click="selectImage($event)" {if count == 1}class="active"{/if}><img src="{url}" {if count == 1}product-image{/if}></li>
								{/product_gallery}
							</ul>
						</div>
						<div class="product-details__item-image">
							<img src="{product_gallery:url}" ng-src="{{activeImageSrc}}" animate-in>
						</div>
					</product-slideshow>
				{/if}
			
				<div class="product-details__item-info">
					<h1 class="centered" product-title>{if product_alt_title}{product_alt_title}{if:else}{title}{/if}</h1>
					<h3 class="product-details__item-price" product-price>{price}</h3>
					<p class="centered">{if product_quick_description}{product_quick_description} <br/>{/if}Free US shipping on all orders over $25.</p>
				
					{modifiers}
						<fieldset class="product-details__item-section">
							{if modifier_type == 'var'}
								<div>
									{if modifier_name == "Size"}
										<span style="float:right;"><a href="/uploads/pdf/Solemates-Sizing-Chart.pdf">Sizing Guide</a></span>
									{/if}
									<label for="{modifier_input_name}">{modifier_name}</label>
								</div>
								<div class="input input--large" icon-custom-select="{modifier_name}">
									<select name="{modifier_input_name}" id="{modifier_input_name}" product-modifier>
										{modifier_options}
											<option value="{option_id}">{option_name}</option>
										{/modifier_options}
									</select>
								</div>
							{/if}
							{if modifier_type == 'var_single_sku'}
								<div class="text-left">
									<label>{modifier_name}:</label> {modifier_options}{option_name}{/modifier_options}
								</div>
							{/if}
						</fieldset>
					{/modifiers}
					
					<fieldset class="product-details__item-section">
						<div>
							<span class="one-half"><label for="">qty</label></span>
							<span class="one-half">
								<button class="input-numeric-toggle input-numeric-toggle--minus" item-qty-decrease></button>
								<p class="input input--inline input--numeric"><input type="text" name="item_qty" value="1" item-qty></p>
								<button class="input-numeric-toggle input-numeric-toggle--plus" item-qty-increase></button>
							</span>
						</div>
					</fieldset>
					
					<p class="submit" checkout-form-loader="small" spin-color="#ffffff">
						<label>
							Add To Cart
							<input type="submit" value="Add To Cart">
						</label>
					</p>
				</div>
			{/exp:store:product}
		</div>
	</section>
	
	<section class="product-details__item-actions-bar bg-dark">
		<div class="container">
			<ul class="product-details__item-actions">
				<li><a class="addthis_button_more">Share</a></li>
				{if product_high_heeler == "yes"}<li><a class="dropdown" a-href="how-it-works">How It Works</a></li>{/if}
				<li><a class="dropdown" a-href="product-details">Details</a></li>
			</ul>
		</div>
	</section>
	
	<section class="product-details__section product-details__what-you-get" anchor="product-details">
		<div class="container">
			<div class="row">
				<div col-sm="12" col-md="12" col-lg="3">
					<h2>Product Details</h2>
				</div>
				<div col-sm="12" col-md="6" col-lg="5">
					{product_copy}
				</div>
				<div col-sm="12" col-md="6" col-lg="4" class="product__includes">
					<p>Includes</p>
					<ul>
						{product_kit_includes}
							<li>{item}</li>
						{/product_kit_includes}
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	{if product_related}
<!--
		<section class="product-details__section product-details__you-might-like">
			<div class="container">
				<div class="row">
					<div col-sm="12" col-md="12" col-lg="3">
						<h2>You might like</h2>
					</div>
					<div col-sm="12" col-md="12" col-lg="9">
						<ul class="product-list">
							{product_related}
								<li class="product-list__item" animate-in="-150">
									{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}
										<a href="{url_title_path="shop"}">
											{if product_gallery_type == "sku"}
												<img src="{product_thumb_image}">
											{if:else}
												<img src="{product_gallery}">
											{/if}
											<span class="product__name">{if product_alt_title}{product_alt_title}{if:else}{title}{/if}</span>
										</a>
										{if product_quick_description}<p class="product__variations">{product_quick_description}</p>{/if}
										<p class="product__price">{price} {if product_savings}<span class="product__price--savings">Save {product_savings}</span>{/if}</p>
										{modifiers}
											{if modifier_name == "Color"}
												<ul class="product__colors">
													{modifier_options}
														<li swatch-color="{exp:stringy:lowercase}{option_name}{/exp:stringy:lowercase}"></li>
													{/modifier_options}
												</ul>
											{/if}
										{/modifiers}
									{/exp:store:product}
								</li>
							{/product_related}
						</ul>
					</div>
				</div>
			</div>
		</section>
-->
	{/if}
	
	{if product_high_heeler == "yes"}
		<section class="bg-dark" anchor="how-it-works">
			<div class="product-details__how-it-works">
				<div class="row watch-how-it-works--mobile">
					<div class="text" animate-in="-200">
						<div class="text__body">
							<h2>
								The Solemates High Heeler provides a discreet, easy to use solution to keep your heels from sinking.
							</h2>
							<p><a href="" ng-click="overlay.open('overlay1')">Watch how it works</a></p>
						</div>
					</div>
					<div class="image">
						<a href="" ng-click="overlay.open('overlay1')" class="how-it-works__play">
							<img src="/assets/img/well-heeled.jpg" alt="" class="">
							<svg class="icon">
								<use xlink:href="#play"></use>
							</svg>
						</a>
					</div>
					
				</div>
				<div class="row">
					<div class="text" animate-in="-200">
						<div class="text__body">
							<p><strong>Find the right fit</strong></p>
							<p>The Solemates High Heeler is available in three discrete sizes to best fit your heel.  Narrow, Classic & Wide.  The product is intended to fit snugly to your shoe and should not twist or come off easily.  For more information on sizing, see the link below.</p>
							<a href="/uploads/pdf/Solemates-Sizing-Chart.pdf" target="_blank">View size guide</a>
						</div>
					</div>
					<div class="image">
						<img src="/assets/img/fit.jpg" alt="">
					</div>
				</div>
				<div class="row watch-how-it-works">
					<div class="text" animate-in="-200">
						<div class="text__body">
							<p><strong>Being well heeled = Extra heel support</strong></p>
							<p>The Solemates High Heeler provides a simple solution to a long-standing problem.</p>
							<a href="" ng-click="overlay.open('overlay1')">Watch how it works</a>
							<overlay id="overlay1" ng-show="overlay.activeOverlay.id == 'overlay1'" class="overlay--video">
								<div class="overlay__body">									
									<video id="video-how-it-works" class="video-js vjs-default-skin" controls preload="none"
										poster="/assets/img/well-heeled.jpg"
										data-setup="{}" >
										<source src="https://www.thesolemates.com/uploads/videos/how-it-works/how-it-works.mp4" type='video/mp4' />
										<source src="https://www.thesolemates.com/uploads/videos/how-it-works/how-it-works.webm" type='video/webm' />
										<source src="https://www.thesolemates.com/uploads/videos/how-it-works/how-it-works.ogg" type='video/ogg' />
									</video>
								</div>
							</overlay>
						</div>
					</div>
					<div class="image">
						<a href="" ng-click="overlay.open('overlay1')" class="how-it-works__play">
							<img src="/assets/img/well-heeled.jpg" alt="" class="">
							<svg class="icon">
								<use xlink:href="#play"></use>
							</svg>
						</a>
					</div>
					
				</div>
				<div class="row">
					<div class="text" animate-in="-200">
						<div class="text__body">
							<p><strong>Mix, match, and wear</strong></p>
							<p>Available in four different colors, Clear, Black, Silver or Gold, the Solemates High Heeler® is intended to complement and blend in with your shoes.  When worn in the grass, it is virtually invisible.</p>
						</div>
					</div>
					<div class="image">
						<img src="/assets/img/Solemates-2500.jpg" alt="">
					</div>
				</div>
			</div>
		</section>
	{/if}
	
	<section class="product-details__footer">
		<div class="container">
			<div class="cycle-slideshow" data-cycle-slides="> blockquote" data-cycle-auto-height="calc" data-cycle-timeout="6000" data-cycle-log="false">
				<blockquote>
					<h2>I put one solemate on one heel and the other I left normal. I walked on grass. OMG the natural heel sunk right in the ground by an inch but the Solemates™ heel stayed on top! It was amazing! I'm sold!</h2>
					<cite>Adrienne | West Caldwell, NJ</cite>
				</blockquote>
				<blockquote>
					<h2>I am a High Heel girl, 9 times out of 10. I wear them all the time; while working as a makeup artist or running errands.</h2>
					<cite>Monique |  New Orleans, LA</cite>
				</blockquote>
				<blockquote>
					<h2>I'd recommend Solemates™ for anyone who is going to be walking on grass - or just to protect your favorite shoes!</h2>
					<cite>Christy | San Jose, CA</cite>
				</blockquote>
				<blockquote>
					<h2>Saved my heels and made walking thru tiled airports much easier! I truly believe these should be marketed to woman frequent fliers and available in every airport!</h2>
					<cite>Michele | Denver, CO</cite>
				</blockquote>
				<blockquote>
					<h2>They were an absolutely indispensible part of our wedding day - and allowed me to stand next to my 6'5" husband without sinking into the ground!</h2>
					<cite>Heather | Providence, RI</cite>
				</blockquote>
			</div>
		</div>
	</section>
{/exp:channel:entries}
