{layout="layouts/_site"}

<div class="masthead" style="background-image:url('/assets/img/masthead-shop.jpg');">
	<div class="container">
		<h1 animate-in>Shop <mark>All</mark></h1>
	</div>
</div>

<section class="">
	<div class="container">
		
		<!-- <ul class="product-list__filters">
			<li class="active"><a class="" href="">all</a></li>
			<li><a href="">new arrivals</a></li>
			<li><a href="">shoe care</a></li>
			<li><a href="">body care</a></li>
			<li><a href="">wedding</a></li>
		</ul> -->
		
		<ul class="product-list">
			
			{exp:low_reorder:entries set="products" search:product_hidden="not yes" cache="{cache_setting}" refresh="{cache_refresh}" disable="categories|category_fields|member_data|pagination"}
				<li class="product-list__item" animate-in="-150">
					{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}
						<a href="{route="shop/entry" product="{url_title}"}">
							{if product_gallery_type == "sku"}
								<img src="{product_thumb_image}">
							{if:else}
								<img src="{product_gallery}">
							{/if}
							<span class="product__name">{if product_alt_title}{product_alt_title}{if:else}{title}{/if}</span>
						</a>
						{if product_quick_description}<p class="product__variations">{product_quick_description}</p>{/if}
						<p class="product__price">{price} {if product_savings}<span class="product__price--savings">Save {product_savings}</span>{/if}</p>
						{modifiers}
							{if modifier_name == "Color"}
								<ul class="product__colors">
									{modifier_options}
										<li swatch-color="{exp:stringy:lowercase}{option_name}{/exp:stringy:lowercase}"></li>
									{/modifier_options}
								</ul>
							{/if}
						{/modifiers}
					{/exp:store:product}
				</li>
			{/exp:low_reorder:entries}
			
		</ul>
	</div>
</section>
