@mixin animate-css($name, $delay:false, $duration:false) {
	@include animation-name($name);
	@if $delay{
		@include animation-delay($delay);
	}
	@if $duration {
		@include animation-duration($duration);
	}
	@include animation-fill-mode(both);
}

@mixin animate-in($name, $delay:false, $duration:false) {
	@include media($large) {
		visibility:hidden;
		&.animate-in {
			@include animate-css($name, $delay, $duration);
			visibility:visible;
		}
	}
}

@mixin animate-out($name, $delay:false, $duration:false) {
	@include media($large) {
		&.animate-out {
			visibility:visible;
			@include animate-css($name, $delay, $duration);
		}
	}
}