/**
 * Source: http://cssarrowplease.com/
 */

@mixin arrow-box--top($arrowSize: 10px, $arrowOffset: 50%, $borderWidth: 1px, $borderColor: $lite2, $bgColor: #fff) {
	& {
		background: $bgColor;
		border: $borderWidth solid $borderColor;
	}
	&:after, &:before {
		bottom: 100%; left: $arrowOffset; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	}

	&:after {
		border-color: rgba($bgColor, 0); border-bottom-color: $bgColor; border-width: $arrowSize; margin-left: ($arrowSize * -1);
	}
	&:before {
		border-color: rgba($borderColor, 0); border-bottom-color: $borderColor;
		@if $borderWidth > 1 {
			$borderWidth: $borderWidth + 1;
		}
		border-width: $arrowSize + $borderWidth; margin-left: ($arrowSize * -1) - $borderWidth;
	}
}
