@mixin button($large: false, $initial: true) {
	
	@if $initial {
		@include button-reset;
		@include font-secondary;
		@include transition(all .3s ease-in-out);
		@include font-secondary;
		padding: 8px 28px; background-color: #ee2a7b; color: #ffffff; display:inline-block; position:relative; text-transform:uppercase; text-align:center; font-size:13px; border-radius:2px;
	}
	
	@if $large {
		padding: 11px 10px; display: block; width: 100%;
	} 

	&:hover, &:active {
		@include transition(all .1s ease-in-out);
		background-color: #e41a56;
	}
}
