@mixin color-swatch($size: 12px) {
	@include size($size);
	box-sizing: border-box; overflow:hidden; position:relative; border-radius:50%; float: left; margin-right: 3px;

	&::before, &::after {
		position:absolute; content:''; width:100%; height:100%;
	}	
}

@mixin swatch-borders($border, $borderSize) {
	@if $border {
		border-style: solid;
		
		@if $borderSize == small {
			border-width: 1px; border-color: $lite;
		}
		@else if $borderSize == large {
			border-width: 2px; border-color: white; box-shadow: 0 0 0 1px $lite2;
		}
	}
}

@mixin generate-swatch($color, $background: true, $border: false, $borderSize: small) {
    @if $background {
		background-color: $color;
	}
	@else {
      color: $color;
    }
	
	@include swatch-borders($border, $borderSize);
	
}


@mixin generate-swatch--double($colorLeft, $colorRight, $border: false, $borderSize: small) {
	&::after {
		left: 50%; background-color: $colorLeft;
	}
	&::before {
		right: 50%; background-color: $colorRight;
	}
	
	@include swatch-borders($border, $borderSize);
} 


@mixin generate-color($color) {
    color: $color;
    
    &--bg {
      background-color: $color;
    }
} 
