@mixin customer-story {
	padding: 20px; color: #ffffff; font-weight: 500;

	p::before {
		content: '“';
	}

	p::after {
		content: '”';
	}

	cite {
		@include text-xsmall;
		display: block; font-style: normal; font-weight: normal; margin-top: 15px;
	}
} 
