@mixin icon($content:false, $extras:true) {
	@include font-icon();
	@if $extras {
		margin:0; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; line-height: 1em; text-align: center; font-variant: normal; text-transform: none; vertical-align:middle; position:relative; top:-1px;
	}
	@if $content {
		content:$content;
	}
}