@mixin inline-social($color: $dark, $iconSize: 17px, $shareText: false) {
	@include list-style-reset;
	display: inline-block;
	
	li {
		float:left;
		&:hover {
			svg {
			}
			
//			@include textTransform(all .15s ease-in-out);
//			@include transform(translateY(-2px));
			@include textTransform(fill);
			fill:$pink;
		}
		
		@if $shareText {
			&:first-child {
				&::before {
					content: 'Share';
					color: $color;
					margin-right: 5px;
				}
			}
		}
	}
	li+li {
		margin-left:8px;
	}
	a {
		color:inherit; font-size:18px;
	}
	span {
		display: none;
	}
	.icon {
		@include size($iconSize);
		fill: $color;
	}
}
