/* ========================================================
	Spacers
=========================================================== */

$spacer-base: 10px;

/* ========================================================
	Margin
=========================================================== */

.m0 { margin-bottom: $spacer-base * 0; }
.m1 { margin-bottom: $spacer-base * 1; }
.m2 { margin-bottom: $spacer-base * 2; }
.m3 { margin-bottom: $spacer-base * 3; }
.m4 { margin-bottom: $spacer-base * 4; }
.m5 { margin-bottom: $spacer-base * 5; }
.m6 { margin-bottom: $spacer-base * 6; }

.m0-top { margin-top: $spacer-base * 0; }
.m1-top { margin-top: $spacer-base * 1; }
.m2-top { margin-top: $spacer-base * 2; }
.m3-top { margin-top: $spacer-base * 3; }
.m4-top { margin-top: $spacer-base * 4; }
.m5-top { margin-top: $spacer-base * 5; }
.m6-top { margin-top: $spacer-base * 6; }

.m0-left { margin-left: $spacer-base * 0; }
.m1-left { margin-left: $spacer-base * 1; }
.m2-left { margin-left: $spacer-base * 2; }
.m3-left { margin-left: $spacer-base * 3; }
.m4-left { margin-left: $spacer-base * 4; }
.m5-left { margin-left: $spacer-base * 5; }
.m6-left { margin-left: $spacer-base * 6; }

.m0-right { margin-right: $spacer-base * 0; }
.m1-right { margin-right: $spacer-base * 1; }
.m2-right { margin-right: $spacer-base * 2; }
.m3-right { margin-right: $spacer-base * 3; }
.m4-right { margin-right: $spacer-base * 4; }
.m5-right { margin-right: $spacer-base * 5; }
.m6-right { margin-right: $spacer-base * 6; }

.m1-list li { margin-bottom: $spacer-base * 1; }
.m2-list li { margin-bottom: $spacer-base * 2; }
.m3-list li { margin-bottom: $spacer-base * 3; }
.m4-list li { margin-bottom: $spacer-base * 4; }
.m5-list li { margin-bottom: $spacer-base * 5; }
.m1-list li:last-child,
.m2-list li:last-child,
.m3-list li:last-child,
.m4-list li:last-child,
.m5-list li:last-child { margin-bottom: 0; }

/* ========================================================
	Padding
=========================================================== */

.p0 { padding: $spacer-base * 0; }
.p1 { padding: $spacer-base * 1; }
.p2 { padding: $spacer-base * 2; }
.p3 { padding: $spacer-base * 3; }
.p4 { padding: $spacer-base * 4; }
.p5 { padding: $spacer-base * 5; }
.p6 { padding: $spacer-base * 6; }

.p0-bottom { padding-bottom: $spacer-base * 0; }
.p1-bottom { padding-bottom: $spacer-base * 1; }
.p2-bottom { padding-bottom: $spacer-base * 2; }
.p3-bottom { padding-bottom: $spacer-base * 3; }
.p4-bottom { padding-bottom: $spacer-base * 4; }
.p5-bottom { padding-bottom: $spacer-base * 5; }
.p6-bottom { padding-bottom: $spacer-base * 6; }

.p0-top { padding-top: $spacer-base * 0; }
.p1-top { padding-top: $spacer-base * 1; }
.p2-top { padding-top: $spacer-base * 2; }
.p3-top { padding-top: $spacer-base * 3; }
.p4-top { padding-top: $spacer-base * 4; }
.p5-top { padding-top: $spacer-base * 5; }
.p6-top { padding-top: $spacer-base * 6; }

.p0-left { padding-left: $spacer-base * 0; }
.p1-left { padding-left: $spacer-base * 1; }
.p2-left { padding-left: $spacer-base * 2; }
.p3-left { padding-left: $spacer-base * 3; }
.p4-left { padding-left: $spacer-base * 4; }
.p5-left { padding-left: $spacer-base * 5; }
.p6-left { padding-left: $spacer-base * 6; }

.p0-right { padding-right: $spacer-base * 0; }
.p1-right { padding-right: $spacer-base * 1; }
.p2-right { padding-right: $spacer-base * 2; }
.p3-right { padding-right: $spacer-base * 3; }
.p4-right { padding-right: $spacer-base * 4; }
.p5-right { padding-right: $spacer-base * 5; }
.p6-right { padding-right: $spacer-base * 6; }
