/* Font Familys */
@mixin font-primary($weight:300) {
	font-family: "museo",serif; font-weight:$weight;
}
@mixin font-secondary($weight:400) {
	font-family: "brandon-grotesque",sans-serif; font-weight:$weight;
}
@mixin font-accent($weight:400) {
	font-family: 'Euphoria Script', cursive; font-weight:$weight;
}
@mixin font-icon {
	font-family: "smicons";
}

/* Headlines */
@mixin font-headline($size, $family:"primary") {
	
	@if($family) {
		@if($family == "primary") {
			@include font-primary;
		}
		@if($family == "secondary") {
			@include font-secondary;
		}
	}
	
	@if($size == "small") {
		@include font-size(14px, 20px);
	}
	
	@if($size == "medium") {
		@include font-size(18px, 24px);
		mark {
			@include font-accent;
			@include font-size(28px, 34px);
			color:$pink;
		}
	}
	
	@if($size == "large") {
		@include font-size(25px, 30px);
		font-weight:300;
		@include media($medium) {
			@include font-size(28px, 34px);
		}
		mark {
			@include font-accent;
			@include font-size(35px, 40px);
			color:$pink;
		}
	}
	
	@if($size == "xlarge") {
		@include font-size(35px, 40px);
		font-weight:300;
		@include media($medium) {
			@include font-size(43px, 55px);
		}
		mark {
			@include font-accent;
			@include font-size(40px, 1em);
			color:$pink;
			@include media($medium) {
				@include font-size(50px, 55px);
			}
		}
		sup {
			top:-1em; font-size:40%;
		}
	}
	
}

/* Text Sizes */
@mixin text-xsmall {
	@include font-size(12px,16px);
}
@mixin text-small {
	@include font-size(14px,22px);
}
@mixin text-medium {
	@include font-size(15px,22px);
}
@mixin text-large {
	@include font-size(18px,30px);
}
