{layout="layouts/_site"}

<section>
	
	<div class="container">
	
		<div class="headline">
			<h1>Return Policy</h1>
		</div>
	
		<div class="row">
			<div col-sm="12" col-md="8">
				<section class="top-rule" anchor="duties-taxes">
					<p>If you are dissatisfied with your SoleMates™, please submit an inquiry with your reasons why to return product, and we will replace to you at no cost. Please include the packing slip with authorized RMA number with your return. We do not offer refunds on used Solemates™. Returns must be made within 14 days of purchase and will be subject to restocking fees. We do not offer refunds on bulk (discounted) orders.</p>
					<p>To return this merchandise, please ship to:</p>
					<p>
						Solemates<br>
						Attn: Returns/Exchanges<br>
						104 W 27th St., Suite 11A<br>
						New York, NY 10001<br>
						P: 877-356-3443
					</p>
					<p>Please include a copy of the packing list with RMA number with the shipment.</p>
				</section>
			</div>
		</div>
	
	</div>
	
</section>