{layout="layouts/_site"}

<section>
	
	<div class="container">
	
		<div class="headline">
			<h1>Privacy Policy</h1>
		</div>
	
		<div class="row">
			<div col-sm="12" col-md="8">
				<section class="top-rule">
					<p>
						Solemates, LLC, 104 SOLEMATES. 27th St., #11A, New York, NY 10001 (“Solemates,” “we,” “us” or “our”) operate Web sites located at www.thesolemates.com (collectively, the “Site”), and its subdomains, through which users can obtain information about Solemates and subscribe to services provided by Solemates.&nbsp; This Privacy Policy (“Policy”) is intended to describe the kinds of information that we may collect on the Site, how we use and share that information, how we endeavor to protect that information, how we make changes to this Policy, and how you can contact us if you have any questions about this Policy.
					</p>
		
					<h4>
						Scope of this Policy
					</h4>
					<p>
						This Policy applies to individuals that subscribe to and use any Solemates service, as well as individuals that do not subscribe to or use any Solemates service but may have sent or received emails to or from users or subscribers of Solemates services or who visited the Site. This Policy applies to all information collected through the Site, regardless of how you access the Site. That is to say, this Policy applies whether you are accessing our Site on a computer, mobile device like a tablet, or phone. We may also speak with you face to face (for example at a conference) or by telephone (for example when you make a support call). Those conversations are also covered by this Policy.&nbsp; By providing information to us when subscribing, contacting or communicating with us, or using the Site, you expressly agree to this Policy.
					</p>
					<p>
						This Policy does not apply to information collected through the use of Solemates mobile applications.
					</p>
		
					<h4>
						Potential applicability of other privacy policies
					</h4>
					<p>
						You might use Solemates services through a web portal provided by us on behalf of our customer, such as your employer, healthcare provider or financial institution. In that case, your employer, health care provider or financial institution may also have its own privacy policy that applies to your use of the Solemates services, and both privacy policies may apply to you. Solemates is not responsible for the privacy practices of third parties.
					</p>
		
					<h4>
						Applicability of other terms
					</h4>
					<p>
						Information collected by Solemates through its sites and through customer use of the Solemates services is also governed, to the extent applicable to the relevant services, by Solemates’s Terms and Conditions, Solemates’s License and Services Agreements for the applicable services, Solemates’s End User License Agreements, and other applicable Services Agreements (collectively, “Terms”). Please carefully review those Terms.
					</p>
		
					<h4>
						Cross-border data transfers and Safe Harbor compliance
					</h4>
					<p>
						If you are located outside of the United States, please be aware that information we collect will be transferred to and processed by Solemates in the United States for the purposes described in this Policy. Please note that Solemates is not responsible for your employer’s privacy practices or compliance with data protection requirements.
					</p>
					<p>
						If you are located in the European Economic Area or Switzerland, Solemates is certified under the Safe Harbor privacy framework as set forth by the U.S. Department of Commerce, European Commission and Switzerland regarding the collection, storage, use, transfer and other processing of personal information transferred from the European Economic Area or Switzerland to the U.S. <a href="http://zixcorp.com/privacy-policy/safe-harbors">Click here</a> to view our Safe Harbor Privacy Policy.
					</p>
		
					<h4>
						Potential applicability of other privacy policies
					</h4>
					<p>
						You might use Solemates services through a web portal provided by us on behalf of our customer, such as your employer, healthcare provider or financial institution. In that case, your employer, health care provider or financial institution may also have its own privacy policy that applies to your use of the Solemates services, and both privacy policies may apply to you. Solemates is not responsible for the privacy practices of third parties.
					</p>
		
					<h4>
						Applicability of other terms
					</h4>
					<p>
						Information collected by Solemates through its sites and through customer use of the Solemates services is also governed, to the extent applicable to the relevant services, by Solemates’s Terms and Conditions, Solemates’s License and Services Agreements for the applicable services, Solemates’s End User License Agreements, and other applicable Services Agreements (collectively, “Terms”). Please carefully review those Terms.
					</p>
		
					<h4>
						Cross-border data transfers and Safe Harbor compliance
					</h4>
					<p>
						If you are located outside of the United States, please be aware that information we collect will be transferred to and processed by Solemates in the United States for the purposes described in this Policy. Please note that Solemates is not responsible for your employer’s privacy practices or compliance with data protection requirements.
					</p>
					<p>
						If you are located in the European Economic Area or Switzerland, Solemates is certified under the Safe Harbor privacy framework as set forth by the U.S. Department of Commerce, European Commission and Switzerland regarding the collection, storage, use, transfer and other processing of personal information transferred from the European Economic Area or Switzerland to the U.S.&nbsp; to view our Safe Harbor Privacy Policy.
					</p>
		
					<h4>
						Personal information that we may collect
					</h4>
					<p>
						Solemates collects your email address when you register to use the Solemates services. In addition, Solemates collects a variety of personal information (i.e., information that is linkable to a specific individual) about users and subscribers to Solemates services and about other individuals that send or receive email to or from such users and subscribers. That personal information may include, without limitation, email address, email message content, and information about Solemates email accounts. We also collect metadata about emails, such as header information (e.g., sender, recipient, time sent, to, from, cc, date, subject line), file structure, operating systems used, system components, and hardware used. These types of metadata information are not encrypted by Solemates because they are required for email delivery.
					</p>
					<p>
						Solemates also collects personal information that you voluntarily provide when: using the Site, our products or services; participating in our surveys, contests, and other promotions; registering for our events; subscribing to our email listings; or requesting that we contact you. The personal information we collect includes contact information, such as names, mailing addresses, email addresses, and phone numbers; financial information such as credit card number numbers; and other information. We also collect broad demographic and statistical information. Solemates receives and records your name and the credit card information that you supply if you pay to use the Solemates services. If you choose to refer a friend or business entity to Solemates, we will ask you for certain personal information about your friend or a contact at the business entity. We may contact the referred party using the contact information you provide (such as by email, postal mail, landline phone, and mobile phone, as applicable). Solemates stores this information for its marketing purposes, to track the success of the referral program, and to determine our obligations under the referral program. Individuals referred through our consumer referral program may contact us at info@thesolemates.com to request that we cease contacting the individual in connection with the referral program.
					</p>
					<p>
						When you request technical support, Solemates collects your name, employer, email address, mailing address, and phone number in order to provide this requested service to you. You have the option of providing additional information to support including your demographic information (such as your state and country of residency), operating system, browser, Internet service provider (“ISP”), connection type and email program that you are using. We encourage you to provide the additional information so that we can determine specific regional problems (such as natural disasters or power outages caused by cuts through fiber optic cable) or isolate problems relating specifically to your particular operating system, email program or browser, thus enabling us to provide a more accurate response to your support requests.
					</p>
		
					<h4>
						Personal information that third parties may provide about you
					</h4>
					<p>
						We may receive information about you from third parties who are lawfully permitted to share your information with us. For example, if you are on another web site and you provide information that the website operator indicates will be provided to Solemates, that website operator will typically forward the information you provide. We may contact you using the information you provided, in accordance with your communication preferences. We may also combine the information we receive from third parties with information we collect or already maintain in order to ensure the records we hold about you are accurate and up-to-date. In those cases, we will apply this Policy to the combined information.
					</p>
					<p>
						In addition, we may supplement the information we collect with outside records from third parties in order to provide you with information, services or goods you have requested, to enhance our ability to serve you, and to tailor our content to you. We may combine the information we receive from those other sources with information we collect through the Site. In those cases, we will apply this Policy to the combined information.
					</p>
		
					<h4>
						How we use personal information that we collect
					</h4>
					<ul>
						<li>Solemates uses the personal information we collect as follows:
						</li>
						<li>To provide you with products, services and any renewals thereof;
						</li>
						<li>To market existing and new Solemates services to you, or the friends or businesses that you refer to Solemates;
						</li>
						<li>To manage your participation in our surveys, contests, events, and other promotions;
						</li>
						<li>To communicate with you concerning problems or malfunctions that you report;
						</li>
						<li>To provide you with support and maintenance for products and services;
						</li>
						<li>To inform you of any new or updated services or product offerings;
						</li>
						<li>To notify you of any changes to your use of our Site, products, or services;
						</li>
						<li>To respond to your inquiries;
						</li>
						<li>To bill you for product and services;
						</li>
						<li>To test, analyze and improve our services and marketing;
						</li>
						<li>To investigate, prevent, or take action regarding illegal activities, suspected fraud, safety of person or property, or violation of our policies or our other rights or interests; and
						</li>
						<li>To report on traffic levels to certain enterprise customers, such as how many of their users are sending emails and from what departments.
						</li>
						<li>As otherwise described in this Policy.
						</li>
						<li>Solemates uses email message and attachment content in order to provide and improve our products and services.
						</li>
					</ul>
		
					<h4>
						Employment applications
					</h4>
					<p>
						If you use the Site to apply to work with us&nbsp; we will use the information you supply to process your application and to monitor recruitment statistics. We retain de-personalized statistical information about applicants to help inform our recruitment activities, but individuals should not be identifiable from that data. Solemates is headquartered in the United States and employee and recruitment data is held there and in other Solemates locations worldwide. Once a person has taken up employment with us, we will compile a file relating to their employment. At that stage we will give the employee more details about how we hold employee data.
					</p>
		
					<h4>
						Automatic collection and use of other kinds of information; analytics; tracking; advertising
					</h4>
					<p>
						Solemates automatically receives and records certain information about you when you visit or interact with our Site (“Usage Information”). Usage Information includes your IP address, device type, browser type (such as Chrome®, Firefox®, Internet Explorer® and Safari®), referring page, pages visited, and time spent on our Site. Solemates may link your Usage Information to information that may be used to identify you as a specific individual, such as your email addres. If we link your Usage Information in this manner, Solemates will treat that information in accordance with this Policy.
					</p>
					<p>
						To analyze traffic to our Site, Solemates uses various web analytics services, which may independently collect Usage Information, set and access their own tracking technologies (including cookies, web beacons, and embedded scripts), and otherwise collect or have access to information about you.
					</p>
					<p>
						In addition, Solemates may work with network advertisers and ad agencies to serve our advertisements on other web sites, within third party applications, and across the Internet, and to provide us with information regarding the effectiveness of our advertisements. For example, if you clicked on a Solemates advertisement that led you to one of our corporate sites, our service provider(s) and we may be able to determine which Solemates advertisement you clicked on and where you were viewing the advertisement.&nbsp; However, Solemates’s advertising providers do not receive information regarding your use of the Solemates message center, such as any URL you access within the message center.
					</p>
		
					<h4>
						Solemates advertisements may be targeted to your company by our advertisers based on your IP address and your web browsing activity on non-Solemates websites. Solemates’s advertising providers may also attempt to store a cookie or other tracking technology on your device.
					</h4>
					<p>
						Solemates does not control the information collection, use, or sharing practices of third party analytics providers or advertisers.&nbsp; Some of these parties may collect your personal information when you visit the Site or other online websites and services.
					</p>
		
					<h4>
						IP addresses and location information
					</h4>
					<p>
						When your Web browser or email application requests content from another computer on the Internet, it automatically gives that computer the address where the requested information should be sent. This is called your computer's “IP address.” (IP stands for “Internet Protocol.”)
					</p>
					<p>
						Solemates and our service providers receive your IP address each time you obtain content from the Site. When you request content from the Site, information related to that request is collected and stored in log files on our servers. That information includes the date and time of the request, and the IP address of the computer that requested the content. We use log files for debugging and troubleshooting purposes. We may use your IP address for various purposes, including diagnosing service or technology problems that are associated with your IP address, conducting analytics, and estimating the total number of users visiting the Site from specific locales, countries or regions of the world. An IP address may generally indicate a user’s physical location. We do not, however, collect other device-related location information (such as GPS or mobile device coordinates). IP addresses and access times may be linked to your email address or SolematesMessage Center PassPhrase in a log entry, but these logs are for our internal use only and are not shared with third parties.
					</p>
		
					<h4>
						Cookies
					</h4>
					<p>
						If you use certain Solemates services, we will set cookies on your computer and/or your mobile device and later access those cookies in order to deliver the Solemates services. A cookie is a small text file, which often includes a unique identifier, that is sent to your browser when you visit a Web site. It is then stored on your computer or mobile device
					</p>
		
					<h4>
						Web Beacons
					</h4>
					<p>
						Small graphic images or other web programming code called web beacons (also known as "clear GIFs"), which may be invisible to you, may be included in our web pages and e-mail messages. Web beacons may be used for a number of purposes, including, without limitation, to count visitors to the Site, to monitor how users navigate the Site, to count how many e-mails that were sent were actually opened or to count how many particular links were actually viewed.
					</p>
		
					<h4>
						Embedded Scripts
					</h4>
					<p>
						An embedded script is programming code that is designed to collect information about your interactions with the Site, such as the links you click on. The code is temporarily downloaded onto your device from our server or a third party service provider, is active only while you are connected to the Site, and is deactivated or deleted thereafter.
					</p>
		
					<h4>
						Social Features
					</h4>
					<p>
						Our Web site offers publicly accessible blogs or community forums. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your personal information from our blog or community forum, contact us at info@thesolemates.com.&nbsp; In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why. The blog or community forums may include certain social features (also known as third-party widgets), which may permit interactions that you initiate between the blog or community forums and a third party web site or service. Social features may include enabling you to “like” or “share” our content on other web sites or services, such as Facebook, Google+, Twitter, or LinkedIn. If you use social features, Solemates may receive or have access to certain information about you and your use of the social features. These social features may collect your IP address, which page you are visiting on the blog or community forum, and may set a cookie to enable the social feature to function properly.&nbsp; Social features are either hosted by a third party or hosted directly by us. The information we collect or receive in connection with social features is subject to this Policy. The information collected and stored by the provider of the social features remains subject to the that third party’s privacy practices, including whether the third party continues to share information with us, the types of information shared, and your choices with regard to what is visible to others on that third party web site or service.
					</p>
		
					<h4>
						Information sharing and disclosure
					</h4>
					<p>
						Solemates will not sell or rent your personal information, except in the event that Solemates (or some or all of its assets) is merged with, sold to, or otherwise transferred to, one or more third parties. In such an event, customer information might be included among the transferred assets and Solemates reserves the right to share personal information it has about you. Notwithstanding any such transfer, your personal information will remain subject to this Policy. Our customer database could be sold separately from the rest of the business, in whole or in a number of parts. It could be that the purchaser’s business is different from ours too. In such circumstances, we will notify users by posting a notice on the Site.<br>
						Depending on the Solemates service you use, Solemates may share your information, or the information of your friends, family, or of others to whom you refer Solemates, including but not limited to, email address, name, phone number, mailing address, credit card information, public encryption codes for your email address, information about your account usage (including the number of email messages and attachments, if any, that you sent, and the list of recipients, subject and size of the combined text body of those email messages and attachments), and other personal information as follows:
					</p>
					<ul>
						<li>With persons or companies we retain to carry out or provide support to Solemates.
						</li>
						<li>with your employer and/or compliance review committees for billing and auditing purposes. Your employer and/or the compliance review committee may be based in a different country from where you are based. This could mean that we would disclose your data to them anywhere in the world. By using our service you consent to that disclosure.
						</li>
						<li>To the extent that we determine it is reasonably necessary or legally required in order for us to respond to subpoenas, court orders, warrants, or other legal process.
						</li>
						<li>when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.
						</li>
						<li>To enable a third party partner or independent reseller to contact you to facilitate the renewal, support or purchase of Solemates products and services.
						</li>
						<li>with credit card authorization processors, third-party financial institutions and related organizations for billing and payment purposes so that they can verify the credit card numbers, process the credit card payment transaction, and prevent fraud or misuse of credit card facilities.
						</li>
						<li>With your consent or where disclosure is necessary in order to complete a transaction to which you have consented.
						</li>
						<li>As otherwise described in this Policy.
						</li>
					</ul>
					<p>
						If we are involved in a merger, acquisition, or sale of all or a portion of our assets, you will be notified via email and/or prominent notice on our Web site for 30 days of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.
					</p>
					<p>
						In addition, we may partner with third parties to obtain specific services for you, such as anti-spam or anti-virus services. If you sign up for these services through Solemates, we will share information that is necessary in order for the third party to provide these services. We instruct those third parties that personal information they obtain from Solemates can be used solely for the purpose of providing these services.
					</p>
					<p>
						We use testimonials from our customers, with their express consent, in order to show our customers and potential customers how Solemates services have benefited others. To request removal of your personal information from the testimonials on our Site, contact us at info@thesolemates.com. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why. Solemates shares with certain business partners and advertisers certain aggregated data, including usage, demographic and statistical information and analytics data collected using third party web analytics services.
					</p>
		
					<h4>
						Links and other companies' cookies on the Site
					</h4>
					<p>
						The Site may contain links to Web sites controlled by third parties. We have no control over the practices of the third party Web sites to which we link. Those Web sites may automatically collect information about your visit to their site and may use their own tracking technology (such as cookies, web beacons, or embedded scripts). Those Web sites are subject to the privacy policies of the third parties that control those Web sites, and not the Solemates Privacy Policy. We encourage you to check the privacy policies of these Web sites before using them or disclosing any personal information to them.
					</p>
					<p>
						Please see the section titled “Automatic collection and use of other kinds of information; analytics; tracking; advertising” for additional information about the practices of our analytics and advertising providers, including their use of tracking technology.
					</p>
					<p>
						If you no longer wish to receive marketing emails from Solemates, you can opt-out by (1) following the instructions provided in the emails, as applicable; (2) sending an email to info@thesolemates.com.
					</p>
		
					<h4>
						Security
					</h4>
					<p>
						Solemates takes reasonable precautions, including the maintenance of reasonable physical, electronic, and procedural safeguards, to help protect your information from loss, misuse, and unauthorized or illegal access, disclosure, alteration, modification, use or destruction. Solemates has implemented reasonable security measures to help protect your email address from unauthorized access or disclosure, alteration, unlawful destruction or accidental loss. When appropriate, Solemates uses industry-standard encryption to protect certain data (e.g., credit card numbers) during transmission. The servers on which we store your information are kept in an environment that is environmentally controlled and monitored 24 hours per day, 7 days per week. Although Solemates uses reasonable efforts to help protect your information, transmission via the Internet is not completely secure and Solemates cannot guarantee the security of your information. In particular, it remains your responsibility:
					</p>
					<ul>
						<li>To protect against unauthorized access to your use of the Site.
						</li>
						<li>To ensure no one else uses the Site while your machine is logged on to the Site (including by logging on to your machine through a mobile, Wi-Fi or shared access connection you are using).
						</li>
						<li>To log off or exit from the Site when not using it.
						</li>
						<li>To keep your password or other access information secret and all of your account details secure.
						</li>
						<li>To maintain good Internet security. For example if your email account is compromised this could allow access to your account with us if you have given us those details and/or permitted access through those accounts. If your email account is compromised it could be used to ask us to reset a password and gain access to your account with us.
						</li>
						<li>If you think that any of your accounts has been compromised you should change your account credentials with us, and in particular make sure any compromised account does not allow access to your account with us. You should also tell us as soon as you can so that we can try to help you keep your account secure and if necessary warn anyone else who could be affected.
						</li>
					</ul>
		
					<h4>
						Data storage
					</h4>
					<p>
						Most account information (including email addresses, public keys, names, and mailing addresses, but excluding credit card information used for payment to Solemates) is stored on multiple disk storage systems at either our data center in the United States. This means that we redundantly store data on more than one server in one of those locations, but most often in the United States based on customer equipment configuration.
					</p>
		
					<h4>
						Guidelines regarding children
					</h4>
					<p>
						Solemates’s Site, products, and services are not designed for or directed to children under the age of 18, and Solemates will not knowingly collect personal information from anyone under the age of 18. If you are under the age of 18, please do not provide personal information of any kind whatsoever and please do not use Solemates products and services or participate in Solemates’s surveys, contests, events, and other promotions.
					</p>
		
					<h4>
						Your California privacy rights
					</h4>
					<p>
						When California customers provide personal information to a business, they have the right to request certain disclosures if that business shares personal information with third parties or affiliates for the third parties’ or affiliates’ direct marketing purposes. Once per calendar year the customer may request that the business provide a list of companies with which it shares personal information for the third parties’ or affiliates’ direct marketing purposes, and a list of the categories of personal information that the business shares. As stated in this Policy, we do not share information with third parties or affiliates for those third parties’ or affiliates’ direct marketing purposes. California customers may request further information about our compliance with this law by e-mailing info@thesolemates.com or contacting us by mail 104 W. 27th St. #11A, New York, NY, 10001, USA. Please note that we are only required to respond to one request per customer each year, and we are not required to respond to requests made by means other than through this e-mail address.
					</p>
		
					<h4>
						Notification of changes to this Policy
					</h4>
					<p>
						We may update this privacy policy to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.
					</p>
		
					<h4>
						Privacy Policy questions, suggestions and complaints
					</h4>
					<p>
						If you have questions, concerns or suggestions about this Policy or Solemates’s privacy practices, send an email to info@thesolemates.com. You can also contact Solemates at the following postal address: 104 W. 27th St., #11A, New York, NY 10001 and phone number +1 877.356.3443.
					</p>
				</section>
			</div>
		</div>
	
	</div>
	
</section>