.white-bg {
	background-color: white;
}

.gray-bg {
	background-color: #ececec;
}

.dark-bg {
	background-color: $black;
}

.dark-body {
	background-image: none;
	background-color: $black;
}

.white-body {
	background-image: none;
	background-color: white;
}

.textured-bg {
	background-image: url(../img/background@2x.jpg);
}
