.breadcrumbs {
	@include list-style-reset;
	@include font-size(1.1rem,2rem);
	@include font-weight(bold);
	text-transform: uppercase;
	
	li {
		float: left;
		
		&:first-child {
			a {
				padding-left: 0; border: 0 none;
			}
		}
		
		&:last-child {
			a {
				padding-right: 0;
			}
		}
	}
	
	a {
		color: white; border-left: 1px solid white; padding: 2px 1.1rem 0 1.1rem;
	}
	
	.active {
		@include font-weight(regular);
	}
	
	.icon {
		@include size(12px);
		fill: white;
		padding-bottom: 1px;
	}
}

.breadcrumbs--black {
	a {
		color: $black; border-left: 1px solid $black;
	}
	
	.icon {
		fill: $black;
	}
}
