.btn {
	@include button;
}

.btn--full {
	width: 100%;
	
	& + .btn--full {
		margin-top: 1rem;
	}
}

.btn--black-stroke {
	@include button--stroke;
}
.btn--white-stroke {
	@include button--stroke(white);
	&:hover, &:focus {
		color: $black; background-color: white;
	}
}

.btn--toggle__wrapper {
	text-align: center;
}

.btn--toggle {
	@include button--stroke;
	@include font-size(1.3rem);
	text-transform: uppercase;
	
	+ .btn--toggle {
		margin-left: 5px;
	}
}

.btn--toggle-active {
	@include arrow-box($direction: bottom, $borderWidth: 3px, $borderColor: $black, $bgColor: $black, $verticalOffset: 95%);
	color: white;
}

.btn--toggle__white {
	@include button--stroke(white);
	@include font-size(1.3rem);
	text-transform: uppercase;
	&.btn--toggle-active {
		@include arrow-box($direction: bottom, $borderWidth: 3px, $borderColor: white, $bgColor: white, $verticalOffset: 95%);
		color: black;
	}
}

.link--special {
	@include font-weight(bold);
	color: $red;

	&:hover {
		text-decoration: none;
	}

	.icon {
		@include size(30px);
		fill: $red;
	}
	
	.icon + span, 
	span + .icon {
		margin-left: 1rem;
	}
	
	&.link--previous-section {
		@include font-size(1.3rem, 2.5rem);
		margin-bottom: 1.7rem; display: inline-block;
		text-transform: uppercase;
	}
}

.link--add {
	&:hover {
		text-decoration: none;
	}
	
	.icon {
		@include size(15px);
		fill: $red;
	}
}

.link--download {
	@include font-weight(bold);
	
	&:hover {
		text-decoration: none;
	}
	
	.icon {
		@include size(21px);
		margin-left: 9px; fill: #dcdddd;
	}
}

.link--cta {
	&:hover, &:focus {
		text-decoration: none;
	}
}
