.card {
	@include text-theme-default;
	width: 100%; background-color: white; padding: 2.7rem 3rem;

	h3 {
		> mark {
			display: block;
		}
	}
	
	p + p {
		margin-top: 3.5rem;
	}
	
	&:hover, &:focus {
		text-decoration: none;
	}
}

.card--transparent {
	background-color: transparent; padding: 0;
}

.card--decorated {
	border-top: 3px solid $red; box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.15);
	
	h4 {
		@include text-theme-default;
		color: $black;
	}
}

.card--decorated__black {
	border-color: $black;
}

.card--plain {
	box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.15);
}

.card__icon {
	height: 60px; fill: $red; margin-bottom: 24px;
}

.card--has-image {
	@include display(flex);
  	@include align-items(flex-start);
	@include text-theme-default;
	padding: 0; border-top: 3px solid $red;
	
	.card__body {
		@include flex(1);
		padding: 1.6rem 2.2rem;
	}
	
	h2, h4 {
		color: $red;
	}
	
	h4 {
		@include font-size(2rem, 2.4rem);
	}
	
	p {
		@include text-small;
	}
	figure {
		min-height: 168px; margin-bottom: -10px;
	}
}

.card--has-centered-image {
	figure {
		margin: 10px 10px 10px 0; position: relative; width: 195px;
	}
	img {
		@include centered(false);
	}
}

.card--logo {
	@include display(flex);
	@include flex-direction(column);
	text-align: center;
	
	figure {
		margin: auto; position: relative;display: block;
		
		.icon {
			@include centered(false);
			height: 55px; fill: $black;
		}
	}
	
	img {
		width: 100%;
	}
	
	.link--special {
		margin-top: 2rem;
	}
}
