.card-list {
	@include list-style-reset;
	@include grid-row(flex);
	
	li {
		@include column(12, flex);
		padding-bottom: $wrapper-padding;
		
		> h2 {
			color: white;
		}
	}
	
	.card-list__title {
		padding-bottom: 1.8rem;
	}
	
	&[card-columns="6"] {
		li {
			@include column(2, flex);
		}
	}
	
	&[card-columns="3"] {
		li {
			@include column(4, flex);
		}
	}
	
	&[card-columns="2"] {
		li {
			@include column(6, flex);
		}
	}
	
	.card {
		p {
			&:first-of-type {
				margin-top: .5rem;
			}

			&:last-of-type {
				margin-bottom: .5rem;
			}
		}
	}
	
	&.card-list__large {
		.card {
			min-height: 200px;
		}
	}

	&.card-list__large-image {
		img {
			min-height: 170px;
		}
	}
}
