.input {
	background:#fff; position:relative; height:4.4rem; margin:0;
	select, .customSelect {
		@include text-small;
		background:#fff; color: #898d8f; position:absolute; width:100% !important; height:100% !important; left:0; top:0; border:none; padding:0 7px; z-index:1;
	}
	select {
		cursor:pointer;
	}
	.customSelect,
	.customSelectInner {
		width:100% !important; height:100% !important; line-height: 4.6rem; cursor:pointer;
	}
	.customSelectInner {
		position:relative;
		&:after {
			@include size(13px);
			@include vertCenter(absolute, -30%);
			display:block; right:10px; background:url('../img/icons/down-arrow.svg') no-repeat; content:'';
		}
	}
}

.hasCustomSelect {
	opacity: 0;
}
