.detail-page__body {
	p + h3,
	.cross-hairs + h3 {
		margin-top: 4rem;
	}
	
	h5 + p {
		margin-top: 0;
	}
	
	h3 + h5 {
		margin-top: 1rem;
	}
}

.detail-page__sidebar {
	width: 100%; background-color: white; padding: 2rem; box-shadow: 0px 1px 1px 0.00px rgba(0, 0, 0, 0.15);

	h6 {
		text-transform: uppercase;

		&:first-of-type {
			margin-top: 3rem;
		}
	}

	p + p {
		@include text-small;
		margin-top: 1.7rem;
	}

	.icon {
		@include size(15px);
		margin-right: 9px; fill: #dcdddd;
	}
}
