.container--flex {
	@include display(flex);
}

.wrapper--flex {
	overflow: hidden;
	height: 100%;
	position: relative;
	&:before {
		position: absolute;
		height: 100%;
		left: 50%;
		background-image: url(../img/background@2x.jpg);
		width: 50%;
		content: '';
	}
	.container--flex__left,
	.container--flex__right {
		padding-top: 5.8rem; padding-bottom: 16.2rem;
		position: relative;
	}
	.container--flex__left {
		background: #fff; 
		padding-right: ($column + $wrapper-padding + $gutter);
//		padding-right: $wrapper-padding;
	}
	.container--flex__right {
		padding-left: $wrapper-padding;
	}
}
