.heading-divider::before {
	content: ' '; display: block; height: 4px; width: 5rem; background-color: $red; margin-bottom: 1.1rem;
}

.heading-divider.text-center {
	&::before {
		margin-left: auto; margin-right: auto;
	}	
}
