.left-rail-nav {
	@include list-style-reset;
	@include font-weight(bold);
	font-size: 15px;
	
	ul {
		@include list-style-reset;
		font-size: 13px; margin-top: 5px; margin-bottom: 8px;
		a {
			@include font-weight(regular);
			padding-left: 12px;
		}
	}
	
	> li:first-child {
		margin-top: -5px;
	}
	
	li + li {
		margin: 5px 0;
	}
	
	a {
		color: $black; line-height: 1em; display: block; padding: 5px 0 3px;
	}
	
	.active {
		@include font-weight(bold);
		border-left: 3px solid $black; padding-left: 9px; color: $red; text-decoration: none;
	}
}
