.cross-hairs {
	@include list-style-reset;
	padding: 0 1.7rem;
	
	> li, li + li {
		position: relative; margin-bottom: 1.5rem; padding-left: 20px; padding-right: 20px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	li::before {
		@include size(13px);
		position: absolute; left: 0; top: 4px; content: ' '; display: inline-block; background: url(/assets/img/icons/cross-hairs.svg) center bottom; background-repeat: no-repeat; background-size: contain;
	}
	
	h3 + & {
		margin-top: 1rem;
	}
}

.cross-hairs--table {
	padding: 1.5rem 1.7rem 1rem 1.7rem;border-top: 3px solid $black;border-bottom: 1px solid #c3c5c6; margin-bottom: 8rem;
}

.two-columns {
	@include list-style-reset;
	> li {
		float: left; width: 50%;
	}
}

.three-columns {
	@include clearfix;
	@include grid-row;
	margin:0; padding:0; list-style:none;
	
	> li {
		@include column(4);
//		float: left; width: 33.3%;
	}
}

h2 + .three-columns {
	margin-top: 1.7rem !important;
}
