.mastead-nav__wrapper {
	position: absolute; bottom: 0; width: 100%;border-width: 3px 0; border-style: solid; border-color: black;
}

.masthead-nav__items {
	@include list-style-reset;
	position: relative;
	
	li {
		float: left;
		border-left: 3px solid black;
		
		&:last-child {
			border-right: 3px solid black;
		}
	}
	
	.active {
		@include arrow-box($direction: bottom, $borderWidth: 3px, $borderColor: $red, $bgColor: $red, $verticalOffset: 95%);
		margin: -3px -3px -3px 0;
		
		&:last-child {
			border-right: 3px solid $red;
		}
	}
	
	a {
		@include font-weight(bold);
		@include font-size(1.3rem, 2.4rem);
		text-transform: uppercase; display: inline-block; line-height: 5rem; color: white; padding: 0 32px;
	}
}
