.masthead-cards {
	position: absolute; width: 100%; top: 43%;
	
	.card > p {
		margin: 1em 0;
	}
}

.masthead-cards__list {
	@include list-style-reset;
	@include grid-row(flex);
	
	li {
		@include column(4, flex);
	}
	
	.card {
		padding-bottom: 40px;
	}
}

.masthead-cards__detail {
	margin-bottom: 19px;
	p, p + p {
		margin: 0; padding: 0;
	}
}
