.masthead {
	background-color: $black; background-repeat: no-repeat; background-size: cover; min-height: 611px; background-position: bottom;
	
	.container {
		min-height: inherit; position: relative;
	}

	h1 {
		@include font-size(5.5rem,7rem);
		color: white; margin-bottom: 1.1rem;
		
		+ p, + h3 {
			@include font-weight(bold);
			color: white;
		}
	}
	
	.breadcrumbs {
		position: absolute; top: 1.6rem;
	}
	
	p {
		margin: 0;
		+ .link--add {
			@include font-weight(bold);
			display: block; margin-top: 8px;
		}
	}
	
	.lede__read-more {
		@include list-style-reset;
		@include font-weight(bold);
		margin-top: 1em;
		
		.icon {
			@include size(22px);
			fill: $red;
		}
		
		li {
			float: left;
			
			&:first-child {
				a {
					padding-left: 0; border: 0 none;
				}
			}
		}
		
		a {
			 padding: 0 17px; border-left: 1px solid white;
		}
	}
	
	.link--previous-section {
		color: white; margin-bottom: 10px;
	}
	
	&.masthead--transparent {
		@include text-theme-default;
		background-color: transparent; margin-bottom: 3rem;
		
		p {
			@include text-theme-default;
		}
		
		+ section {
			padding: 0;
		}
	}
	
	&.masthead--has-nav {
		min-height: 394px; background-position: center; position: relative;
		
		.container {
			min-height: inherit; max-height: inherit;
		}
	}
	
	.btn--toggle__wrapper {
		margin-top: 7.5rem;
	}

}

.masthead--home {
	margin-top: 28px;
	h1 {
		@include font-size(6rem,7rem);
	}
}

.masthead--empty {
	background-color: transparent; margin-bottom: 5rem; min-height: auto;
}

.masthead--hascards,
.masthead--center-lede {
	h1 {
		 text-align: center;
	}
	.lede {
		@include centered(false);
		width: 100%;

		.btn:hover, .btn:focus {
			background-color: white; color: $black;
		}
		
		mark {
			color: $red;
		}
	}
}

.masthead--hascards {
	position: relative;
	.lede {
		top: 34%;
	}
	
	margin-bottom: 200px;
}

.masthead--has-image {
	min-height:494px;position: relative;
	.lede__wrapper {
		@include centered(false);
		top: 45%;width: 100%;padding-left:$wrapper-padding; padding-right:$wrapper-padding;

		.btn:hover, .btn:focus {
			background-color: white; color: $black;
		}
		
		mark {
			color: $red;
		}
	}
	
	.lede {
		@include grid-row;
	}
	
	h1 {
		 text-align: left; margin-bottom: 0;
		
		+ p {
			margin-top: 0px;
		}
	}
}

.masthead--vertcenter-lede {
	min-height: 350px;
	
	.lede {
		@include vertCenter(absolute, -70%);
	}
}

.masthead--bottom-lede {
	min-height: 282px;
	
	.lede {
		position: absolute; left: auto; bottom: 2.5rem;
	}
	
	.lede--alt {
		bottom: 5.5rem;
	}
}

.masthead--bottom-lede, .masthead--vertcenter-lede {
	h1 {
		text-align: left;
		
		+ p {
			margin-top: -6px;
		}
	}
}

.masthead--subpage {
	min-height: 422px;
	
	.lede__subheading {
		@include list-style-reset;
		margin-top: 3rem; text-align: center;
		
		li, li + li {
			display: inline-block; margin-right: 4.75rem; padding-right: 4.75rem;
			border-right: 3px solid rgba(white, .1);
			
			&:last-child {
				margin-right: 0; padding-right: 0; border: 0 none;
			}
		}
	}
	
	h2 {
		@include font-weight(regular);
		font-size: 5rem; color: $red; line-height: 1;
		
		+ h5 {
			color: white; margin-top: 1rem; text-transform: uppercase; line-height: 1;
		}
	}
}

.masthead--gradient {
	min-height: 400px;
	
	+ section {
		position: relative; margin-top: -100px;
	}
	
	.lede {
		@include vertCenter(absolute);
	}
	
	&.masthead--center-lede .lede {
		left: 0;
		
		p {
			text-align: center;
		}
	}
}

.masthead--gradient--large {
	min-height: 840px;
	
	+ section {
		position: relative; margin-top: -500px;
	}
	
	.lede {
		@include transform(translateY(-50%));
		top: 23%;
	}
}
