.media {
	display: flex;
	align-items: flex-start;
	
	+ .media {
		margin-top: $wrapper-padding;
	}
	
	.media__title {
		color: $red;
	}
}

.media__figure {
	margin-right: 1em;
}

.media__body {
	flex: 1;
}
