.news-pagination {
	@include clearfix;
	margin: 1.5rem 0 6rem 0; line-height:52px; border:solid $black; border-width:2px 0;
	
	ul {
		@include list-style-reset;
		li {
			float: left;
		}
	}
	
	a {
		@include font-weight(bold);
		padding: 13.5px 10px;
	}
	
	.active {
		pointer-events: none;
	}
	
	.news-pagination__list {
		float: left;
		li, li + li {
			border-right: 2px solid $black;
		}
		.active {
			color: $black;
		}
	}

	.news-pagination__prevnext {
		float: right; margin-right: -10px;

		.active {
			color: rgba(#000, 0.2);
		}
	}
	
}