.news-detail {
	h1 {
		@include font-size(5.5rem, 6rem);
	}
	
	h3 {
		margin-top: 4.8rem;
		
		+ p {
			margin-top: 0;
		}
	}
	
	figure {
		margin: 2.7rem 0 2.5rem 0;
	}
	
	cite {
		margin: 5.3rem 0 4.4rem 0;
	}
}
