overlay-wrap {
	@include size(100%);
	@include position(fixed, 0 null null 0);
	background-color: rgba(black, .9); overflow-y: auto; display: block; height: 100%; z-index: 1000;
	
	&.ng-hide-remove {
		@include animate-css(fadeIn, 0, 300ms);
	}
	&.ng-hide-add {
		@include animate-css(fadeOut, 0, 300ms);
	}
}

.overlay__close {
	@include position(absolute, 36px 36px null null);
	z-index: 1003;
	
	.icon {
		@include size(34px);
		fill: $red;
	}
}


/**
 * .overlay__body base
 */

overlay {
	z-index: 1002;
	
	&.ng-hide-remove {
		@include animate-css(fadeInUp, 0, 500ms);
	}

	&.ng-hide-add {
		@include animate-css(fadeOutUp, 0, 500ms);
	}
}

/**
 * .overlay__body variations
 */
.overlay--search {
	
	.container {
		padding-top: 15%;
	}
	.input-addon--search {
		@include display(flex);
		
		.icon {
			fill: $red;
		}

		.input-addon__field, .input-addon__item {
			padding: 0 38px;height: 108px;
		}
		
		.input-addon__field {
			@include flex(1);
			@include font-size(4.5rem);
			color: $red; text-align: center;background-color: transparent;border-left: 2px solid white;
		}

		.input-addon__item {
			background-color: transparent; position: relative;
			.icon {
				@include size(45px);top: 25%;
			}
		}
	}
}

.overlay--products {
	background: {color: $black; repeat: no-repeat;size: contain;}
	
	@include media(1700px) {
		background-size: cover; background-position: center;
	}
	
	.overlay__body {
		color: white;

		.container {
			margin-top: 108px; margin-bottom: 36px;
		}

		.cross-hairs {
			margin-bottom: 4rem;
		}

		h1 {
			@include font-size(5.5rem, 7rem);
			color: white; margin-top: 3rem;
		}

		h3 {
			color: white; margin-top: 4rem;
		}
	}
	
	.overlay__close {
		position: static;
		.icon {
			@include size(54px);
			fill: $red;
		}
	}
}

.overlay--products__actions {
	@include list-style-reset;
	
	li {
		display: inline-block;
	}
	
	li + li {
		 margin-left: 2.5rem;
	}
	
	.icon {
		@include size(23px);
		fill: $red;
	}
	
	a {
		@include font-weight(bold);
	}
	
	.btn:hover {
		color: $black; background-color: white;
	}
}
