.product-types {
	@include list-style-reset;
	@include grid-row(flex);
	@include flex-wrap(nowrap);
	padding-top: 1.7rem; text-align: center;
	
	li {
		@include column(4, flex);
	}
	
	a {
		@include display(flex);
		@include flex-direction(column);
		text-align: center; width: 100%;
	}

	a:hover, a:focus {
		text-decoration: none;
		figure {
			position: relative;
		}
		figure::after {
			content: '';background-color: rgba($red, .85);position: absolute; bottom: 0; left: 0;display: block; width: 100%; z-index: 100;height: 100%;
		}
		.btn {
			opacity: 1;
		}
	}
	
	figure {
		margin-top: auto;
	}
	
	.btn {
		@include centered(false);
		@include transition(none);
		@include font-size(12px,24px);
		opacity: 0;z-index: 150;padding: 1rem 2rem; pointer-events: none;
	}
}

.timer {
	background-color: black; height: 8px;
	
	span {
		background: #26c4a2; display: block; height: 100%;
	}
}
