.section-cue {
	@include font-weight(bold);
	@include arrow-box($direction: bottom, $borderWidth: 0px, $borderColor: $black, $bgColor: $black, $verticalOffset: 95%);
	display: block; font-size: 1.3rem; margin-bottom: 3rem;text-transform: uppercase; text-align: center; background-color: $black; padding:1.27rem 3.5rem; color: white; font-weight: bold;
}
