.table {
	width: 100%; margin-bottom: 8rem;
	
	&:last-child {
		margin-bottom: 11.5rem;
	}
	
	tr {
		border-top: 1px solid #c3c5c6;
		
		&:first-child {
			border-top: 3px solid $black;
		}
	}
	
	td {
		padding: 1rem 0; vertical-align: text-top;
		
		&:first-child {
			padding-left: 1rem;
		}
		
		&:last-child {
			padding-right: 1rem;
		}
	}
	
	.link--download {
		@include text-small;
	}
	
	.table__group {
		tr {
			border-top: 0 none;

			&:first-child {
				border-top: 1px solid #c3c5c6;
			}

			&:last-child {
				border-bottom: 1px solid #c3c5c6;
			}
		}
	}
}

.table--alternate {
	@include text-small;
	width: 100%; text-align: left; table-layout: fixed;
	
	th.parts-no {
		width: 320px;
	}
	
	th.description {
		width: 546px;
	}
	
	th.ships-by {
		width: 133px;
	}
	
	th.price {
		width: 103px;
	}
	
	td {
		vertical-align: top; padding: 1.5rem 1rem 1.5rem 0;
		
		ul, p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	thead {
		@include font-weight(bold);
		background-color: black; color: white; line-height: 5.1rem;
		
		tr {
			th:first-child {
				padding-left: 1rem;
			}
			th:last-child {
				padding-right: 1rem;
			}
		}
	}
	
	tbody {
		tr {
			border-top: 1px solid black;
			
			td:first-child {
				padding-left: 1rem;
			}
			td:last-child {
				padding-right: 1rem;
			}
		}
		
		th {
			padding: 0 1rem; background-color: #cccccc; color: black; line-height: 5.1rem; height: 5.1rem;
			
			h4 {
				line-height: 1;
			}
		}
	}
	
	tfoot {
		border-top: 1px solid black; background-color: #cccccc;
		
		tr {
			td:first-child {
				padding-left: 1rem;
			}
			td:last-child {
				padding-right: 1rem;
			}
		}
		
		td {
			padding-bottom: 2rem;
		}
	}
}

.table--alternate + .table--alternate {
	margin-top: 5rem;
}

.table--alternate--basic {
	
	tr {
		th:nth-child(2) {
			width: 860px;
		}
	}
	
	tbody:last-child {
		tr:last-child {
			border-bottom: 1px solid black;
		}
	}
}

.table--responsive {
	table-layout: auto;
	
	thead th {
		line-height: initial; padding: 5px 0;
	}
}
