{layout="layouts/_site"}

<section>
	
	<div class="container">
	
		<div class="headline centered">
			<h1>Find Solemates<sup>™</sup> in a Store Near <mark>You</mark></h1>
			<p>
				We suggest that you call ahead to make sure that the store selected is stocked with enough products for your needs. Is there a store in your area that should be carrying Solemates?
				<br>
				<a href="mailto:info@thesolemates.com">Let us know</a>
			</p>
		</div>
		
		<div class="row">
			<div col-sm="12" col-lg="3" class="top-col">
				<h4 class="top-col__headline">Find A Store</h4>
				<div class="store-locator__form">
					{exp:geofinder:simple_form id="geofinder_form" result_page="{segment_1}/results"}
						<label for="geoquery">By City, State or Zip</label>
						<p class="input">
							<input type="text" name="geoquery" id="geoquery" value="{segment_3}">
						</p>
						<label for="radius">Radius</label>
						<p class="input">
							<select name="radius" id="radius">
								<option value="25" {if segment_4 == "25"}selected{/if}>25 Miles</option>
								<option value="50" {if segment_4 == "50"}selected{/if}>50 Miles</option>
								<option value="100" {if segment_4 == "100"}selected{/if}>100 Miles</option>
							</select>
						</p>
						<p class="submit">
							<label>
								Search
								<input type="submit">
							</label>
						</p>
					{/exp:geofinder:simple_form}
				</div>
			</div>
			<div col-sm="12" col-lg="9" class="top-col">
				{layout:results}
			</div>
		</div>
	
	</div>
	
</section>