{layout="store-locator/_layout"}

{layout:set name="results"}
	<div class="store-locator__retailers">
		<h4 class="top-col__headline">Solemates Retailers</h4>
		<figure>
			<img src="/assets/img/retail-locations.png">
		</figure>
	</div>
{/layout:set}