{layout="store-locator/_layout"}

{layout:set name="results"}
	<figure class="store-locator__map">
		<h4 class="top-col__headline">Stores Near You</h4>
		{exp:gmap:init id="gmap" scrollwheel="false"}
	</figure>
	<h4>Stores Near {segment_3}</h4>
	<ul class="store-locator__results">
		{exp:geofinder:location_results channel="retail_locations" limit="9999" geoquery="{segment_3}" radius="{segment_4}" latitude="stores_latitude" longitude="stores_longitude" distance_mode="miles" disable="member_data|category_fields|trackbacks"}
			{if no_results}
				<li style="width:100%; margin-top:10px;">
					<p>Sorry, we can't find any stores near your location!</p>
					<script type="text/javascript">
						$(".store-locator__map").remove();
					</script>
				</li>
			{/if}
			<li>
				{exp:gmap:marker id="gmap" latitude="{stores_latitude}" longitude="{stores_longitude}" geocode="false" clustering="true"}
					<strong>{title}</strong><br>
					{if stores_address}{stores_address}{/if}
					{if stores_address2}<br>{stores_address2}{/if}
					<br>
					{if stores_city}{stores_city},{/if}
					{if stores_state}{stores_state},{/if}
					{if stores_zip}{stores_zip}{/if}
					{if stores_phone}<br>{stores_phone}{/if}
					{if stores_website}<br><a href="{stores_website}" target="_blank">{stores_website}</a>{/if}
				{/exp:gmap:marker}
				<p class="distance-away">{distance} {distance_mode}</p>
				<h4>{title}</h4>
				<p>
					{if stores_address}{stores_address}{/if}
					{if stores_address2}<br>{stores_address2}{/if}
					<br>
					{if stores_city}{stores_city},{/if}
					{if stores_state}{stores_state},{/if}
					{if stores_zip}{stores_zip}{/if}
					{if stores_phone}<br>{stores_phone}{/if}
					{if stores_website}<br><a href="{stores_website}" target="_blank">{stores_website}</a>{/if}
				</p>
			</li>
		{/exp:geofinder:location_results}
	</ul>
{/layout:set}