.btn {
	@include btn();
}

.btn--large {
	padding: 11px 26px
}

.btns {
	float: left;
	@include media($small-only) {
		float: none;
	}
	
	a:hover {
		color: #fff;
		background-image: -webkit-gradient(button
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(0, 158, 74)),
			color-stop(0.95, rgb(0, 138, 64)),
			color-stop(0.95, rgb(0, 81, 38))
		);
		background-image: -o-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -moz-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -webkit-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -ms-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: linear-gradient(to top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
	}
	
	.btn {
		display: inline-block; margin-right: 5px; margin-left: 5px;
	}
}


