.row {
	@include row;
}

.column_full {
	@include span-columns(12);
	@include clearfix;
}

.column_half {
	@include span-columns(6);
	padding-bottom: 20px;
	@include clearfix;
	
	@include media($break440) {
		@include span-columns(4);
		&.always {
			@include span-columns(2);
		}
	}
}

.column_third {
	@include span-columns(4);
	@include clearfix;
	@include omega(3n);
	
	&:nth-child(3n+1) {
		clear:left;
	}
	
	@include media($break440) {
		@include span-columns(4);
		text-align: center;
		
		a {
			display: inline-block;
		}
	}
}

.column_fourth {
	@include span-columns(3);
	@include clearfix;
	
	@include media($break440) {
		@include span-columns(4);
	}
}

.push_right {
	float: right;
	margin-right: 0;
}

.text-right { text-align: right;}
.text-left { text-align: left;}

.text_column {
	margin-bottom: 100px;
	
	@include media($break440) {
		margin-bottom: 0px;
	}
}

.linen_bg {
	background: url('../images/linen_bg.jpg');
	color: $white;
}

.wood_bg {
	background: url('../images/wood_bg.jpg');
}

.marble_bg {
	background: url('../images/marble_bg.jpg');
}

.map_bg {
	background: url('../images/map_bg-1920.jpg'); background-size:cover;
}

.paper_bg {
	background: url('../images/paper_bg.jpg');
}

.tan_bg {
	background: #eeebe3;
}

.sand_bg {
	background: #f6f5f1;
}

.white_bg {
	background: $genova-white;
}

.border-top-brown {
	border-top: 1px solid #e1ddd7;
}