.connect-with-us {
	margin:0; padding:0; list-style:none; float:right;
	@include media($large) {
		display: none;
	}
	
	@include media($break700) {
		float:none; text-align:center; clear:left;
	}
	
	li {
		display:inline-block; line-height:23px; text-transform:uppercase;
		&:first-child {
			padding-right:7px;
			@include media($break700) {
				display:block; padding:0;
			}
		}
	}
	
	li + li {
		margin:0 4px;
	}
	
	a {
		@include size(23px);
		display:inline-block; color:#d0bc9b; background:#8e8064; border-radius:100%; text-align:center;
		&:hover {
			background:#fff;
		}
		
		@include media($small-only) {
			@include size(30px);
			font-size: 30px;
		}
		
	}
	
	i {
		position:relative; top:5px; vertical-align:top; font-size:14px;
		
		@include media($small-only) {
			font-size: 20px;
		}
	}
	
}