/* Breakpoints are: 440, 700, 960 and 1440 */

.contact-page-wrapper {
	padding-top: 44px;

	@include media($break440) {
		padding-top: 41px;
	}
}

.contact-page-wrapper {

	h1 {
		font-size: 50px;
		font-weight: 200;
		margin-top: 0px;
		margin-bottom: 19px; // These values are strange in order to achieve exact pixel perfectness
		text-align: left;
		@include media($break960) {
			font-size: 40px;
			line-height: 50px;
			margin-bottom: 24px; // These values are strange in order to achieve exact pixel perfectness
		}
		@include media($break700) {
			font-size: 35px;
			margin-bottom: 17px; // These values are strange in order to achieve exact pixel perfectness
		}
		@include media($break440) {
			text-align: center;
		}
	}

	.description {
		font-size: 25px;
		line-height: 35px;
		
		@include media($break960) {
			font-size: 22px;
			line-height: 30px;
		}
		
		@include media($break700) {
			font-size: 18px;
			line-height: 25px;
		}
		
		@include media($break440) {
			text-align: center;
		}	
	}
	
	.disappearing-hr-wannabe {
		display: none; /* Spooooooky */
		
		@include media($break440) {
			display: block;
			width: 100%;
			height: 1px;
			
			margin-top: 26px;
			
			background-image: -webkit-gradient(
				linear,
				left top,
				right top,
				color-stop(0, rgb(255, 255, 255)),
				color-stop(0.5, rgb(201, 199, 192)),
				color-stop(1, rgb(255, 255, 255))
			);
			background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
		}
	}
}

.contact-form-wrapper {
	
	.text-genova-red {
		margin-top: 66px;  // These values are strange in order to achieve exact pixel perfectness
		margin-bottom: 19px;
		color: $genova-red; 
		font-size: 18px;
		font-weight: 300;
		text-transform: none;
		@include media($break700) {
				margin-top: 51px;
				margin-bottom: 25px;
		}
		@include media($break440) {
				margin-top: 24px;
				margin-bottom: 15px;
		}
	}
	
}

.correspondence-section {
	position: relative;
	@include span-columns(10);
	@include shift(2);
	
	@include media($break440) {
		@include span-columns(4);
		@include shift(0);
	}
	
	p {
		margin-bottom: 20px;
	}
	
	img {
		max-width: 100%;
	}
	
	.recipe-images {
		position: static;
		display: block;
		margin: 0px;
		line-height: 0;
		p {
			margin: 0px;
		}
	}
	
	.address-card {
		position: relative;
		/* top: -182px; */
		background-color: white;
		box-shadow: 0px 0px 10px #888888;
		padding: 20px;
		text-align: center;
		z-index:9;
		
		@include media($break700) {
			padding-top: 10px;
		}
		
		.title {
			display: block;
			margin-top: 20px;
			margin-bottom: 20px;
			p {
				margin-bottom: 0;
				font-size: 16px;
				font-weight: 600;
			}
			@include media($break700) {
				margin-bottom: 13px;
			}
		}
		
		hr {
			margin-bottom: 23px;
			border: none;
			height: 1px;
			background-color: transparent;
			background-repeat: repeat-x;
			
			background-image: -webkit-gradient(
				linear,
				left top,
				right top,
				color-stop(0, rgb(255, 255, 255)),
				color-stop(0.5, rgb(201, 199, 192)),
				color-stop(1, rgb(255, 255, 255))
			);
			background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(201, 199, 192, 1) 50%, rgba(255, 255, 255, 0) 100%);
			
			@include media($break700) {
				margin-bottom: 13px;
			}
		}
		
		.address-container {
			font-family:$freightText;
			display: block;
			margin-bottom: 40px;
			p {
				margin-bottom: 0;
				font-size: 25px;
				line-height: 30px; /* unitless because doin' it rite */
				@include media($break700) {
					line-height: 1.200;
				}
			}
		}
	}
	.ingredients {
		position: relative;
		top: -40px;
		z-index:10;
		@include media($break440) {
			margin-bottom: 40px; /* we add the top margin above to the margin here to get the number we want which is 80 */
		}
	}
}

.column_half {
	@include media($break440) {
		@include span-columns(4);
		.correspondence-section {
			position: static;
		}
	}
}