.dollaroff {
	/* Elements */
	a { display: inline; }
	
	/* -- Typography -- */
	h1, p { color: $genova-brown; }
	h1 a {
		color:inherit;
	}
	h2 { font-size: 40px; line-height: 50px; padding-bottom: 20px; margin: 0; color: $genova-brown; }
	p { line-height: 35px; }
	
	@include media($large) {
		h1 {
			text-align: left;
		}
	}
	
	#coupon {
		text-align: center;
		padding-top: 60px; padding-bottom: 60px;
	}

}

/* Thank You */
.dollaroff_thankyou p { text-align:center; margin-bottom: 55px; }
.dollaroff_thankyou_recipes { margin: 65px 0; }
