.footer_wrap {
	background: #fff; font-weight: 500;
	
	@include media($break700) {
		background: url('../images/wood_bg.jpg'); padding-top:0;
	}
	
	h2 { font-size: 35px; line-height: 40px; margin-top: 0;}
	
	.back_to_top {
		display: none; min-height: 51px; background: #fff;
		
		
		@include media($break700) {
			text-align: center; border-top: 1px solid #e1ddd7; display: block;
		}
		
		.fa-chevron-up { color: #857c62; font-size: 14px; }
		
		a { color: #857c62; text-transform: uppercase; font-size: 16px; line-height: 51px; }
	}
	
	/* Lower Cell */
	.lower_cell { 
		padding: 90px 0 110px; text-align: center; box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	 }
	.lower_cell a { text-decoration: none; color: white;}
	
	#globalFooter {
		@include clearfix;
		
		font-size: 16px; line-height:65px;
		
		@include media($break700) { line-height: 52px; }
		
		.footer_nav {
			@include span-columns(12);
			list-style: none; background: url(../images/nav-divider.png) no-repeat; background-position: left 17px; float:left;
			
			@include media($break700) {
				@include span-columns(4);
				background: none;
				@include shift(2);
			}
			
			@include media($break440) {
				@include span-columns(3);
				@include shift(.5);
			}
			
			li {
				float: left;text-align: center; padding: 0px 20px;
				
				@include media($large) {
					&:nth-child(-n+4) {
						 background: url(../images/nav-divider.png) no-repeat right 17px; 
					}
				}
				
				
				@include media($break840) {
					padding: 0px 14px;
				}
				
				@include media($break700) {
					width: 100%; background: url(../images/double-sided-border.png) no-repeat center bottom; background-size: 100% 2px;
				}
				
				&:hover {
					@include media($large) {
						@include linear-gradient(rgba(51,51,51,0.1) 0%, rgba(5,5,5,0) 50%, rgba(#fff, 0) 99%, $fallback:transparent);
						background-position:left top;
					}
				}
				
				&.copy {
					background: none; float: right;
					
					@include media($break700) { width: 100%; }
					
					&:hover { background: none; }
					
					p {
						color: $white; font-weight:400; font-size:16px; line-height:65px;
					}
				}
				
				a {
					color: #857c62; display: inline-block; text-transform: uppercase; width: 100%;
					@include media($medium-down) {
						color: #4d442e;
						
					}
				}
				
				&.nav-divider { 
					float: left; width: 1px; height: 65px; background: url(../images/nav-divider.png) no-repeat; background-position: center center;
				}
			}
		}
		
		.copyright {
			display: none;
			@include media($large) { 
				display: block; list-style: none;  float: right; font-weight: 300;
				li { background-image: none !important; }
			}
			
		}
		
		.connect-with-us {
			top:0;
			li,a {
				vertical-align:middle;
			}
			li {
				font-size: 16px; line-height:70px;
				@include media($break700) { height:auto; line-height:1em; }
			}
			a { top:-1px; }
			
			.contact-us { display: none;}
		}
	}
}