%food-accent {
	display:none; position:absolute; bottom:0; z-index:999;
	@include media($large) {
		@include transform(translateY(50%) scale(.75));
		display:block;
	}
	@include media($xlarge) {
		@include transform(translateY(50%));
	}
}

%food-accent--left {
	@extend %food-accent;
	@include transform-origin(center left);
	left:0;
}

%food-accent--right {
	@extend %food-accent;
	@include transform-origin(center right);
	right:0;
}

.food-accent--lemon-peppers:after {
	@extend %food-accent--right;
	content: url('/assets/images/lemon_pepper_rosemary.png');
}

.food-accent--spice-bowls:after {
	@extend %food-accent--left;
	content: url('/assets/images/spice-bowls.png');
}

.food-accent--tuna-crackers:after {
	@extend %food-accent--right;
	content: url("/assets/images/CMS-Images/crackers-right.png");
}

.food-accent--food-bowl:after {
	@extend %food-accent--left;
	content: url('/assets/images/CMS-Images/food-bowl.png'); bottom:-20px;
}

.food-accent--olive-bowl:after {
	@extend %food-accent--right;
	content: url('/assets/images/CMS-Images/olive-bowl.png'); bottom:-20px;
}