.generic-page-wrapper {
	
	padding-top:30px; padding-bottom:100px;
	
	h1 {
		text-align:left; margin-bottom:1em;
	}
	
	ol,ul {
		padding-left:1.8em;
	}
	
	ul ul, ol ul {
		list-style-type:disc;
	}
	
}