.articles {
	@include row;
	font-size: 18px;
	h3 { 	
		color: #00853e;
		font-size: 25px; line-height: 30px; text-align: left; margin: 10px 0;
		
		@include media($small-only) {
			text-align: center;
		}
	}
		
	&:first-child {
		margin-top: 50px;
	}
	
	li {
		@include span-columns(12);
		text-align:center; margin-top: 25px; margin-bottom: 30px;
		@include media($medium) {
			@include span-columns(4);
			@include omega(3n);
			text-align:left;
		}
	}
	img {
		width:100%; height:auto; box-shadow: 0px 2px 0px rgba(51, 51, 51, 0.3);
		@include media($small-only) {
			max-width:300px;
		}
	}
	
	a { color: #4d442e; }
	
	.video:before {
			@include transform(translate3d(-50%, -50%, 0));
			position: absolute;
			top: 50%; left: 50%;
			content: url('../images/CMS-Images/video-play.png');
			z-index: 99;
	}
}

.articles--featured {
	display: block;
	h2 { 
		color: #00853e; font-size: 40px; line-height: 50px; text-align: left;
		@include media($medium-down) {
			margin-top: 0;
		}
	 }
	p.subheadline { font-size: 18px; line-height: 35px; color: #4d442e; }
}

.articles--large {
	li {
		@include media($medium) {
			@include span-columns(6);
			@include omega(2n);
		}
	}
}

