.hdr-wrap {
	background: url('../images/wood_bg.jpg');
	border-top: 35px solid #d0bc9b;
	border-right: 0px;
	border-left: 0px;
	min-height: 75px;
	z-index: 3;
	box-shadow: 1px 1px 6px rgba(0,0,0,.6);
	@include clearfix;
	
	@include media($break700) {
		min-height: 60px;
		padding-top:4px;
		border-top:none;
	}
	
	.wrapper {
		@include media($break700) {
			padding: 0;
		}
	}
	
	#globalHeader {
		
	
		.menu_button {
			display: none;
			height: 60px;
			padding-right: 15px;
			
			i {
				color: #4d442e;
				float: right;
				font-size: 25px;
				margin-top: 17px;
				display: block;
			}
			
			@include media($break700) {
				display: block;
			}
			
		}
	
		.genova_logo {
			position: absolute;
			left: 50%;
			margin-left: -88px;
			top: 2px;
			z-index: 1;
			
			h1 {
				margin: 0;
			}
			
		}
		
		.connect-with-us {
			display:none; position:static; padding:20px 0; font-size: 16px; font-weight: 500;
			li:first-child {
				padding-bottom:7px;
			}
			
			@include media($large) {
				display: block; position:absolute; padding-top: 0; top:-34px; right:0; font-size:14px; color: #4d442e; font-weight:400;
			}
		}
		.nav_open + .connect-with-us {
			display:block; background: #d0bc9b; border-top: 1px solid #bbaa8c;
		}
		
		.primary-nav {
			@include clearfix; 
			list-style: none; width: 100%; font-family: $freightSans; font-weight: 500; font-size: 16px; padding: 0 30px;
			
			@include media($break700) {
				background: url('../images/nav-bg.png') 0 0 repeat-x;
				padding-top: 36px;
				display: none;
			}
			
			a {
				line-height: 60px;
				color: #4d442e;
				text-transform: uppercase;
				display: inline-block;
				width: 100%;
				
				@include media($break700) {
					font-size: 16px;
					line-height: 16px;
				}
			}
			
			&.nav_open {
				display: block;
			}
			
			li {
				float: left;
				text-align: center;
			
				
				@include media($break700) {
					background-image: url('../images/nav-border.png');
					background-position: center bottom;
					background-repeat: no-repeat;
					padding: 20px 0px;
				}
				
				&:hover {
					background-position:0 0;
					@include linear-gradient(rgba(#fff,.4), rgba(#fff,0), $fallback:transparent);
					
					@include media($break700) {
						background: transparent;
						background-image: url('../images/nav-border.png');
						background-position: center bottom;
						background-repeat: no-repeat;
					}
				}
				
				&.active {
					@include linear-gradient(rgba(#fff,.4), rgba(#fff,0), $fallback:transparent);
				}
			
				&.nav-link-1 {
					width: 14.89%; // 140px / 940px
					
					@include media($large) {
						background: url(../images/nav-divider.png) no-repeat;
						background-position: right 17px;
					}
					
					
					@include media($break700) {
						width: 100%;
					}
					
					a {	
						@include media($break700) { background-image: none; }
					}
					
				}
				
				&.nav-link-2 {
					width: 21.91%; // 206px / 940px
					margin-right: 12.925%;
					
					@include media($break700) {
						width: 100%;
						margin-right: 0;
					}
					
					i { 
						padding-left: 22px; top: -12px; font-size: 10px;
						
						@include media($medium-down) {
							display: none;
						}
					 }
				}
				
				&.nav-logo {
					width: 25.85%; // 241px / 940px
					
					@include media($break700) {
						width: 100%;
					}
					
					&:hover {
						background: url(../images/nav-divider.png) no-repeat;
						background-position: right 17px;
					}
				}
				
				&.nav-link-3 {
					width: 20.75%; // 194px / 940px
					margin-left: 12.925%;
					
					@include media($break700) {
						width: 100%;
						margin-left: 0;
					}
					
					a {
						
						@include media($break700) {
							background-image: none;
						}
					}
				}
				
				&.nav-link-4 {
					width: 16.49%; // 153px / 940px

					background: url(../images/nav-divider.png) no-repeat;
					background-position: left 17px;
					
					@include media($break700) {
						width: 100%;
						background-image:none;
					}
				}
				
				&[class*='nav']:hover {
					@include media($medium) {
						background-position:0 0;
						@include linear-gradient(rgba(#fff,.4), rgba(#fff,0), $fallback:transparent);
					}
				}
				
				.logo_spacer {
					text-indent: -999em;
					background: url(../images/genova-logo.png) no-repeat;
					background-position: center center;
					background-size: contain;
					height: 99px;
					top: 5px;
				}
			}
		}
	}
}