.hero {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding:50px 0;
	@include media($small-only) {
		background-attachment: scroll;
		background-position: center top !important;
	}
	@include media($medium) {
		min-height:430px;
	}
	@include media($large) {
		min-height:500px;
	}
	
	h1 {
		text-align: left;
		color: $white;
		text-shadow: 0px 1px 0px rgba(0,0,0,.75);
		margin-top: 0;
		
		@include media($break960) {
			margin: 0px 0px 15px;
		}
		
		@include media($small-only) {
			text-align: center;
		}
	}
	
	p {
		font-size: 25px; line-height: 30px; color:#fff;
	}
	
	.call_to_action {
		font-size: 18px; text-align: left; text-shadow: 0px 1px rgba(0,0,0,.75); margin-top: 30px;
		
		@include media($break960) {
			margin-top: 20px; font-size: 16px; line-height: 26px;
		}
		
		@include media($small-only) {
			text-align: center;
		}
		
		.fa {
			font-size: 13px;
		}
		
		.btn {
			margin-top: 0px;
		}
		
		a {
			color: $white;
			&:hover {
				color: $genova-green-hover;
			}
		}
	}
	
	.hero_copy {
		@include media($small-only) {
			width: 100%;
		}
		@include media($medium) {
			width:75%;
		}
		@include media($large) {
			width:45%;
		}
	}
	
	.hero_copy_grey { 
		padding: 35px; top: 80px; background: rgba(255,255,255,.9); 
		@include media($small-only) {
			top: 0 !important;
		}
		@include media($medium-down) {
			position: relative; width: 100%; top: 80px;
		}
		@include media($large) {
			width:50%;
		}
	 }
	 
	 .cycle-slideshow,
	 .cycle-slideshow .slide {
		 position:absolute; top:0; left:0; width:100%; height:100%;
	 }
	
}

.hero--large {
	@include media($small-only) {
		padding-bottom: 200px;
	}
	@include media($xlarge) {
		height:600px;
	}
	@include media(min-width 1600px) {
		height: 700px;
	}
	.hero_copy {
		@include media($medium) {
			top: 70px;
		}
	}
}

.hero--smallimage {
	@include media($medium) {
		height:500px; background-size:auto 600px;
	}
}

.hero--blackmask {
	&:before {
		position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(0,0,0,.4); content:'';
	}
}

.hero--landing-a {
	min-height:221px; background-color: #f6f5f1; background-attachment:scroll; background-position:center; box-shadow: inset 0 -10px 11px -8px rgba(0, 0, 0, 0.5);
	
	@include media($medium) {
		min-height:335px;
	}
	
	@include media($large) {
		min-height:50vh;
	}
	
	@include media($xlarge) {
		min-height:60vh;
	}
	
	&:before {
		position:absolute; top:0; width:100%; height:100%; background:rgba(#000, .15); content:'';
	}
	
	h1 {
		font-size: 50px; line-height: 55px;
	}
	
	.call_to_action {
		margin-top: -4px;
	}
	
	.hero_copy {
		@include media($small-only) {
			@include centered(false);
		}
		@include media($medium) {
			@include vertCenter(absolute);
		}
		@include media($xlarge) {
			top: 30%;
		}
		/*@include media($medium) {
			@include vertCenter(relative, 35%);
		}*/
	}
	
	.wrapper {
		min-height: inherit;
	}
}

.hero--landing-b {
	background-color: #f6f5f1;
	background-attachment:scroll;
	
	@include media($xlarge) {
		&:after {
			content:'';position:absolute; bottom:0px; width:100%; height:125px;
			@include linear-gradient(to bottom, rgba(white,0), #f6f5f1); // gradient to highlight recipe shadow and  hide banner end
		}
	}
	
	&.hero {
		@include media($small-only) {
			min-height:270px;
			
			.hero_copy {
				@include centered(false);
			}
		}
		@include media($medium-only) {
			min-height:350px;
			.hero_copy {
				@include vertCenter(absolute);
			}
		}
		
		@include media($medium) {
			background-position: center;
		}
		
		@include media($large) {
			min-height:480px;
			background-position: center;
			
			.hero_copy {
				@include vertCenter(absolute);
			}
		}
		@include media($xlarge) {
			min-height: 70vh;
			
			.hero_copy {
				top: 25%;
			}
		}
		
		.wrapper {
			min-height: inherit;
		}
	}
	
	h1 {
		font-size: 50px; line-height: 55px;
	}
	
	.call_to_action {
		margin-top: 20px;
	}
}