.banner {
	@include row;
	position:relative; left:0; right:0; margin: 0 auto; padding: 30px 50px 25px; max-width: 796px; color: #00853e; background: url('../images/promo-box.svg') no-repeat; background-size:contain; z-index: 999;
	@include media($small-only) {
		background: url('../images/promo-box-mobile.svg') no-repeat;
		margin:-30px -10px;
	}
	@include media($medium) {
		@include transform(translateY(-50%));
		position: absolute; left:40px; right:40px; padding-left:25px; padding-right:25px;
	}
	
	.call {
		@include span-columns(12);
		@include media($medium) {
			width: 50%; margin:0;
		}
		&:first-child {
			@include media($small-only) {
				padding:0 0 20px;
			}
			@include media($medium) {
				padding:0 30px 0 0;
			}
		}
		&:last-child{
			@include media($small-only) {
				padding:20px 0 0; border-top: 1px solid #ededed;
			}
			@include media($medium) {
				padding-left:30px; border-left: 1px solid #ededed;
			}
		}
		a {
			margin-top: 0; text-align:left; display: block; font-family: $freightText; overflow: hidden;
			@include media($large) {
				font-size: 25px; line-height: 30px;
			}
			@include media($medium-down) {
				font-size: 18px; line-height: 20px;
			}
			@include media($small-only) {
				font-size: 22px; line-height: 26px; 
			}
		}
		img {
			float: left; margin-right: 20px;
		}
	}
}

.banner--landing {
	width: 100%; background-color: transparent;
	
	@include media($xlarge) {
		margin-top: -147px;
		position: relative; padding-bottom: 0px;
		
		&::after {
			@include transform(scale(1.2));
			@include linear-gradient(to bottom, rgba(white,0), #f6f5f1 50%);
			bottom: 0%;height: 60%;position: absolute;z-index: 1;content: ' ';display: block;width: 100%;box-shadow: inset 0 -10px 11px -10px rgba(0, 0, 0, 0.3); // recipe bottow shadow
		}
	}
	
	@include media($small-only) {
		box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
		&::after {
			top: 100%;
		}
	}
	
	.wrapper {
		position: relative;background-color: #f6f5f1; border-radius: 1px;
		box-shadow: 0px 0px 5px 0.00px rgba(0, 0, 0, 0.3);
		
		.container {
			z-index: 2;
		}
	}
	
	h2 {
		text-align: left;
		@include media($small-only) {
			margin:43px 0 0 0px; text-align: left;
		}
		@include media($medium) {
			margin-bottom: 0px; margin-top:32px;
		}
		@include media($large) {
			margin-bottom: 21px;
		}
	}
	
	.call_to_action {
		text-align: left;
		
		@include media($xlarge) {
			margin-top: 0;
		}
		
		.btn {
			margin-top: 0;
		}
	}
	
	+ .product_details_homepage  {
		@include media($large-down) {
			box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3); // premium tuna upper shadow
		}
		@include media($small-only) {
			padding-top: 11px; padding-bottom: 50px;
		}
		@include media($medium) {
			padding-top: 80px; padding-bottom: 98px;
		}
	}
	
	&.recipe_hero {
		h1 {
			font-size: 50px; line-height: 55px;
		}
	}
}