.homepage {
	background-color: #f6f5f1;
	section { 
		padding-bottom:60px;
		&:first-child {
			padding-bottom: 0;
		}
		@include media($break700) {
			padding-bottom: 0;
		}
		@include media($break440) {
			padding-bottom: 27px;
		}
	}
	
	section.pathways--section {
		padding-bottom: 7px;
	}
}


.product_details_homepage {
	@include media($medium) {
		padding-top: 130px;
	}
	h2 {
		text-align: left;
		@include media($small-only) {
			margin:50px 0 0 0px; text-align: left;
		}
		@include media($medium) {
			margin-bottom: 0px; margin-top:0px;
		}
		@include media($large) {
			margin-bottom: 21px;
		}
	}
	
	.call_to_action {
		text-align: left;
		@include media($small-only) {
			margin-top: 0px;	
		}
	}
	.column_half {
		@include media($small-only) {
			@include span-columns(12);
		}
	}
	.image_column {
		z-index: 1;
		@include media($small-only) {
			margin-bottom: -110px;
		}
	}
	
	img {
		@include media($small-only) {
			margin-top: 45px; margin-bottom: 12px;
		}
	}
	
	.hero--landing-b + & {
		h2 {
			text-align: left;
		}
	}
}

.better_tuna {
	padding-top:15px;
	@include media($medium) {
		padding-top:0; padding-bottom: 50px;
	}
	.homepage & {
		@include media($small-only) {
			padding-top: 60px; padding-bottom: 55px;
		}
	}
	&:before,
	&:after {
		position: absolute; left: 0;  width: 100%; clear: both; content: '';
	}
	&:before{ 
		top: -10px; height: 10px; background: url("../images/torn-green-border.png");
	}
	
	&:after{ 
		bottom: -7px; height: 20px; background: url("../images/torn-green-border-bottom.png") bottom; z-index:2;
	}
	
	h2.section_title {
		@include media($small-only) {
			margin-top: 20px;
		}
	}
	h2 {
		@include media($small-only) {
			margin-top: 10px; margin-bottom:0;
		}
	}

	
	.call_to_action {
		margin-top: 35px;
		
		@include media($small-only) {
			display: none;
		}
	}
}

.line_icons {
	@include row;
	
	margin:35px 0; list-style-type: none;
	
	@include media($medium) {
		margin:0 0 20px;
	}
	
	li {
		
		@include span-columns(12);
		text-align: center;
		
		@include media($medium) {
			@include span-columns(3);
		}
		
		h2 {
			margin:15px 0 0; font-size: 25px; line-height: 30px;
		}
		
	}
	
	li + li {
		@include media($small-only) {
			margin-top:45px;
		}
	}
	
}

.fresh_recipes {
	padding-bottom: 70px !important; z-index: 1;
}