.nutrition-facts-drop-down {
	@include row;
	display: block; margin: 0; list-style: none;padding: 50px 0; width: 100%; max-width: 100%; font-family: $freightSans; font-weight: 300; color: $genova-brown; font-size: 16px; line-height: 30px; box-shadow: 3px 1px 2px 2px rgba(0, 0, 0, .25);
	
	h2 { font-size: 16px; line-height: 20px; color: #837346; font-weight: 500; font-family: "freight-sans-pro"; }
	
	p { font-size:16px; line-height:32px; }
	
	h4 { margin-top:-10px; }
	
	.nutrition-column{
		@include span-columns(6);
		@include media($small-only) {
			@include span-columns(12);
		}
	}
	
	.close_nutrition {
		border: 0;
		width: 12px;
		height: 11px;
		background: url('../images/nutrition-close.png') center center no-repeat;
		outline: none;
		padding:20px; margin:-10px;
		top:0 ; 
	}
	
	.single_border {
		p {
			border-top: 1px solid $genova-brown;
//			&:first-child { border-top-width: 0px; }
		}
	}
	
	.double_border { border: 2px solid $genova-brown; border-left-width: 0px; border-right-width: 0px; padding: 10px 0px; }
	
	.vitamins { line-height: 26px; padding-top: 10px; }
}