.pathways {
	list-style: none; margin-top: 25px;
	
	@include media($medium) {
		margin-top: 10px;
	}
	
	@include media($large) {
		@include display(flex);
	}
	
	li {
		text-align: center; 
		
		@include media($large) {
			@include display(flex);
			width: percentage(1/3);
			background: url(../images/divider--tall.png) no-repeat 100% center;
			
			&:last-child {
				padding-right: 0; background: none;
			}
		}
	}
	
	li + li {
		@include media($medium-down) {
			margin-top:1em;
		}
	}
	
	a {
		@include media($large) {
			@include display(flex);
			@include flex-direction(column);
			padding: 0 40px;
			
			img {
				margin: auto auto 0 auto;
			}
		}
	
		h3 {
			font-family: $freightText; color: $genova-green; margin-bottom: 7px;
			
			@include media($small-only) {
				font-size: 20px; line-height: 25px;
			}
		}
	}
} 