.product-list { 
	@include row;
	margin-top:55px; margin-bottom:30px; list-style: none; font-size: 30px; line-height: 30px; text-align: center;
	@include media($large) {
		margin:75px 0;
	}
	li {
		margin-bottom:40px;
		@include media($medium) {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom:75px;
		}
	}
	figure {
		padding:0 15%;
	}
}

.line_icons_products {
	@include row;
	list-style-type: none;
	
	@include media($small-only) {
		margin:35px 0;
	}
	
	li {
		@include span-columns(6);
		padding-top: 15px;
		padding-left: 75px;
		margin-bottom: 25px;
		background-repeat: no-repeat;
		background-position: left 20px;
	
		&:nth-child(even) {
			margin-right: 0;
		}
	
		&:nth-child(odd) {
			clear: left;
		}
	
		@include media($break700) {
			background-size: 35px;
			background-position: left 4px;
			padding-top: 0px;
			padding-left: 60px;
			margin-bottom: 27px;
		}
	
		@include media($break440) {
			@include span-columns(4);
			margin-bottom: 27px;
		}
	
		&.yellowfin_icon {
			background-image: url('../images/fish-icon.png');
		}
	
		&.wild_icon {
			background-image: url('../images/wild-caught.png');
		}
	
		&.mediterranean_icon {
			background-image: url('../images/mediterranean-icon.png');
		}
	
		&.tuna_icon {
			background-image: url('../images/tuna-icon.png');
		}
	
		&.heart_icon {
			background-image: url('../images/heart-icon.png');
		}
	
		&.leaf_icon {
			background-image: url('../images/leaf-icon.png');
		}
	
		&.package_icon {
			background-image: url('../images/package-icon.png');
		}
	
		h2 {
			margin-top: 0px;
			margin-bottom: 10px;
			text-align: left;
		}
		
		p { text-align: left; }
	}
}