.product_detail_page {
	@include row;
	h1 {
		@include media($large) {
			text-align: left;
		}
		@include media($medium) {
			font-size: 50px; line-height: 60px;
		}
	 }
	 
 	h2 { 
 		font-size: 40px; line-height: 50px; margin-bottom: 40px;
 	 }
	
	h1, p.subheadline { color: #4d442e; }
	
	blockquote h2, .hero_copy_grey h2 {
		 margin-top: 0; text-align: left;
	}
	
	blockquote p {
		font-family: $freightText; font-size: 35px; line-height: 40px; margin-bottom: 10px; color:#4d442e;
	}
	
	cite {
		font-size: 25px; line-height: 35px; font-style: normal;
	}
	
	.hero {
		img {
			@include media($medium) {
				display:none;
			}
		}
		@include media($small-only) {
			background:none !important; height:auto;
		}
		
		.wrapper { height: 100%; }
	}
	
	.hero, .hero--large {
		@include media($small-only) {
			padding-bottom: 0;
		}
	}
	
	.hero_copy_grey {
		@include position(absolute,auto 35px 35px auto);
		@include media($large) {
			width: 380px; padding:50px 35px 60px;
		}
		@include media($medium-down) {
			right: 0;
		}
		@include media($small-only) {
			position: relative; left: 0; top: 55px;
		}
	}
	
	.nutrition-drop-down {
		i {
			padding-left: 10px;
			top: -5px;
		}
	}
	
	.nutrition_info {
		padding-top: 30px; padding-bottom: 30px;
		
		
		//For Newline
		strong {
			@include media($medium-down) {
				display:block;
			}
		}
		
		.call_to_action .fa { top: -5px; }
	}
	
	.info {
		@include span-columns(4);
		display: inline-block; font-size: 18px; line-height: 25px; margin-top: 0; vertical-align: middle;
		@include media($small-only) {
			display: block; float: none; text-align: center; width: 100%; padding: 0 35px; margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	.info a { text-transform: none;}
}

.product_detail_hero {
	@include row;
	
	padding: 60px 0; position: relative;
	
	h1 {
		margin-top:0;
	}
	
	.product_title,
	.product_description {
		@include media($large) {
			@include span-columns(6);
		}
		@include media($xlarge) {
			@include span-columns(5);
		}
	}
	
	.btns {
		@include media($medium-down) {
			text-align: center; float: none;
		}
	}
	
	.product_image {
		text-align:center;
		@include media($large) {
			@include span-columns(6);
			@include omega;
			float:right; padding-top:65px;
		}
		@include media($xlarge) {
			@include span-columns(7);
			@include omega;
			float:right;
		}
	}
}