.products-drop-down {
	display: none;
	
	@include media($large) {
		@include row;
		@include animation-duration(300ms);
		visibility:hidden; list-style: none; background: white; text-align: center; position: absolute; width: 100%; z-index:2;
		h2 { font-size: 16px; line-height: 20px; color: #837346; font-weight: 500; font-family: "freight-sans-pro"; }
		li { 
			@include span-columns(3);
			padding: 50px 15px 25px;
			background: none !important;
		}
		figure {
			padding: 0 15%;
		}
		&.slideInDown, &.slideOutUp {
			visibility:visible;
		}
		
	}
	
}