.select_wrap {
	background-color: rgba(163, 145, 97, .2);
	margin-top: 40px; margin-bottom: 30px;
	padding:10px 20px;
	font-size: 25px; text-align: center;
	
	@include media($break700) {
		margin-top: 0px;
	}
	
	@include media($break440) {
		
	}
	
	.recipe_select {
		font-family: $freightText;
		font-weight: 200;
		
		p {
			display: inline-block;
			font-size: 25px;
			line-height: 40px;
			vertical-align:middle;
			
			&:first-child{
				margin-top: 10px;
				margin-bottom: 10px;
				
				@include media($break440) {
					margin-bottom: 0px;
				}
			}
			
			&:last-child{
				@include media($break440) {
					margin-top: 10px;
				}
			}
			@include media($break500) {
				&:first-child {
					display:block; margin-top:0;
				}
				&:last-child {
					margin-top:10px; margin-bottom:5px;
				}
			}
		}
		
		.select {
			border: 1px solid #bfad7c;
			width: 240px;
			height: 40px;
			box-shadow: none;
			background: transparent;
			margin: 0 10px;
			border-radius: 0px;
			background: #fff url(../images/select_dropdown.png) no-repeat center right;
			display: inline-block;
			overflow: hidden;
			border-radius: 2px;
			vertical-align:middle;
			
			&:hover {
				background: #fff url(../images/select_dropdown-hover.png) no-repeat center right;
			}
							
			@include media($break440) {
				display: block;
				margin: 10px auto 0px;
				width: 100%;
			}
		
			select {
				font-family: $freightSans;
				color: $genova-brown;
				font-size: 18px;
				background: transparent;
				border: 0;
				width: 120%;
				height: 100%;
				-webkit-appearance: none;
				-moz-appearance: window;
				appearance: none;
				padding: 6px 18px 7px 14px;
				outline: none;
				
				@include media($break700) {
					padding: 6px 18px 7px 15px;
				}
			}
		}
	}
}

.recipe_heading {
	margin-top: 50px;
	margin-bottom: 28px;
	
	@include media($break960) {
		margin-top: 51px;
		margin-bottom: 27px;
	}
	
	@include media($break700) {
		margin-top: 53px;
		margin-bottom: 22px;
	}
	
	@include media($break440) {
		margin-top: 43px;
	}
}

.overview_table {
	display: table;
	width: 100%;
	
	.image_overlay {
		top:42%;
		@include media($break840) {
			top:39%;
		}
		@include media($break700) {
			display:none;
		}
	}
	
	.overview_table_row {
		display: table-row;
	}
	
	.overview_table_bottom {
		display: table-row;
		width: 100%;
		text-align: center;
		
		.overview_table_left {
			vertical-align: top;
			font-size: 30px;
			height: 90px;
			padding:27px 50px 37px;
			
			@include media($break960) {
				font-size: 25px;
				padding-bottom: 34px;
			}
			
			@include media($break700) {
				height: 70px;
				padding-bottom: 36px;
			}
			
			@include media($break440) {
				padding-top: 16px;
				padding-bottom: 23px;
			}
		}
		
		.overview_table_right {
			vertical-align: top;
			background: none;
			height: 90px;
			padding-top: 27px;
			padding-bottom: 0px;
			
			a {
				font-size: 16px;
				font-weight: bold;
				
				&.view-recipes {
					text-transform: uppercase;
					.fa {
						font-size: 13px;
					}
				}
			}			
		}
	}
	
	.overview_table_left {
		width: 65.88078%;
		display: table-cell;
		padding-right: 2%;
		
		@include media($break700) {
			padding-right: 0;
		}
		
		img {
			margin-bottom: 0;
			display: block;
			box-shadow: 1px 1px 10px #acaba8;
		}
	}
	
	.overview_table_right {
		width: 31.76157%;
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		background: rgba(255, 255, 255, .5);
		
		@include media($break700) {
			display: none;
		}
		
		.meal_type {
			width: 100%;
			height: 100%;
			display: table;
			
			.browse {
				display: table-cell;
				vertical-align: middle;
				padding-bottom: 30px;
				
				@include media($break840) {
					padding-bottom: 20px;
				}
				
				h2 {
					font-size: 35px;
					vertical-align: middle;
					margin: 7px 0 0;
					
					@include media($break960) {
						font-size: 25px;
						line-height: 30px;
					}
				}
			}			
			
			ul {
				display: table-footer-group;
				list-style-type: none;
				text-align: center;
				font-weight: 400;
				
				li {
					margin: 2px 20px 12px;
					
					@include media($break840) {
						margin-bottom: 7px;
					}
					
					a {
						font-size: 25px;
						
						@include media($break960) {
							font-size: 20px;
						}
					}
					
					&:before {
						content: " ";
						background-image: url('../images/double-sided-border.png');
						background-size: 100% 2px;
						background-repeat: no-repeat;
						width: 100%;
						height: 2px;
						float: left;
						margin-bottom: 10px;
						position: relative;
						
						@include media($break840) {
							margin-bottom: 7px;
						}
					}
					
					/*
&:last-child {
						margin-bottom: 40px;
						
						@include media($break840) {
							margin-bottom: 20px;
						}
					}
*/
				}
			}
		}		
	}
}

.image_overlay {
	position: absolute;
	z-index: 2;
	top: 35%;
	right: 90.8%;
	width: 20%;
	max-width: 200px;
	
	@include media($break700) {
		top: 55%;
	}
	
	@include media($break440) {
		display: block;
		top: 33%;
		width: 38%;
	}
	
	img {
		display: block;
		
		@include media($break440) {
			width: 100%;
		}
	}
}

.recipe_overview_top {

	.select_wrap {
		display: none;
	
		@include media($break700) {
			display: block; 
		}
	}
	
	.overview_top_left {
		@include span-columns(8);
		text-align: center;
		
		@include media($break700) {
			@include span-columns(8);
			margin-bottom: 0px;
		}
		
		
		
		.featured_recipe {
			
			img {
				width: 100%;
				height: auto;
				margin-bottom: 30px;
				box-shadow: 1px 1px 10px #acaba8;
				
				@include media($break700) {
					margin-bottom: 10px;
				}
			}
		}
		
		a {
			display: block;
			font-size: 30px;
			margin-bottom: 36px;
			
			@include media($break960) {
				font-size: 25px;
				margin-bottom: 34px;
			}
			
			@include media($break700) {
				margin-bottom: 37px;
			}
			
			@include media($break700) {
				margin-bottom: 27px;
			}
		}
	}
	
	.overview_top_right {
		@include span-columns(4);
		text-align: center;
		
		@include media($break700) {
			display: none;
		}
		
		.meal_type_wrap {
			min-height: 370px;
			background: rgba(255, 255, 255, .5);
			text-align: center;
			margin-bottom: 40px;
			
			@include media($break960) {
				min-height: 346px;
			}
			
			h2 {
				margin-bottom: 32px;
				padding-top: 40px;
				margin-top: 0px;
				font-size: 35px;
			}
			
			a {
				font-size: 25px;
				font-weight: 300;
				
				@include media($break960) {
					font-size: 20px;
				}
			}
			
			.double_sided_border {
				margin-bottom: 10px;
				margin-top: 10px;
				max-width: 220px;
				
				&:before {
					margin-bottom: 10px;
				}
			}
		}
		
		a {
			font-size: 16px;
			font-weight: bold;
		}

		a.view-recipes {
			text-transform: uppercase;
			.fa {
				font-size: 13px;
			}
		}
	}
}

.recipes_overview {
	padding-bottom: 83px;
	
	@include media($break700) {
		padding-bottom: 63px;
	}
	
	@include media($break440) {
		padding-bottom: 43px;
	}
	
	.call_to_action {
		padding-bottom: 7px;
	}
	.column_third {
		@include media($break700) {
			font-size: 20px;
		}
	}
}

.recipes {
	a {
		display:block; position:relative;
		&:hover {
			img {
				opacity: .80;
			}
		}
	}
	img {
		@include recipe-drop-shadow();
	}
	.long_border {
		@include media($break440) {
			margin-bottom: 20px;
		}
	}
}

.bordered_title {
	
	.double_sided_border {
		display: none;
		
		@include media($break440) {
			display: block;
		}
	}
	
	.faded_left {
		width: 28%;
		
		@include media($break960) {
			width: 20%
		}
		
		@include media($break700) {
			width: 6%
		}
		
		@include media($break440) {
			display: none;
		}
	}
	
	.faded_right {
		width: 28%;
		
		@include media($break960) {
			width: 20%
		}
		
		@include media($break700) {
			width: 6%
		}
		
		@include media($break440) {
			display: none;
		}
	}
}

.recipes_category {
	@include clearfix;
	margin-bottom: 45px;
	li {
		margin-bottom: 24px;
		
		@include media($break700) {
			margin-bottom: 0px;
		}
	}
}