.recipe_hero {
	
	.container {
		@include row;
		padding:36px 0 40px;
		@include media($break840) {
			padding-bottom:50px;
		}
		@media print {
			padding-top:20px; padding-bottom:0;
		}
	}
	
	h1, figure, .lower {
		@include span-columns(6);
		@include media($break500) {
			@include span-columns(4);
			float:none;
		}
	}
	
	h1 {
		margin:0; text-align:left;
		@media print {
			width:100% !important; font-size:40px; line-height:45px;
		}
	}
	
	figure {
		@include omega;
		float:right; margin-left:-13px; margin-right:-12px; padding:2.66% 2.342% 2.766% 2.448%; background:url('../images/bg_recipe-detail.png') no-repeat; background-size:100%;
		@include media($break500) {
			margin:0 auto; padding:6.317% 5.559% 6.567% 5.81%; float:none;
		}
		@media print {
			margin:30px 0 0; padding:0;
		}
	}
	
	.lower {
		font-size:20px; line-height:30px;
		strong {
			font-weight:600; font-family:$freightSans; text-transform:uppercase; font-size:16px;
		}
	}
	
	.intro {
		margin:20px 0 40px;
		p {
			font-size:25px; line-height:35px;
			@include media($break700) {
				font-size: 22px; line-height: 30px;
			}
		}
		@include media($break840) {
			margin:9px 0;
		}
		@media print {
			margin-bottom:10px;
		}
	}
	
	.col-left {
		@include span-columns(7);
	}
	.col-right {
		@include span-columns(5);
	}
	
	.col-left, .col-right {
		@include media($break840) {
			@include span-columns(12);
		}
	}
	
	.hr {
		height:2px; margin:20px 0 17px; background:url('../images/hr460.png') no-repeat; background-size:100% 2px;
	}
	
	.social-print {
		color:$genova-green;
		a {
			display:inline-block; vertical-align:middle; width:20px; height:20px; background-image:url('../images/socialsprite.png');
			span {display:none !important;}
		}
		a+a {margin-left:4px;}
		@include media($break840) {
			.col-right {margin-top:10px;}
		}
		@media print {
			display:none;
		}
	}
	
	.addthis_button_facebook {
		background-position:0 0;
		&:hover {
			background-position:0 -20px;
		}
	}
	
	.addthis_button_twitter {
		background-position:-20px 0;
		&:hover {
			background-position:-20px -20px;
		}
	}
	
	.addthis_button_pinterest {
		background-position:-40px 0;
		&:hover {
			background-position:-40px -20px;
		}
	}
	
	.addthis_button_email {
		background-position:-60px 0;
		&:hover {
			background-position:-60px -20px;
		}
	}
	
	.print-icon {
		background-position:-80px 0;
		&:hover {
			background-position:-80px -20px;
		}
	}
	
}

.recipe_details {

	h2 {
		font-size: 40px;
		line-height: 50px;
		text-align: left;
		margin-top: 47px;
		margin-bottom: 18px;
		@include media ($break700) {
			font-size: 35px;
			line-height: 40px;
			margin-top: 30px;
			margin-bottom: 23px;
		}
		@include media($break440) {
			text-align: center;
			margin-bottom: 0px;
			margin-top: 11px;
			margin-bottom: 10px;
		}
		@media print {
			margin-top:0; font-size:30px; margin-bottom:0;
		}
	}
	
	.recipe_instruct {
		background-color: $genova-white;
		padding: 0px 0 72px 0;
		
		@include media($break700) {
			padding-bottom: 33px;
		}
		
		@include media($break440) {
			padding: 22px 0 22px 0;
		}
		
		.column_half {
			@include media($break440) {
				padding: 0 10px;
				margin-bottom: 13px;
			}
		
			.double_sided_border {
				display: none;
				
				@include media($break440) {
					display: block;
					
					&:before {
						margin-bottom: 33px;
					}
				}				
			}
		
			ul {
				list-style: none;
				
				@include media($break700) {
					margin-top: 25px;
				}
				
				@include media($break440) {
					margin-top: 0px;
				}

				li {
					font-size: 18px;
					margin-bottom: 20px;
					font-weight: 400;
					@media print {
						font-size:16px; line-height:25px; margin-bottom:10px;
					}
				}

			}
			
			.directions {
				list-style-type: none;
				counter-reset: li;
				
				li {
					font-size: 25px;
					line-height: 35px;
					font-weight: 200;
					margin-bottom: 20px;
					
					@include media($break960) {
						font-size: 22px;
						line-height: 30px;
					}
					
					@include media($break440) {
						font-size: 18px;
						line-height: 25px;
					}
					
					@media print {
						font-size:16px; line-height:25px; margin-bottom:10px;
					}
					
					&:before {
						content:counter(li)'. ';
						counter-increment: li;
						font-weight: 500;
					}
	
				}
				
			}
			
		}
		
	}
	
	.recipe_nutrition {
		padding: 0px 0 90px 0;
		
		@include media($break700) {
			padding: 0 0 74px 0;
		}
		
		@include media($break440) {
			padding: 22px 0 42px 0;
		}
		
		h2 {
			margin-bottom: 26px;
		}
		
		.column_half {
			@include media($break440) {
				padding: 0 10px;
			}
		
			.double_sided_border {
				display: none;
				
				@include media($break440) {
					display: block;
					
					&:before {
						margin-bottom: 33px;	
					}
					
				}				
			}
			
			p {
				font-size: 18px;
				font-weight: 300;
				
				span {
					font-family: $freightSemiBold;
					font-weight: 600;	
				}
				
			}
			
			.tonno_can {
				margin-top: 70px;
				
				@include media($break440) {
					margin-top: 30px;
				}
			}
			
		}
		
	}	
}
