.strike-through-divider {
	
	display:table; position:relative; text-align:center; width:100%;
	
	margin-top:40px;
	
	@include media($medium) {
		margin-top:55px;
	}
	
	h2 {
		display:table-cell; white-space:nowrap; padding:0 20px; vertical-align:middle; font-size:40px; line-height:1em;
	}
	
	&:before, &:after {
		position: relative; content: '';
		background: url("/assets/images/CMS-Images/strike-through-divider.png") no-repeat;
		display:table-cell; top:0; width:50%; vertical-align:middle;
	}
	&:before {
		left: 0; background-position: 0% 21px;
		@include media($medium-down) {
			background-position: 0% 16px;
		}
		@include media($small-only) {
			display: none;
		}
	}
	&:after {
		right: 0; background-position: 100% 21px;
		@include media($medium-down) {
			background-position: 100% 16px;
		}
		@include media($small-only) {
			display: none;
		}
	}
	
	span {
		display:inline-block; position:relative; z-index:2; padding:0 17px; background:#fff;
	}
	
	.hideGroupHeadings & h2 {
		display:none;
	}
	
}