{layout="layouts/_site"}

<div class="masthead--home">
	<div class="top-panel">
		<p class="top-panel__message"><strong>Get Free Ground Shipping</strong> on orders $25 & more!</p>
	</div>
	<div class="cycle-slideshow" data-cycle-slides=".slide" data-cycle-timeout="8000">
		<div class="slide" style="background-image:url('/assets/img/masthead-home.jpg');">
			<div class="container">
				<div class="masthead--home__content">
					<h1 animate-in>
						Step into a world of curated shoe <br>care designed specifically for women.
					</h1>
					<a href="{path="shop"}" class="masthead--home__cta btn" animate-in>shop all products</a>
				</div>
			</div>
		</div>
		<div class="slide" style="background-image:url('/assets/img/masthead-home2.jpg');">
			<div class="container">
				<div class="masthead--home__content">
					<h1 animate-in>
						Shoe care designed for women <br>who love shoes.
					</h1>
					<a href="{path="shop"}" class="masthead--home__cta btn" animate-in>shop all products</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="press-bar" animate-in>
	<div class="container">
		<a href="{path="about/in-the-press"}"><h3><mark>Press</mark></h3></a>
	</div>
</section>

<div class="container">
	<div class="headline centered">
		<h2>Shop Solemates</h2>
	</div>
	<ul class="product-list">
		{exp:channel:entries channel="products" entry_id="295|297|2908|2905" fixed_order="295|297|2908|2905" dynamic="no" cache="{cache_setting}" refresh="{cache_refresh}" disable="categories|category_fields|member_data|pagination"}
			<li class="product-list__item" animate-in="-150">
				{exp:store:product entry_id="{entry_id}" disable_form="yes" disable_javascript="yes"}
					<a href="{route="shop/entry" product="{url_title}"}">
						{if product_gallery_type == "sku"}
							<img src="{product_thumb_image}">
						{if:else}
							<img src="{product_gallery}">
						{/if}
						<span class="product__name">{if product_alt_title}{product_alt_title}{if:else}{title}{/if}</span>
					</a>
					{modifiers}
						{if modifier_name == "Color"}
							<ul class="product__colors">
								{modifier_options}
									<li swatch-color="{exp:stringy:lowercase}{option_name}{/exp:stringy:lowercase}"></li>
								{/modifier_options}
							</ul>
						{/if}
					{/modifiers}
				{/exp:store:product}
			</li>
		{/exp:channel:entries}
	</ul>
</div>

<section class="community bg-dark">
	<div class="headline centered">
		<h2>Follow <mark>Us</mark></h2>
		{embed="embeds/_social" class="inline-social"}
	</div>
	<ul class="customer-stories" animate-in>
		<li ng-click="overlay.open('overlay1')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/community/story1.jpg" alt="">
			</figure>
			<overlay id="overlay1" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay1'" class="overlay--image">
				<div class="overlay__body">
					<figure class="image">
						 <img src="/assets/img/community/story1_large.jpg" alt="">
					</figure>
				</div>
			</overlay>
		</li>

		<li ng-click="overlay.open('overlay2')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/community/story2.jpg" alt="">
			</figure>
			<overlay id="overlay2" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay2'" class="overlay--image" media-dimension="long">
				<div class="overlay__body">
					<figure class="image">
						 <img src="/assets/img/community/story2_large.jpg" alt="">
					</figure>
				</div>
			</overlay>
		</li>

		<li ng-click="overlay.open('overlay3')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/community/story3.jpg" alt="">
			</figure>
			<overlay id="overlay3" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay3'" class="overlay--image" media-dimension="square">
				<div class="overlay__body">
					<figure class="image">
						 <img src="/assets/img/community/story3_large.jpg" alt="">
					</figure>
				</div>
			</overlay>
		</li>

		<li ng-click="overlay.open('overlay4')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/community/story4.jpg" alt="">
			</figure>
			<overlay id="overlay4" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay4'" class="overlay--image" media-dimension="long">
				<div class="overlay__body">
					<figure class="image">
						 <img src="/assets/img/community/story4_large.jpg" alt="">
					</figure>
				</div>
			</overlay>
		</li>

		<li ng-click="overlay.open('overlay5')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/community/story5.jpg" alt="">
			</figure>
			<overlay id="overlay5" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay5'" class="overlay--image" media-dimension="long">
				<div class="overlay__body">
					<figure class="image">
						 <img src="/assets/img/community/story5_large.jpg" alt="">
					</figure>
				</div>
			</overlay>
		</li>
	</ul>
</section>

