{layout="layouts/_site"}

<section class="">
	<div class="container">
		<div class="headline centered">
			<h1>Solemates' <mark>Stories</mark></h1>
			<p>Check out our stories or join the conversation and share yours!</p>
			{embed="embeds/_social" class="inline-social"}
		</div>
	</div>
	<ul class="customer-stories" animate-in>
		<li ng-click="overlay.open('overlay1')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story1.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#twitter"></use></svg>
			<overlay id="overlay1" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay1'" class="overlay--horizontal">
				<div class="overlay__body">
					<figure class="image">
						 <img class="customer-stories__image" src="/assets/img/customer-stories/story1_large.png" alt=""> 
					</figure>
					<div class="text">
						<cite class="attribution">
							<svg class="icon">
								<use xlink:href="#twitter"></use>
							</svg>
							<span>thesolemates</span>
						</cite>
						<blockquote class="quote">
							Real friends don't let friends walk without Solemates! #Wellheeled #WeddingWednesday #Realwedding Photo Credit: Carly Erickson/BFAnyc.com
							<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
						</blockquote>
						{embed="embeds/_social" class="inline-social--overlay"}
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay2')">
			<blockquote>
				<p>They were an absolutely indispensible part of our wedding day...</p>
				<cite>
					Heather G <br>
					Providence RI
				</cite>
			</blockquote>
			<overlay id="overlay2" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay2'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>They were an absolutely indispensible part of our wedding day...</p>
							<cite>
								Heather G <br>
								Providence RI
							</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay3')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story3.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#facebook"></use></svg>
			<overlay id="overlay3" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay3'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story3_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#facebook"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Such gorgeous photos! Thanks to Heather G. and her amazing photographer Amber Gress for our snap of the week!
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay4')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story4.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#twitter"></use></svg>
			<overlay id="overlay4" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay4'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story4_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#twitter"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				Make sure you are #wellheeled on your wedding day with Solemates! Found on stylemepretty.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay5')">
			<blockquote>
				<p>I put the Solemates on my shoes for my wedding day and not once did I worry about sinking...</p>
				<cite>
					Laura Streifert<br>
					Paoli, PA
				</cite>
			</blockquote>
			<overlay id="overlay5" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay5'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>I put the Solemates on my shoes for my wedding day and not once did I worry about sinking...</p>
							<cite>
								Laura Streifert<br>
								Paoli, PA
							</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		
		<li ng-click="overlay.open('overlay6')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story6.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#instagram"></use></svg>
			<overlay id="overlay6" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay6'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story6_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#instagram"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				Step into the week // 👠📆📇🔗// #mondaymorning #backtothegrind #stepintotheweek #stepintospring #cobblerscouture #springinyourstep #protectyourshoes #shoecare #solemate #wellheeled #create #inspire #builtbygirls #styledby #instablog #instastylist // 📷 @whatwouldvwear 💋
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay7')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story7.jpg" alt="">	
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay7" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay7'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story7_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Make sure you are #wellheeled on your wedding day with Solemates! Found on stylemepretty.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay8')">
			<blockquote>
				<p>I put one High Heeler on one heel and left the other heel without it. OMG the natural heel sunk right in the ground... but the Solemates&trade; heel stayed on top!</p>
				<cite>
					Adrienne West <br>
					Caldwell, NJ
				</cite>
			</blockquote>
			<overlay id="overlay8" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay8'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>I put one High Heeler on one heel and left the other heel without it. OMG the natural heel sunk right in the ground... but the Solemates&trade; heel stayed on top!</p>
							<cite>
								Adrienne West <br>
								Caldwell, NJ
							</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay9')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story9.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay9" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay9'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story9_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Stay #Wellheeled with Solemates! Found on dylandsara.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay10')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story10.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay10" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay10'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story10_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Malted Milkshake Cupcakes - an adorable party treat! Found on cupcakesgarden.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		
		<li ng-click="overlay.open('overlay11')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story11.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay11" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay11'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story11_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Found on buzzfeed.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay12')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story12.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#twitter"></use></svg>
			<overlay id="overlay12" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay12'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story12_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#twitter"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				Great day visiting @Nordstrom in Honolulu! Such a marvelous team here! #nordstromhawaii @nordstromhawaii #shopping
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay13')">
			<blockquote>
				<p>I truly believe these should be marketed to women frequent fliers and available in every airport!</p>
				<cite>Michele Kohl <br>Denver, CO</cite>
			</blockquote>
			<overlay id="overlay13" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay13'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>I truly believe these should marketed to women frequent fliers and be available in every airport!</p>
							<cite>Michele Kohl <br>Denver, CO</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay14')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story14.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay14" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay14'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story14_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Stunning Wedding Dresses by Anna Campbell 2013
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay15')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story15.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay15" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay15'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story15_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Nothing like a mason jar and some pink lemonade. #Wedding #Treats Found on happywedd.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		
		<li ng-click="overlay.open('overlay16')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story16.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#instagram"></use></svg>
			<overlay id="overlay16" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay16'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story16_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#instagram"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				#repost thanks @thelanawwe for sharing your #wellheeled moment with your fans!
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay17')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story17.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#twitter"></use></svg>
			<overlay id="overlay17" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay17'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story17_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#twitter"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				Love is like jumping into cold water, it takes your breath away every time #Weddingwednesday
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay18')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story18.jpg" alt="">
				<img class="customer-stories__image" src="img/story18.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay18" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay18'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story18_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Cute! Found on esty.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay19')">
			<blockquote>
				<p>Solemates&#0153; arrived in time and were the perfect solution for an outdoor wedding and reception.</p>
				<cite>Colleen Ball <br>Mt. Pleasant, SC</cite>
			</blockquote>
			<overlay id="overlay19" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay19'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>Solemates&#0153; arrived in time and were the perfect solution for an outdoor wedding and reception.</p>
							<cite>Colleen Ball <br>Mt. Pleasant, SC</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay20')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story20.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay20" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay20'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story20_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#pinterest"></use>
				</svg>
				<span>The SoleMates</span>
				</cite>
				<blockquote class="quote">
				Sparkly. Found on weekendattire.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		
		<li ng-click="overlay.open('overlay21')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story21.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#pinterest"></use></svg>
			<overlay id="overlay21" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay21'" class="">
				<div class="overlay__body">
					<figure class="image">
						 <img class="customer-stories__image" src="/assets/img/customer-stories/story21_large.jpg" alt=""> 
					</figure>
					<div class="text">
						<cite class="attribution">
							<svg class="icon">
								<use xlink:href="#pinterest"></use>
							</svg>
							<span>The SoleMates</span>
						</cite>
						<blockquote class="quote">
							Stay #Wellheeled with Solemates! Found on weddingchicks.com
							<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay22')">
			<blockquote>
				<p>THANK YOU, THANK YOU, THANK YOU!</p>
				<cite>Nancy Hammond<br>Preston, WA</cite>
			</blockquote>
			<overlay id="overlay22" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay22'" class="overlay--text-only">
				<div class="overlay__body">
					<div>
						<blockquote class="customer-story">
							<p>THANK YOU, THANK YOU, THANK YOU!</p>
				<cite>Nancy Hammond<br>Preston, WA</cite>
							<a href="" class="btn btn--white">Shop Products</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay23')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story23.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#instagram"></use></svg>
			<overlay id="overlay23" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay23'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story23_large.png" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#instagram"></use>
				</svg>
				<span>thesolemates</span>
				</cite>
				<blockquote class="quote">
				Love is like jumping into cold water, it takes your breath away every time #Weddingwednesday
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay24')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story24.jpg" alt=""> 
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#facebook"></use></svg>
			<overlay id="overlay24" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay24'" class="overlay--horizontal">
				<div class="overlay__body">
					<figure class="image">
						 <img class="customer-stories__image" src="/assets/img/customer-stories/story24_large.jpg" alt=""> 
					</figure>
					<div class="text">
						<cite class="attribution">
							<svg class="icon">
								<use xlink:href="#facebook"></use>
							</svg>
							<span>The SoleMates High Heeler</span>
						</cite>
						<blockquote class="quote">
							Love is like jumping into cold water, it takes your breath away every time #Weddingwednesday
							<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
						</blockquote>
					</div>
				</div>
			</overlay>
		</li>
		<li ng-click="overlay.open('overlay25')">
			<figure>
				<img class="customer-stories__image" src="/assets/img/customer-stories/story25.jpg" alt="">
			</figure>
			<svg class="customer-stories__attribution"><use xlink:href="#facebook"></use></svg>
			<overlay id="overlay25" group="customer-stories" ng-show="overlay.activeOverlay.id == 'overlay25'" class="">
				<div class="overlay__body">
				<figure class="image">
				<img class="customer-stories__image" src="/assets/img/customer-stories/story25_large.jpg" alt=""> 
				</figure>
				<div class="text">
				<cite class="attribution">
				<svg class="icon">
				<use xlink:href="#facebook"></use>
				</svg>
				<span>The SoleMates High Heeler</span>
				</cite>
				<blockquote class="quote">
				Photo Credit: Carly Erickson/BFAnyc.com
				<br><a href="http://bit.ly/SolematesShop" target="_blank">bit.ly/SolematesShop</a>
				</blockquote>
				</div>
				</div>
			</overlay>
		</li>
		
	</ul>
</section>
