{layout="layouts/_sidebar"}

{layout:set name="upper"}
	<div class="headline">
		<h1>Shipping <mark>Info</mark></h1>
	</div>
{/layout:set}

{layout:set name="content"}
	<section class="top-rule" anchor="online-ordering-process">
		<h2>Online Ordering Process</h2>
		<p>Orders are processed Monday through Friday. Orders are not processed on weekends or United States Federal holidays.</p>
		<p>Please note that the daily order processing cut-off time is 12:00AM EST. All orders placed after 12:01AM EST will ship within 48 hours. For example, orders placed on Monday, will process and ship on Wednesday. Orders placed on Friday will process and ship on Monday, etc. Orders do not process or ship the same day they are placed.</p>
		<figure class="text-center">
			<img src="/assets/img/shipping_transit_days.jpg" width="460" height="293" alt="Transit Days">
		</figure>
	</section>
	<section class="top-rule" anchor="shipping-options">
		<h2>Shipping Options Within the United States</h2>
		<h4>Basic Shipping</h4>
		<ul>
			<li><strong>United States Postal Service (USPS) - First Class (7-28 days depending on location)</strong><br>This service is available for orders of 1 – 4 pairs. USPS orders do not come with tracking or shipping confirmation. Customers that wish to receive tracking information on USPS orders must contact SoleMates Customer Service directly.</li>
		</ul>
		<h4>Expedited Shipping</h4>
		<ul>
			<li><strong>United Parcel Service (UPS)</strong><br>Shipping confirmation emails are sent directly from UPS that include tracking numbers. We strongly encourage the use of UPS on all orders to ensure timely, track-able delivery. Please note that we ship from Connecticut. Orders do not process or ship the same day they are placed.</li>
			<li><strong>Next Day Air (Next business day delivery by end of day)</strong><br>This service is available to the 48 contiguous states. This service offers guaranteed next-day delivery for peace of mind. Please note that orders must be placed before the processing cut-off time in order to qualify for “next day” service.</li>
			<li><strong>2nd Day Air (2 business days - Delivery by the end of the 2nd business day)</strong><br>This service is available to all 50 states and Puerto Rico, with some limitations in Alaska and Hawaii (may require additional transit times for some locations in Alaska and Hawaii).</li>
			<li>
				<strong>Ground (2-6 business days depending on location – Day definite delivery)</strong><br>This service is available to all 50 states and Puerto Rico.
				<div class="footnote">
					<p>*Merchandise shipped via UPS (<a href="http://www.ups.com/">United Parcel Service</a>) must use a valid street address for the shipping address. UPS will NOT make deliveries to a P.O. Box (Post Office Box).</p>
					<p>Before ordering please be aware that UPS does not transport packages over the weekend. This means that you should not count Saturday and Sunday as delivery days. For example a UPS 2nd Day Air package ordered on a Wednesday (assuming the items are in stock), will ship Thursday and be delivered on Monday, not on Saturday. Likewise, a Next Day Air shipment ordered on Friday will ship on Monday and be delivered on Tuesday. For further UPS specific shipping information such as non-shipping holidays and policies please refer to the UPS Customer Service page at: <a href="http://www.ups.com/">www.ups.com</a></p>
				</div>
			</li>
		</ul>
	</section>
	<section class="top-rule" anchor="international-shipping-options">
		<h2>International Shipping Options</h2>
		<p>We currently use the USPS (United States Postal Service) and the UPS Expedited Shipping for all International shipments. International Shipments may be subject to local customs and brokerage fees which vary by country. Please check with your local customs house to confirm fees. International orders are not eligible for free shipping. All shipping charges are calculated in US Dollars (USD).</p>
		<h4>United States Postal Service (USPS)</h4>
		<ul>
			<li><strong>First Class International (varies depending on location)</strong><br>This service offers the ability to ship virtually anywhere at reasonable prices. Contact SoleMates Customer Service for tracking information.</li>
		</ul>
		<h4>United States Postal Service Expedited Shipping</h4>
		<ul>
			<li><strong>Priority Mail International</strong><br>Estimated 6-10 days delivery, subject to local customers and clearance delays, including tracking.</li>
			<li><strong>Express Mail International</strong><br>Estimated 3-5 days to delivery, subject to local customers and clearance delays, including tracking.</li>
		</ul>
	</section>
	<section class="top-rule" anchor="duties-taxes">
		<h2>International Duties and Taxes</h2>
		<p>There may be duties and taxes imposed on your order which are not reflected in our prices. Please check with your local Customs office to obtain a list of those charges. In addition to this some countries may charge and additional handling fee for delivery within that country.</p>
		<p>If you have any questions about an existing or future order, please contact us directly:</p>
		<p>
			Solemates™ LLC<br>
			Phone: 877-356-3443<br>
			Fax: 203-724-4158<br>
			Email: <a href="mailto:info@thesolemates.com">info@thesolemates.com</a>
		</p>
	</section>
{/layout:set}

{layout:set name="sidebar"}
	<div class="onpage-nav top-rule" affix ng-class="{fixed: active}">
		<ul>
			<li><a a-href="online-ordering-process">Online Ordering Process</a></li>
			<li><a a-href="shipping-options">Shipping Within the U.S.</a></li>
			<li><a a-href="international-shipping-options">International Shipping Options</a></li>
			<li><a a-href="duties-taxes">International Duties and Taxes</a></li>
		</ul>
	</div>
{/layout:set}