{layout="layouts/_about"}

<section>
	
	<div class="container">
	
		<div class="headline">
			<h1>Contact</h1>
		</div>
	
		<div class="row">
			<div col-sm="12" col-lg="4" class="top-col">
				<h4>Headquarters</h4>
				<p>
					104 W 27th St., Suite 11A<br>
					New York, NY 10001
				</p>
				<h4>All Inquiries</h4>
				<p><a href="mailto:info@thesolemates.com">info@thesolemates.com</a></p>
				<h4>Customer Service</h4>
				<p><a href="tel:877-356-3443">877-356-3443</a></p>
			</div>
			<div col-sm="12" col-lg="8">
				<google-map latitude="40.745545" longitude="-73.991565" ng-cloak>
					<div class="gmap-info">
						<h4>Solemates</h4>
						<p>104 W 27th St., Suite 11A<br>New York, NY 10001<br>877-356-3443<br><a href="https://goo.gl/maps/DxTpX" target="_blank">Get Directions</a></p>
					</div>
				</google-map>
			</div>
		</div>
	
	</div>
	
</section>