{layout="layouts/_about"}

<section class="bg-dark">
	<div class="container">
		<div class="headline centered">
			<h1>Press</h1>
			<p>For press inquires, please contact <a href="mailto:info@thesolemates.com">info@thesolemates.com</a></p>
		</div>
		<ul class="press-grid" animate-in>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/OprahFeature.pdf" style="background-color: #71257d;">
					<img src="/assets/img/press/oprah-mag.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.realsimple.com/work-life/life-strategies/problem-solvers-74" style="background-color: #fcbb11;">
					<img src="/assets/img/press/real-simple.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/People.pdf" style="background-color: #ec0389;">
					<img src="/assets/img/press/people-stylewatch.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/nytimes.pdf" style="background-color: #000000;">
					<img src="/assets/img/press/nytimes-fashion.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			
			<li>
				<a target="_blank" href="http://www.buzzfeed.com/alannaokun/wedding-survival#.ayd42d6B6" style="background-color: #ee3624;">
					<img src="/assets/img/press/buzzfeed.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://www.glamour.com/weddings/blogs/save-the-date/2014/11/lauren-conrad-wedding-pictures-essentials" style="background-color: #000;">
					<img src="/assets/img/press/glamour.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/USAToday_1.10.11.pdf" style="background-color: #009fda;">
					<img src="/assets/img/press/usatoday.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/Seventeen.pdf" style="background-color: #ff4200;">
					<img src="/assets/img/press/seventeen.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/TheKnot.pdf" style="background-color: #a1d0ec;">
					<img src="/assets/img/press/theknot.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/photo.pdf" style="background-color: #34619a;">
					<img src="/assets/img/press/forbes.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/ConradWedding.pdf" style="background-color: #d54e9b;">
					<img src="/assets/img/press/us-weekly.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a ng-click="overlay.open('overlay1')" target="_blank" href="" style="background-color: #f4f2e7;">
					<img src="/assets/img/press/today-show.png" alt="">
					<span class="overlay">View</span>
				</a>
				<overlay id="overlay1" ng-show="overlay.activeOverlay.id == 'overlay1'" class="overlay--video">
					<div class="overlay__body">									
						<video id="video-how-it-works" class="video-js vjs-default-skin" controls preload="none"
							poster=""
							data-setup="{}" >
							<source src="https://www.thesolemates.com/uploads/videos/today-show/solematesnbc04259am_Today_Show_4.25.m4v" type='video/mp4' />
							<source src="https://www.thesolemates.com/uploads/videos/today-show/solematesnbc04259am_Today_Show_4.25.webm" type='video/webm' />
							<source src="https://www.thesolemates.com/uploads/videos/today-show/solematesnbc04259am_Today_Show_4.25.ogg" type='video/ogg' />
						</video>
					</div>
				</overlay>
			</li>
			
			<li>
				<a ng-click="overlay.open('overlay2')" target="_blank" href="" style="background-color: #000000;">
					<img src="/assets/img/press/the-view.png" alt="">
					<span class="overlay">View</span>
				</a>
				<overlay id="overlay2" ng-show="overlay.activeOverlay.id == 'overlay2'" class="overlay--video">
					<div class="overlay__body">									
						<video id="video-how-it-works" class="video-js vjs-default-skin" controls preload="none"
							poster=""
							data-setup="{}" >
							<source src="https://www.thesolemates.com/uploads/videos/the-view/solematestheviewabc02_1511am.m4v" type='video/mp4' />
							<source src="https://www.thesolemates.com/uploads/videos/the-view/solematestheviewabc02_1511am.webm" type='video/webm' />
							<source src="https://www.thesolemates.com/uploads/videos/the-view/solematestheviewabc02_1511am.ogg" type='video/ogg' />
						</video>
					</div>
				</overlay>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/bride.pdf" style="background-color: #ed008c;">
					<img src="/assets/img/press/shape.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="http://lover.ly/planning/wedding-planning/brilliant-wedding-hacks/16916/?utm_source=content&utm_medium=email&utm_content=weddinghacks&utm_campaign=sunday&utm_term=MASTERLIST" style="background-color: #444444;">
					<img src="/assets/img/press/loverly.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/elle_france.pdf" style="background-color: #ff0816;">
					<img src="/assets/img/press/elle.png" alt="">
					<span class="overlay">View</span>
				</a>
			</li>
		</ul>
	</div>
</section>
