{layout="layouts/_about"}

<section>
	<div class="container">
	
		<div class="headline centered">
			<h1>Solemates was created by two girls who hated to ruin their shoes.</h1>
			<p>They set out to invent a solution that would prevent heels from sinking into the grass.  Since launching a few years ago, they have grown into a NYC based-team that provides shoe care solutions for women who love shoes as much as they do.</p>
			<p><a href="mailto:info@thesolemates.com">info@thesolemates.com</a></p>
		</div>
	
	</div>
</section>

<figure class="full-width">
	<img src="/assets/img/figure_about-us.jpg">
</figure>

<section class="bg-dark">
	<div class="container">
		<div class="headline centered">
			<h2>In the Press</h2>
		</div>
		<ul class="featured-press">
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/OprahFeature.pdf"><figure><img src="/assets/img/oprah-magazine.png" alt="THE OPRAH MAGAZINE"></figure></a>

				<h3><a target="_blank" href="https://www.thesolemates.com/uploads/press_media/OprahFeature.pdf">Ingenious Solemates</a></h3>
				<p>Slip over your heels to keep you grounded on all kinds of soft surfaces. They'll also keep you safe from ankle-twisting, ego-bruising altercations with sidewalk grates and cobblestones all year round.</p>
			</li>
			<li>
				<a target="_blank" href="https://www.thesolemates.com/uploads/press_media/People.pdf"><figure><img src="/assets/img/people-stylewatch.png" alt="People Magazine - StyleWatch"></figure></a>

				<h3><a target="_blank" href="https://www.thesolemates.com/uploads/press_media/People.pdf">7 Essentials to Pack If You're Attending a Summer Wedding—Especially If You're the Bride</a></h3>
				<p>Your pretty heels don't stand a chance against wooden decks, gravel, grass, or sand. Protect your shoes, and prevent any potential face-plants, with a pair of Solemates, which are little plastic covers that slide over the bottoms of your heels and keep you from sinking-or getting stuck.</p>
			</li>
			<li>
				<a target="_blank" href="http://www.realsimple.com/work-life/life-strategies/problem-solvers-74"><figure><img src="/assets/img/real-simple.png" alt="Real Simple"></figure></a>

				<h3><a target="_blank" href="http://www.realsimple.com/work-life/life-strategies/problem-solvers-74">Secret Accessories</a></h3>
				<p>A must-have for outdoor weddings, these stop your heels from sinking into the ground.</p>
			</li>
		</ul>
		<div class="text-center">
			<a href="{path="about/in-the-press"}" class="btn">view all press</a>
		</div>
	</div>
</section>
