* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $charcoal;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

::selection {
	background: lighten($black, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

::moz-selection {
	background: lighten($black, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

.oldies {
	background: lighten($charcoal, 20%);
	color: $white;
	text-align: center;
	padding: 1rem 0;
}

code {
	display: block;
	padding: 2rem;
	background: lighten($charcoal, 10%);
	border: 2px solid $charcoal;

	p {
		color: $white;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
	}
}

#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px; 
	top: -9999px;
	height: 1px;
	width: 1px;
}

select {
	cursor: pointer;
}
