// primary styles 

$black: #000;
$charcoal: #3a3a3a;
$white: #fff;

$orange: #E85E39;
$genova-red: #ed1c24;
$genova-green: #00853e;
$genova-green-hover: #009c49;
$genova-brown: #4d442e;
$genova-lightbrown: #bfad7c; /* They use this color for borders a lot of the time */
$genova-white: #f6f5f1;

.green {
	color: #00853e;
}
.white {
	color: #fff;
}