// grid variables that override neat

@import "../libs/neat/neat-helpers"; 

// Change the grid settings
//$column: 90px;
//$gutter: 30px;
$grid-columns: 12;
$max-width: 1020px; // just a starter
 
$mediumWidth: 580px;
$largeWidth: 769px;
$xlargeWidth: 900px;

// Define your breakpoints
// Break points are set to match the actual PSD width
$break320: new-breakpoint(max-width 320px 4);
//Temp fix to make sure all breaks from old grid and new happen at same time
$break440: new-breakpoint(max-width 580px 4);
$break500: new-breakpoint(max-width 500px 4);
$break600: new-breakpoint(max-width 600px 4);
$break700: new-breakpoint(max-width 769px 8);
$break840: new-breakpoint(max-width 840px 12);
$break960: new-breakpoint(max-width 960px 12);
$break1440: new-breakpoint(max-width 1440px 12);

$small-only: new-breakpoint(max-width ($mediumWidth - 1));
$medium: new-breakpoint(min-width $mediumWidth);
$medium-down: new-breakpoint(max-width ($largeWidth - 1));
$medium-only: new-breakpoint(min-width $mediumWidth max-width ($largeWidth - 1));
$large: new-breakpoint(min-width $largeWidth);
$large-down: new-breakpoint(max-width ($xlargeWidth - 1));
$large-only: new-breakpoint(min-width $largeWidth max-width ($xlargeWidth - 1));
$xlarge: new-breakpoint(min-width $xlargeWidth);


//$visual-grid: true;
