// sticky footer
html,body {height:100%;}
.outerwrapper {
	display:table; width:100%; height:100%;
}
.innerwrapper {
	display:table-row;
}
.lowerwrapper {
	display:table-footer-group;
}

// general wrapper class
.wrapper {
	@include outer-container;
	@include clearfix;
	max-width: $max-width;
	padding: 0 40px;
	
	@include media($break440) {
		padding: 0 40px;
	}
}

.wrapper--fullwidth {
	max-width: 1330px;
}

.content_section {
	position: relative;
}

.call_to_action {
	text-align: center;
	//padding-bottom: 70px;
	text-transform: uppercase;
	font-family: $freightSemiBold;
	font-weight: 600;
	font-size: 16px;
	line-height: 30px;
	margin-top: 24px;
	
	@include media($break700) {
		//margin-top: 0px;
	}
	
	@include media($break440) {
		//margin-top: 4px;
		//padding-bottom: 71px;
	}
	
	.fa {
		font-size: 13px;
		padding-left: 10px;
	}
	
	button {
		border: 0;
		background: none;
		outline: none;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 16px;
		-webkit-font-smoothing: antialiased;
		&:hover {
			color: $genova-green-hover;
		}
	}
	
	.section_body + & {
		margin-top: 7px;
	}
}

.double_sided_border {
	text-align: center;
	margin-bottom: 20px;
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	
	&:before {
		content: " ";
		background-image: url('../images/double-sided-border.png');
		background-size: 100% 2px;
		background-repeat: no-repeat;
		width: 100%;
		height: 2px;
		float: left;
		position: relative;
		margin-bottom: 35px;
	}
}

.left-border-divider {
	margin-bottom: 20px;
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	
	&:before {
		content: " ";
		background-image: url('../images/CMS-Images/left-heavy-divider.png');
		background-size: 100% 2px;
		background-repeat: no-repeat;
		width: 100%;
		height: 2px;
		float: left;
		position: relative;
		margin-bottom: 35px;
	}
}

.divider {
	width: 100%;
	height: 2px;
	background: url('../images/divider.png') right 0 no-repeat;
	
	@include media($small-only) {
		background: url('../images/hero-divider-mobile.png') center 0 no-repeat;
	}
}

.bordered_title {
	@include clearfix;
	text-align: center;
	
	.faded_left {
		display: inline-block;
		height: 25px;
		width: 33%;
		margin-bottom: 0;
	}
	
	.faded_right {
		display: inline-block;
		height: 25px;
		margin-bottom: 0;
		width: 33%;
	}
	
	.recipe_type_name {
		margin: 0;
		background: #eeebe3;
		padding: 0 20px;
		display: inline-block;
		
		@include media($break440) {
			margin-bottom: 10px;
		}
	}
	
	img {
		margin-top: 15px;
		width: 100%;
		display: block;
		height: 1px;
	}
}

.long_border {
	background-image: url('../images/long-border.png');
	background-size: 100% 2px;
	max-width: 960px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 50px 0px;
	
	@include media($break700) {
		margin: 30px 0px;
	}
}

.fake-hr {
	display: block;
	width: 100%;
	height: 1px;
	
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(255, 255, 255)),
		color-stop(0.5, rgb(201, 199, 192)),
		color-stop(1, rgb(255, 255, 255))
	);
	background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(77, 68, 46, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(77, 68, 46, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(77, 68, 46, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(77, 68, 46, 1) 50%, rgba(255, 255, 255, 0) 100%);
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(77, 68, 46, 1) 50%, rgba(255, 255, 255, 0) 100%);
}