// mixins
@mixin transition($time) {
	-webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -ms-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}

@mixin recipe-drop-shadow() {
	box-shadow: 0px 2px 0px rgba(51,51,51,0.3);
}

@mixin menu-text-shadow() {
	text-shadow: 0px 1px 0px rgba(0,0,0, 0.5);
}

@mixin btn() {
	margin: 25px auto 0 auto;
	display: inline-block;
	cursor: pointer;
	padding: 5px 15px;
	font-size: 16px;
	font-weight: 500;
	min-width: 140px;
	text-transform: uppercase;
	text-align: center;
	color: $white !important;
	background:#007938;
	border: none;
	border-radius: 2px;
	
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(0, 133, 62)),
		color-stop(0.95, rgb(0, 111, 52)),
		color-stop(0.95, rgb(0, 81, 38))
	);
	background-image: -o-linear-gradient(top, rgb(0, 133, 62) 0%, rgb(0, 111, 52) 95%, rgb(0, 81, 38) 95%);
	background-image: -moz-linear-gradient(top, rgb(0, 133, 62) 0%, rgb(0, 111, 52) 95%, rgb(0, 81, 38) 95%);
	background-image: -webkit-linear-gradient(top, rgb(0, 133, 62) 0%, rgb(0, 111, 52) 95%, rgb(0, 81, 38) 95%);
	background-image: -ms-linear-gradient(top, rgb(0, 133, 62) 0%, rgb(0, 111, 52) 95%, rgb(0, 81, 38) 95%);
	background-image: linear-gradient(to top, rgb(0, 133, 62) 0%, rgb(0, 111, 52) 95%, rgb(0, 81, 38) 95%);
	
	&:hover {
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(0, 158, 74)),
			color-stop(0.95, rgb(0, 138, 64)),
			color-stop(0.95, rgb(0, 81, 38))
		);
		background-image: -o-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -moz-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -webkit-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: -ms-linear-gradient(top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
		background-image: linear-gradient(to top, rgb(0, 158, 74) 0%, rgb(0, 138, 64) 95%, rgb(0, 81, 38) 95%);
	}
}

@mixin vertCenter($position, $offset:-50%) {
	@include transform(translateY($offset));
	position:$position; top:50%;
}

@mixin centered($hasDimensions: true) {
	@if $hasDimensions {
		display:block; float:none !important; margin-left:auto !important; margin-right:auto !important;
	}
	@else {
		// centers horizontally + vertically when dimensions are unknown
		// container must be position: relative
		position: absolute; top:50%; left:50%; @include transform(translate(-50%,-50%));
	}
}
