.medium--hide {
	@include media($medium) {
		display: none;
	}
}

.medium--show {
	@include media($medium) {
		display: block;
	}
}

.medium-down--hide {
	@include media($medium-down) {
		display: none;
	}
}

.medium-down--show {
	@include media($medium-down) {
		display: block;
	}
}

.small--hide {
	@include media($small-only) {
		display: none;
	}
}
//
//.medium-down--hide {
//	@include media($medium-down) {
//		display: none;
//	}
//}
//
//.medium-down--show {
//	@include media($medium-down) {
//		display: block;
//	}
//}