// typography baselines and @font face setups

$freightSemiBold: "freight-sans-pro", sans-serif;
// Freight Sans Semibold - 600
$freightSans: "freight-sans-pro", sans-serif;
//$freightSans: 'Freight Sans Pro W03', sans-serif;
// Freight Sans Light - 200
// Freight Sans Book - 300
// Freight Sans Medium - 500
$freightText: "freight-text-pro", serif;
//$freightText: 'Freight Text W00', serif;
// Freight Text Light - 200
// Freight Text Book - 300
// Freight Text Medium - 500
// Freight Text Bold - 700
// Freight Text Black - 800

h1, h2, h3, h4, h5, h6 {
	font-family: $freightText;
}

html {
	font-family: $freightSans;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	
	body {
		color: $genova-brown;
		font-size: 20px;
		line-height: 30px;
		
		@include media($break700) {
			font-size: 18px;
			line-height: 25px;
		}
	}
}

h1 {
	font-size: 50px;
	line-height: 55px;
	font-weight: 200;
	text-align: center;
	
	@include media($break960) {
		font-size: 40px;
		line-height: 50px;
	}
	
	@include media($break700) {
		font-size: 35px;
		line-height: 40px;
	}
	
	&.centered_header {
		text-align: center;
	}
}

h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 200;
	text-align: center;
	
	@include media($break700) {
		font-size: 25px;
		line-height: 30px;
		margin-top: 60px;
	}
	
	&.section_title {
		font-size: 50px;
		line-height: 60px;
		margin-top: 65px;
		margin-bottom: 65px;
		
		@include media($break960) {
			font-size: 40px;
			line-height: 50px;
			margin-top: 66px;
		}
		
		@include media($break700) {
			font-size: 35px;
			line-height: 40px;
		}
		
		@include media($break440) {
			margin-top: 31px;
		}
	}
	&.strikethrough {
		display:table; width:100%; margin:30px 0; font-size:40px; line-height:45px; text-align:center;
		&:before, &:after {
			display:table-cell; background:url('../images/long-border.png') left center no-repeat; content:''; width:50%;
		}
		&:after {
			background-position:right center;
		}
		span {
			display:table-cell; white-space:nowrap; padding:0 20px;
		}
		@include media($break840) {
			font-size:35px; line-height:40px;
		}
		@include media($break600) {
			&:before {display:none;}
			&:after {
				display:block; width:100%; height:2px; background:url('../images/double-sided-border.png') no-repeat; background-size:100% 2px;
			}
			span {
				display:block; margin-bottom:14px; white-space:normal;
			}
		}
	}
}

.recipes {
	padding-top:20px;
	h2 {
		margin-bottom: 50px;
		
		@include media($break960) {
			margin-bottom: 48px;
		}
		
		@include media($break700) {
			margin-bottom: 35px;
		}
		
		@include media($break600) {
			margin-top: 35px;
			margin-bottom: 40px;
		}
	}
}

.bordered_title {
	h2 {
		font-size: 40px;
		line-height: 50px;
	}
}

h3 {
	font-size: 25px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 30px;
	font-family: $freightSans;
	font-weight: 400;
	margin-top: 17px;
	
	@include media($break700) {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 54px;
	}
	
	@include media($break440) {
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 30px;
	}
}

h4 {
	font-size: 30px;
	line-height: 40px;
	margin-top: 0px;
	margin-bottom: 7px;
	font-weight: 200;
	display: inline-block;
}

.semibold {
	font-family: $freightSemiBold;
	font-weight: 600;	
}

p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 200;
	
	@include media($break700) {
		font-size: 18px;
		line-height: 25px;
	}
	&.subheadline { 
		text-align: left; color: #fff; font-size: 25px; line-height: 30px;
		@include media($small-only) {
			text-align: center;
		}
	 }
}

a {
	color: $genova-green;
	&:hover {
		color: $genova-green-hover;
	}
}

sup {
	font-size:30%; top:-1.5em;
}