{layout="layouts/_blog"}

{layout:set name="wrapperClass" value="no-headline"}

{layout:set name="content"}
	{exp:channel:entries channel="blog" dynamic="no" url_title="{segment:entry}" cache="{cache_setting}" refresh="{cache_refresh}" disable="member_data" limit="1"}
		<h1>{title}</h1>
		<span class="blog__date">{entry_date format="%F %j, %Y"}</span>
		{blog_article}
		<div id="disqus_thread" class="blog__comments"></div>
		<script type="text/javascript">
			var disqus_shortname = 'solemates', disqus_identifier = 'blog_{entry_id}';
			(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
	{/exp:channel:entries}
{/layout:set}
