{layout="layouts/_blog"}

{layout:set name="upper"}
	<div class="headline centered">
		<h1><mark>Be</mark> Inspired</h1>
		<p>
			Solemates™ brings you a blog about all the moments in life, both little and big, to celebrate without worrying (about your heels).<br>
			{encode="share@thesolemates.com" title="Share Your Stories & Photos"}
		</p>
	</div>
{/layout:set}

{layout:set name="content"}
	{exp:channel:entries channel="blog" orderby="date" sort="desc" limit="5" dynamic="no" cache="{cache_setting}" refresh="{cache_refresh}" disable="category_fields|member_data" paginate="bottom" {triggers:entries}}
		<article class="blog__article row top-rule">
			<figure col-sm="hidden" col-md="5" col-right>
				<img src="{blog_lead_image}">
			</figure>
			<div col-sm="12" col-md="7">
				<h2 class="blog__title"><a href="{route="blog/entry" entry="{url_title}"}">{title}</a></h2>
				<span class="blog__date">
					{entry_date format="%F %j, %Y"}
				</span>
				<p>{exp:snippet total="350" ellipsis="..."}{blog_article}{/exp:snippet}</p>
				<p class="footnote">
					Category: {categories backspace="2"}<a href="{path='blog'}">{category_name}</a>, {/categories}
				</p>
			</div>
		</article>
		{paginate}
			{pagination_links}
				<ul class="pagination">
					{first_page}
						<li><a href="{pagination_url}">First</a></li>
					{/first_page}
					{previous_page}
						<li class="prev-page"><a href="{pagination_url}">&lt;</a></li>
					{/previous_page}
					{page}
						<li class="{if current_page}active{/if}"><a href="{pagination_url}">{pagination_page_number}</a></li>
					{/page}
					{next_page}
						<li class="next-page"><a href="{pagination_url}">&gt;</a></li>
					{/next_page}
					{last_page}
						<li><a href="{pagination_url}">Last</a></li>
					{/last_page}
				</ul>
			{/pagination_links}
		{/paginate}
	{/exp:channel:entries}
	
{/layout:set}
