{layout="layouts/_site"}

{layout:set name="secondary_nav"}
	<div class="secondary-nav">
		<a href="{path="about"}" {if segment_2 == ""}class="active"{/if}>Company</a>
		<a href="{path="about/in-the-press"}" {if segment_2 == "in-the-press"}class="active"{/if}>In the Press</a>
		<a href="{path="about/contact"}" {if segment_2 == "contact"}class="active"{/if}>Contact</a>
	</div>
{/layout:set}

{layout:contents}