{layout="layouts/_sidebar"}

{layout:set name="sidebar"}
	<div class="top-rule">
		<h3>Follow Us</h3>
		{embed="embeds/_social" class="sidebar__social"}
		<h3>Categories</h3>
		{exp:zoo_triggers:categories channel="blog" show_counter="no" path="/blog/category"}
		<h3>Archive</h3>
		{exp:zoo_triggers:archive channel="blog" path="/blog/archive" show_counter="no" style="list" show_all="no" limit="5" type="yearly"}
		<h3>Other Blogs We Like</h3>
		<ul>
			<li><a href="http://www.weddingbee.com/" target="_blank">Weddingbee</a></li>
			<li><a href="http://cocoperez.com/" target="_blank">CocoPerez</a></li>
			<li><a href="http://www.stylescoop.co.za/" target="_blank">StyleScoop</a></li>
			<li><a href="http://diybride.com/" target="_blank">DIY Bride</a></li>
			<li><a href="http://blog.weddingism.com/" target="_blank">Weddingism Blog</a></li>
			<li><a href="http://www.weddingbycolor.com/" target="_blank">Wedding By Color</a></li>
		</ul>
	</div>
{/layout:set}