{layout="layouts/_site"}

<section class="{layout:wrapperClass}">
	
	<div class="container">
	
		{layout:upper}
		
		<div class="row">
			<article class="blog__page" col-sm="12" col-lg="8">
				
				{layout:content}
				
			</article>
			<div class="sidebar">
				
				{layout:sidebar}
				
			</div>
		</div>
	
	</div>
	
</section>
