<!DOCTYPE html>
<html class="no-js" ng-app="solemates">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{embed="embeds/_favicon"}
	{exp:seo_lite use_last_segment="yes"}
	<link rel="stylesheet" href="/assets/css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Euphoria Script']
			},
			typekit: {
				id: 'deg8gzy'
			}
		});
	</script>
	<script>
		/* Google Analytics */
		var _gaq = [['_setAccount', '{global:google_analytics}'], ['_trackPageview']];
		(function (d, t) {
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		}(document, 'script'));
		/* Google Tag Manager */
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'//www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-5M7QD7');
	</script>
	{exp:store:cart}
		{if no_items}
			<script>
				var cart = {
					order_qty: "0"
				};
			</script>
		{/if}
		<script>
			var cart = {
				cart_id: "{cart_id}",
				order_qty: "{order_qty}",
				order_subtotal: "{order_subtotal}",
				order_tax: "{order_tax}",
				order_shipping: "{order_shipping}",
				order_total: "{order_total}"
			};
		</script>
	{/exp:store:cart}
</head>

<body ng-controller="MainCtrl">
	{embed="embeds/_sprite"}
	<div class="outerwrapper">
		<div class="upperwrapper">
			<div class="slideout-nav" ng-class="{'slideInRight animated': navIsOpen, 'slideOutRight animated': (!navIsOpen && navWasOpen)}" sm-nav-slideout>
				<a href="" class="slideout__close" ng-click="toggleNav()">
					<svg class="icon">
						<use xlink:href="#close"></use>
					</svg>
				</a>
				<ul class="slideout__primary">
					<li><a href="{path="shop "}">Shop</a></li>
					<li><a href="{path="customer-stories "}">Customer Stories</a></li>
					<li><a href="{path="blog "}">Style Inspiration</a></li>
					<li>
						<a href="{path="about "}">About</a>
						<ul>
							<li><a href="{path="about "}">Company</a>
							</li>
							<li><a href="{path="about/in-the-press "}">Press</a>
							</li>
							<li><a href="{path="about/contact "}">Contact</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="slideout__secondary">
					<li><a href="{path="store-locator "}">Store Locator</a></li>
					<li><a href="{path="shipping-information "}">Shipping</a></li>
					<li><a href="{path="return-policy "}">Returns</a></li>
					<li><a href="/uploads/pdf/Solemates-Sizing-Chart.pdf" target="_blank">Size Guide</a></li>
				</ul>
				{embed="embeds/_social" class="slideout__social"}
			</div>
			<header id="header">
				<div class="top-panel">
					<div class="container">
						<p class="top-panel__message"><strong>Get Free Ground Shipping</strong> on orders $25 & more!</p>
						{embed="embeds/_social" class="top-panel__social"}
					</div>
				</div>
				<div class="container">
					<div class="header__tools">
						<a href="{path="checkout "}" class="cart">
							<svg class="icon">
								<use xlink:href="#cart"></use>
							</svg>
						</a>
						<a href="" class="menu" ng-click="toggleNav()">
							<svg class="icon">
								<use xlink:href="#menu"></use>
							</svg>
						</a>
						<div class="header__mask"></div>
					</div>
					<ul class="header__links">
						<li>
							<a href="{path="store-locator "}">
								<svg class="icon">
									<use xlink:href="#location"></use>
								</svg>
								Store Locator
							</a>
						</li>
						<li>
							<a href="{path="checkout "}">
								<svg class="icon">
									<use xlink:href="#cart"></use>
								</svg>
								Shopping Cart <strong class="ng-cloak">({{ cart.order_qty }})</strong>
							</a>
						</li>
					</ul>
					<a href="/" class="logo"><img src="/assets/img/logo.svg" width="190" alt="Solemates">
					</a>
					<nav class="primary-nav">
						<a href="{path="shop "}" {if segment_1=="shop" }class="active" {/if}>Shop</a>
						<a href="{path="customer-stories "}" {if segment_1=="customer-stories" }class="active" {/if}>Customer Stories</a>
						<a href="{path="blog "}" {if segment_1=="blog" }class="active" {/if}>Style Inspiration</a>
						<a href="{path="about "}" {if segment_1=="about" }class="active" {/if}>About</a>
					</nav>
					<div class="cart--hover ng-cloak ng-animate-fade" ng-if="newProductInCart">
						<p><strong>An item was added to <br>your bag</strong>
						</p>
						<div>
							<span class="one-half">
									<img ng-src="{{ newProductInCart.image }}">
								</span>
							<span class="product-meta one-half">
									<p>{{ newProductInCart.title }}</p>
									<p>{{ newProductInCart.price }}</p>
									<p ng-repeat="modifier in newProductInCart.modifiers">{{ modifier }}</p>
								</span>
						</div>
						<a href="{path="checkout "}" class="btn btn--large btn--black">Checkout</a>
					</div>
				</div>
			</header>
			{layout:secondary_nav}
			<main>
				{layout:contents}
			</main>
		</div>
		<div class="lowerwrapper">
			<footer id="footer">
				<div class="container">
					<nav class="footer__nav">
						<a href="{path="shop "}">Shop</a>
						<a href="{path="about/press "}">Press</a>
						<a href="{path="store-locator "}">Store Locator</a>
						<a href="{path="shipping-information "}">Shipping</a>
						<a href="{path="return-policy "}">Returns</a>
						<a href="/uploads/pdf/Solemates-Sizing-Chart.pdf" target="_blank">Size Guide</a>
						<a href="" class="newsletter" ng-click="overlay.open('newsletter')">
							<svg class="icon">
								<use xlink:href="#email"></use>
							</svg>
							Get Our Newsletter
							<overlay id="newsletter" ng-show="overlay.activeOverlay.id == 'newsletter'" class="overlay--newsletter ng-cloak">
								<div class="overlay__body">
									<div>
										<form action="https://thesolemates.us2.list-manage.com/subscribe/post?u=139fddedc1ef2aec9720d4a8e&amp;id=2bb3e638fc" method="post" target="_blank">
											<h2>Solemates Newsletter</h2>
											<p>
												Sign up to receive fashion tips, new product announcements, and wedding inspirations.
											</p>
											<p class="input">
												<input name="EMAIL" type="text" input-icon="email">
												<input type="submit" value="" btn-icon="circular-arrow">
											</p>
										</form>
									</div>
								</div>
							</overlay>
						</a>
						<a href="{path="about/contact "}">Contact</a>
					</nav>
					<p class="copyright">© {current_time format="%Y"} Solemates™ LLC &nbsp;&nbsp; <a href="{path="privacy-policy"}">Privacy&nbsp;Policy</a> <a href="{path="terms"}">Terms&nbsp;&amp;&nbsp;Conditions</a>
					</p>
				</div>
			</footer>
		</div>
	</div>
	<script src="/assets/js/main.js"></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js" async="async"></script>
	<script type="text/ng-template" id="overlay.html">
		<overlay-controls>
			<a href="" class="overlay__close" ng-click="overlay.close()">
				<svg class="icon">
					<use xlink:href="#close"></use>
				</svg>
			</a>
			<a href="" class="overlay__nav overlay__nav--left" ng-click="overlay.open(overlay.getPrev().id)" ng-if='overlay.hasGroup()'>
				<svg class="icon">
					<use xlink:href="#arrow"></use>
				</svg>
			</a>
			<a href="" class="overlay__nav overlay__nav--right" ng-click="overlay.open(overlay.getNext().id)" ng-if='overlay.hasGroup()'>
				<svg class="icon">
					<use xlink:href="#arrow"></use>
				</svg>
			</a>
		</overlay-controls>
	</script>
</body>
</html>
